[2020-01-03 17:13] epierotto opened #368 "Helmsman is trying to read secrets from all namespaces"
helmsman version: v3.0.0-beta6
helm version: v3.0.0

I have only one namespace defined in my DSF file but Helmsman is trying to get all the secrets across all namespaces, which is failing since that I'm restricting the access of the service account.

I think that Helmsman should limit the search to resources within the namespaces defined in the DSF file.

[code]

[2020-01-03 17:55] Xtigyro opened #369 "[v1.13.1] A New Chart Is Detected Each Time When Local File-System Chart Is Used"
When the chart is hosted in the local file-system, each time `helmsman` is run - the release gets deleted and redeployed.

Logs:
[code]

Tested with Helmsman v1.13.1.

[2020-01-03 18:10] mayppong commented on #355
I think I found a ticket on helm of other people running into the same issues. Just gonna leave the link here for future references. Otherwise, I think this issue is good for closing.
https://github.com/helm/helm/issues/6850

[2020-01-03 18:10] #355 closed

[2020-01-03 18:26] luisdavim commented on #368
I'll open a PR to fix this.

[2020-01-03 18:32] luisdavim commented on #369
Hi @Xtigyro what version of helmsman are you using?

[2020-01-03 18:35] Xtigyro commented on #369
Hey @luisdavim
Tested with Helmsman v1.13.1.

My `.toml`:
[code]

[2020-01-03 18:37] Xtigyro commented on #369
The Helm chart can be cloned from here: https://github.com/Xtigyro/puppetserver-helm-chart

[2020-01-03 18:44] mayppong opened #370 "helmsman 3.0.0-beta4 `--help` text contains misprints"
[code]
and
[code]
probably didn't need to print `default true` twice.

[2020-01-04 10:39] sami-alajrami commented on #370
thanks for reporting @mayppong .. this is already fixed in v3.0.0-beta6 when these flags got deprecated. Instead of `--no-env-values-subst`, there is now the flag `--subst-env-values` which enables substitution of env vars in values files. That is switched off by default.

[2020-01-04 10:39] #370 closed

[2020-01-04 12:48] luisdavim commented on #369
I think the problem here is that the chart name in `Chart.yaml` is not matching the tarball name the name for the tarball should follow the convention `<name>-<version>.tgz` how are you producing the tarball? with the `tar` command directly for using `helm package`?

[2020-01-04 16:18] Xtigyro commented on #369
@luisdavim
Ah - okay, fixed that (https://github.com/Xtigyro/puppetserver-helm-chart/tree/v165). Thank you!

It was packaged with `helm package` and `Chart.yalm` now matches the archive.

Still the same bug occurs though:
[code]

[2020-01-04 23:11] luisdavim commented on #369
Yes, the package name matches the name in chart.yaml now but since you changed the name in chart.yaml it doesn't match the release you have in your cluster. Try running twice and on the second time it should detect it is the same chart.

[2020-01-04 23:25] Xtigyro commented on #369
Yes - that's the result after multiple runs. Between each set of two runs a purge was done to make sure the test was valid.

[2020-01-04 23:46] Xtigyro commented on #369
@luisdavim
And to be even more sure about it:
1. tested with `stable/tomcat` - worked perfectly.
2. and then tested with `chart: "../../tomcat-0.4.0.tgz"` - same issue.

[code]

[2020-01-06 17:12] luisdavim commented on #366
Hi, if `helm init` is trying to create a new deployment using `apiVersion: extensions/v1beta1` this means that the version of `helm` that you are using is too old for the cluster that you're trying to use it with if tiller is already deployed using `apiVersion: extensions/v1beta1` and `helm init` is trying to update it to use `apps/v1`.
I think this is more of helm issue than a helmsman issue.

[2020-01-07 10:12] MichaelVL opened #372 "Helm3.0.0-beta6 requires repos"
The desired state file specifies. that helm repo is an optional field. With helmsman specs that use purely file-system based helm charts, it makes sense to have no repositories, however, helmsman 3.0.0-beta6 fails in this case with the following error:

CRITICAL: While updating helm repos : Error: no repositories found. You must add one before updating

Workaround: Add a dummy repo, like the stabl

[2020-01-07 10:32] sami-alajrami opened #373 "local charts rendering errors are hidden behind helmsman error messsage"
version: v3.0.0-beta6
the following error hides the actual `helm inspect` error
[code]
The actual underlying error is related to YAML rendering error resulting from `helm inspect`. Helmsman should pass on the error messages from helm.

[2020-01-07 13:30] Xtigyro opened #374 "[feature request] Support for HashiCorp Vault Secrets"
Hey Team,

Are there any plans for including basic support for HashiCorp Vault secrets?

[2020-01-07 13:51] sami-alajrami commented on #374
yes, that was planned at some point after v3.0.0 GA release. However, there is still no timeline for it.

[2020-01-07 14:26] #372 closed

[2020-01-07 14:32] Xtigyro commented on #374
Very nice! Thank you!

That might be useful as a start (found it yesterday by chance): https://github.com/roboll/helmfile/pull/906

[2020-01-07 14:34] #373 closed

[2020-01-07 14:41] sami-alajrami commented on #231
this was shipped in v1.11.0. closing this.

[2020-01-07 14:41] #231 closed

[2020-01-07 14:44] sami-alajrami commented on #200
closing this since it is fixed.

[2020-01-07 14:44] #200 closed

[2020-01-07 14:49] #94 closed

[2020-01-07 14:51] sami-alajrami commented on #173
this is fixed in helmsman v3.0.0 as indicated above. Closing this.

[2020-01-07 14:51] #173 closed

[2020-01-07 14:52] sami-alajrami commented on #331
@chenrui333 is it also fixed for helmsman v3.0.0 to use helm v3?

[2020-01-07 15:37] PascalGomolka commented on #366
Yep. you are right. thx for support

[2020-01-07 15:37] #366 closed

[2020-01-07 15:38] chenrui333 commented on #331
@sami-alajrami I used helmv2 for the formula. I think per helmsman upgrade, we can bump the dependency to helmv3.

What is the upgrade path for helmsman users?

[2020-01-07 15:43] chenrui333 commented on #331
Filed a PR for v3.0.0 GA, https://github.com/Homebrew/homebrew-core/pull/48672

[2020-01-07 22:42] luisdavim commented on #366
Oh, I forgot to mention, you can disable the tiller installation **or** use the tillerless mode, check the docs on the v1.x branch https://github.com/Praqma/helmsman/blob/1.x/docs/desired_state_specification.md

[2020-01-09 13:43] debek opened #377 "Helmsman CRD's in --dry-run mode"
Hi,

I have run my helmsman with this flags "--dry-run --show-diff --suppress-diff-secrets --keep-untracked-releases" to check if prometheus-operator will be installed correctly.
After that and check I got a message"
"WARNING: Validation skipped because CRDs are not installed"
Seems like helmsman in dry-run mode don't install CRD's. Have you got work around for it?

[2020-01-09 17:17] epierotto commented on #368
I see that now the `kubectl get secret` is limited to the namespaces from the DSF file.
There is still and issue with this command:
[code]
https://github.com/Praqma/helmsman/blob/master/internal/app/helm_release.go#L26

In Helm 3 the output of that command returns an empty list if the user does not have enough permissions, also it returns a 0 exit code.

[code]

[2020-01-09 23:44] luisdavim commented on #377
that's probably because those CRDs are installed with a hook a dry run won't trigger the hooks and it shouldn't or it wouldn't be a dry run.
you can install those CRDs yourself manuall, helm isn't great managing CRDs anyway, what I normally do it having the CRDs in a separate helm chart that I install first but I think helm v3 has some solution for that, I haven't investigated that yet.

[2020-01-10 08:39] paksu commented on #367
Are you planning to support for kubectl 1.13?

[2020-01-10 11:37] eperdeme opened #380 "error: unknown flag: --purge"
Hello,

Looks like a bug with Helmv3 compatibility.

Helmsman version: v3.0.0
helm - version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}

[code]

[2020-01-10 11:39] eperdeme commented on #380
I'll work around it by deleting the chart via helm without purge.

[2020-01-10 15:08] chenrui333 commented on #331
@sami-alajrami I have updated the formula to v3.0.0 GA, can you take a look at the above PR. I will probably get it merged soonish.

[2020-01-10 20:40] mkubaczyk commented on #377
I've got the same opinion on how to manage CRDs with Helmsman as @luisdavim. We're usually having helm chart named crds and we're always installing it before anything else and I'm not letting other charts install their CRDs on their own. Not as clean as it should be, but pays the bills for now.

[2020-01-10 20:42] mkubaczyk commented on #327
We're using it everywhere we could find a place for that to replace uglier tabular outputs parsing. Do you think current state on v3 is enough to consider this done?

[2020-01-11 09:44] #368 closed

[2020-01-11 09:57] #380 closed

[2020-01-11 09:58] luisdavim commented on #327
Yes, I would say so. Thanks.

[2020-01-11 09:58] #327 closed

[2020-01-15 11:03] neiltingley opened #382 "json: cannot unmarshal - helm diff"
Apologies for asking about an older versions of stuff .

-  helmsman version 1.13.1,
- currrent master of helm-diff
- helm v2.16.0

[code]
I get the same error when doing a helm repo add https://artifactory-url/my-helm-repo

It's this issue, the way artifactory constructs index.yaml. App version is not quoted.

https://www.jfrog.com/jira/browse/RTFACT-20334

[2020-01-18 10:16] evgkrsk opened #385 "Local charts version comparison is broken (1.0 != "1.0")"
Helmsman.yaml:
[code]
~/git/k8s-event-logger/chart/Chart.yaml:
[code]
and that chart already successfully installed:
[code]

BUT it seems like helmsman cant compare 1.0 version with "1.0" version:
[code]

[2020-01-19 13:09] galindro opened #386 "appsTemplates and multiple desired state files"
Hello. First of all congratulations for your work. This project is really very nice.

I would like to being able to define appsTemplates in one DSF and use them in other DSF. But, I'm getting this error:

[code]

This is the content of main.yaml:

[code]

This is the content of teleport.yaml:

[code]

Is it a helmsman's well know behavior or a bug or [mergo limitation](https://github.com/imdario/m

[2020-01-19 13:37] galindro opened #387 "Delete namespaces upon release exclusion"
Would be nice to have a app option that enables namespace deletion upon release exclusion.

[2020-01-19 16:03] mkubaczyk commented on #386
Hi @galindro,

appsTemplates was not introduced with such mergo tool in mind back then. Since I'm not familiarise with mergo, I can only tell that an anchor of &defaults in YAML can be referenced only in the same YAML file it was originally  defined. So your specific use case is that you're having more than one DSF (which are not standalone) and you are merging them into one before running Helmsma

[2020-01-19 16:17] mkubaczyk commented on #385
Hi,

I can't reproduce that on my own. For local chart with Chart.yaml having `version: "1.2.0"`,
command `helm inspect chart <path_to_chart>` on helm 3.0.2 returns just `1.2.0` without quotes. And since `helm inspect` actually drives Validating charts part of Helmsman, code works just fine. Can you try running helm inspect on your own and confirm there's an additional quote signs wrapping version

[2020-01-19 16:41] evgkrsk commented on #385
[code]
helm-3.0.2 binary from official project github releases page.

Also, chart in question can be found at: https://github.com/max-rocket-internet/k8s-event-logger/tree/master/chart

[2020-01-19 18:09] galindro commented on #386
Yes

[2020-01-21 12:48] galindro commented on #261
An option could be used to it. Maybe `--raw`

[2020-01-21 12:53] luisdavim commented on #385
I think this is an unmarshal issue, in yaml, unquoted `1.0` is considered as a number whilst `1.0.0` and `"1.0"` are both strings.

[2020-01-21 12:53] galindro opened #388 "question/feature: namespaceTemplates"
Would be nice if helmsman could provide a namespaceTemplates alongside appsTemplates. This would avoid code repetition like this:

[code]

With namespaceTemplates, it could be rewrite as:

[code]

[2020-01-21 13:06] luisdavim commented on #385
I've opened a PR to fix this.

[2020-01-21 13:29] gdajuk opened #390 "Helmsman apply issue (release web-crm failed: timed out waiting for the condition)"
Hi guys,

I’ve my helmsman deployment set, which works properly for more than 10 kubernetes microservices. Now, I add additional microservice, and it's installing properly, but my CircleCi deployment finished like that:

1. First run (when No helm package is installed/build):
	`Command returned with exit code: 1. And error message: Error: release www-crm failed: timed out waiting for the condition

[2020-01-21 15:00] sharkymcdongles opened #391 "helmsman parallelization needs tuning or maybe I am missing something (2000 threads created at apply)"
I have a deployment plan yaml with 180 or so apps in it. When I run apply against the plan it starts to do a helm search during the validation step.

At this stage I see the cpu threads spike to 2000 and then it dies and fails with a chart cannot be found error despite it existing in the target chart repo. It seems to me it fails with this because the thread dies without a 200 from chartmuseum due

[2020-01-21 16:35] mkubaczyk opened #392 "failed to unmarshal Updated date from Helm when timezone offset is in place of timezone name"
It happened to me many times. On macOS helm sees the Updated date as timezone_offset timezone_name while listing charts in namespace, but the same helm version on Alpine sees it as timezone_offset timezone_offset, which is weird and might be a helm bug, but a mitigation is needed for now.

Example fail:
`failed to unmarshal Helm CLI output: parsing time "2020-01-21 16:05:12.114512000 +0100 +0100"

[2020-01-21 17:23] sharkymcdongles commented on #391
I found this bit in the code:

`func validateReleaseCharts(s *state) error {
        var fail bool
        wg := sync.WaitGroup{}
        c := make(chan string, len(s.Apps))
        for app, r := range s.Apps {
                wg.Add(1)
                go r.validateChart(app, s, &wg, c)
        }
        wg.Wait()
        close(c)
        for err := range c {
                if err != "" {

[2020-01-21 17:48] #385 closed

[2020-01-21 21:52] #392 closed

[2020-01-21 22:10] mkubaczyk commented on #391
That is indeed an issue when such amount of apps is defined in DSF. I’ll find myself a time soon to implement concurrency limit on that

[2020-01-22 02:56] luisdavim commented on #391
I've opened a PR that should fix this issue, can you please give it a try?
Thanks.

[2020-01-22 03:20] luisdavim commented on #390
HI, `failed: timed out waiting for the condition` seems like an error coming from helm, does your chart use any pre or post install hooks? from what you're getting, it sounds like you have a post install hook. You can try increasing the helm timeout property in the helmsman file to allow the post install hook to finish or check if any of the hooks are failing.

[2020-01-22 07:24] sharkymcdongles commented on #391
@luisdavim thanks for the hard work. I have built the binary from your PR and now it works. Well done! I know my PR was bad, but https://meta.m.wikimedia.org/wiki/Cunningham%27s_Law

:+1:

[2020-01-22 09:47] eperdeme commented on #319
Hello @estei ,

Did you ever get this to work ? Seems to do the same under setstring.

[2020-01-22 10:52] eperdeme commented on #319
I can't actually find anyway to do what I want;

So result in the Helm chart yaml needs to be similar to the below, but it changes per environment we work in.
[code]

I can't find anyway to pass in variable based lists to Helm via helmsman either via set/setstring or valuesfile.

[2020-01-22 11:37] #391 closed

[2020-01-22 11:37] estei commented on #319
Sadly no 😟
I ended up generating a second values file, from our inventory, with the lists. This file I then reference together with the original values file in the setup.toml file. The valuesFiles property will merge the values files.

[2020-01-22 11:58] eperdeme commented on #319
Ah, fair enough.
I worked around it by editing the upstream chart and doing;
[code]

Then setting in envs;
[code]
Hacky, but I can get on with my day.

[2020-01-22 12:44] estei commented on #319
Getting on with our day and solving the problem at hand will always trump the perfect solution.

Yours is a good solution when the number of web proxies doesn’t change or the chart supports empty values.

[2020-01-22 16:48] boxcee opened #396 "Error: Multiple versions of chart found in the helm repositories"
I get an error when having kubedb and kubedb-catalog charts in the desired state file. The error only appears on **second** run though. When I remove all installed charts and install from _scratch_, the deployment succeeds. A second run will throw this error message though:
[code]

Helmsman: `3.0.2`

DSF.yaml:
[code]

Command I run:
[code]

[2020-01-22 17:07] gdajuk commented on #390
No, I don't think there are any pre/post install hooks. Chart is very simple, what I did:
1. helm create mychart
2. Adjust values.yaml
    - image +tag (from which component package should be build)
    - fullnameoverride
    - ingress (k8s annotations + hosts + tls setup
3. deploy via helmsman using core command which I paste above.

The 15-front.yaml file looks like that:

  org: "mydomain"
  ma

[2020-01-22 23:25] luisdavim commented on #390
If it doesn't have any hooks that could be taking some extra time to finish the only other reason I can think of is a slow helm repo or docker reg. Have you tried setting the timeout to something longer than the default?

[2020-01-23 03:13] #396 closed

[2020-01-23 04:20] sharkymcdongles opened #398 "Feature Request: Improve slack webhook output"
Currently you only get this:

https://i.imgur.com/gQoKlL0.png

1. is truncated
2. would be useful to know the version it plans to install or upgrade from and to

will try and do it on my own but putting this here in case a maintainer wants to fix it first :p

[2020-01-23 09:26] gdajuk commented on #390
As you see above, timeout for this app was set to 10minutes, and it's even too much, as its a simple static front-end service.. Other java micro-services installed using same helmsman script and configuration are deployed in the same way in 1/2minutes... Any other clue, how can I get more debugging options?

[2020-01-24 03:24] luisdavim commented on #390
Do you have the same issue if you try to deploy the chart with helm directly?

[2020-01-24 09:59] gdajuk commented on #390
No, whenever I run `helm install --name mydeploy --namespace myNS chart/` chart is installed properly in valid version (0.1.1). Whenever I do that with helmsman, it failed with ingress, and when I run `helm repo search` I still get this weird old version 0.1.2 ...

[2020-01-24 12:41] luisdavim commented on #390
In the sample you posted above, you are requesting `version: "0.1.23"`....
Also, can you try the latest version of Helmsman?

[2020-01-24 12:58] gdajuk commented on #390
Just fix that.. There was a typo - version was 0.1.1.

Honestly, today I build another charts in version 0.1.3 and set it in helmsman template. The situation is exactly the same, even the version are the same now..

Very strange thing, when installing it manually from downloaded charts with `helm install` it works, whenever I run `helmsman -apply ...` with enabled ingress service it fails.

I am u

[2020-01-24 13:54] ezlo-eugenek opened #399 "Docker - v3.0.2 , helm diff plugin is not installed/configured correctly."
Get this error in latest version 3.0.2:

Step #3 - "Helmsman apply":  _          _
Step #3 - "Helmsman apply": | |        | |
Step #3 - "Helmsman apply": | |__   ___| |_ __ ___  ___ _ __ ___   __ _ _ __
Step #3 - "Helmsman apply": | '_ \ / _ \ | '_ ` _ \/ __| '_ ` _ \ / _` | '_ \
Step #3 - "Helmsman apply": | | | |  __/ | | | | | \__ \ | | | | | (_| | | | |
Step #3 - "Helmsman apply": |_| |_|\___|

[2020-01-25 13:12] evgkrsk opened #400 "Local charts installation is not idempotent"
Plan is always contain uninstalling and reinstalling local chart for me:
[code]
here is Helmsman.yaml:
[code]

[2020-01-25 20:09] luisdavim commented on #400
Hi, what version of helmsman are you using? can you check the output with the `-show-diff` flag? in some cases helm charts generate secrets that change every time you install the chart...

[2020-01-25 20:22] luisdavim commented on #400
I think the problem here is the fact that the chart is not in a folder with the same name as the chart (as in the Chart.yaml). I'll see if I can come up with a way to make helmsman more lenient on this , but `helm package` and `helm create` are strict on this so you might want to change it on your side anyway.

[2020-01-26 02:43] evgkrsk commented on #400
helmsman 3.0.2, latest release from github releases page.

-show-diff isnt change anything in output (with -debug, too). Also, there is not "kind: Secret" in chart: https://github.com/max-rocket-internet/k8s-event-logger/tree/master/chart (not my project, just simple testcase chart for helmsman)

Agreen, helm lint says that chart's folder name must match name in Chart.yaml. But we have that we hav

[2020-01-26 02:48] evgkrsk commented on #400
Also, "helm diff upgrade logger ~/git/k8s-event-logger" return 0 exit code and empty output.

[2020-01-29 14:07] galindro commented on #360
@sami-alajrami are you working on this feature?

[2020-01-29 14:09] sami-alajrami commented on #360
@galindro no, I haven't started working on this yet.

[2020-01-30 12:13] galindro opened #401 "Ability to know the release context by command line"
I'm getting this error after I type Ctrl+C in the middle of a release deployment:

[code]

How can I know what is the current release context? Would be nice if helmsman informs it and gives us the ability to change it...

[2020-01-30 12:38] galindro opened #402 "Impossible to move release to other namespace"
I'm trying to move a prometheus-operator installed release from one namespace to another, but I'm getting this error:

[code]

The movement can't be done because prometheus-operator installs a PodSecurityPolicy, which isn't namespaced object. Is there a way to workaround this issue without first delete (`helmsman -destroy`) the release and them apply it again?

[2020-01-30 13:10] galindro commented on #401
Might be related to https://github.com/helm/helm/issues/7139#issuecomment-580244321

[2020-01-31 16:04] boxcee opened #406 "Unexpected deletion of releases when namespace, but no releases are present in DSF"
Not sure whether this is expected or not, but it is a breaking change between version 2 and 3 at least.
Take this DSF:
[code]
Then, apply this DSF:
[code]
The application of the second DSF will now delete all releases in the `cert-manager` namespace.

[2020-02-01 00:18] luisdavim commented on #406
Yes, this is the expected behaviour and if it wasn't working like that in V2 then it's a bug in that version. If you don't want this behaviour you can use the `keep-untracked-releases` flag.

[2020-02-01 00:18] #406 closed

[2020-02-01 00:22] luisdavim commented on #401
Helmsman labels the releases that it manages, if the helm release doesn't have it's labels Helmsman will consider it out of context. The problem is that helm now clears the labels every time and Helmsman only puts them back at the end, if you interrupted the process the labels might be missing....

[2020-02-01 00:27] luisdavim commented on #401
You can manually label the helm secret corresponding to that release to have Helmsman "adopt" it, you can find the labels here https://github.com/Praqma/helmsman/blob/5fe70ad5e2f5abafa7691e7fa50554c852e3597e/internal/app/release.go#L355 or just look at the labels of any other helm release being managed by Helmsman.

[2020-02-01 00:30] luisdavim commented on #402
Yeah, this is more of an Helm issue, unless helm can adopt existing resources there's not much we can do in Helmsman to fix this.

[2020-02-03 10:58] debek commented on #377
It helped. Thanks guys!

[2020-02-03 10:58] #377 closed

[2020-02-05 10:47] sharkymcdongles commented on #398
I made an initial pull request: https://github.com/Praqma/helmsman/pull/410

TODO: move from json payload to message blocks, but that will require a much bigger change. Will do that next, but this should be good enough for now IMO.

[2020-02-11 11:48] #398 closed

[2020-02-12 09:00] galindro opened #412 "Load environment variables per target"
Would be nice if helmsman, when executed with -target flag, check DSL per target release instead of try to check all releases.

A workaround that I'm using is to add -skip-validation alongside that flag, but it could bring negative implications to the execution if some value of that particular target is missing in the DSL.

[2020-02-13 11:53] sami-alajrami opened #413 "Feature Suggestion: Allow context to be changed for installed releases."
In v3.0.0, we introduced the `context` [feature](https://github.com/Praqma/helmsman/blob/master/docs/how_to/misc/merge_desired_state_files.md#distinguishing-releases-deployed-from-different-desired-state-files) to distinguish releases (apps) managed by different helmsman desired state files(DSFs).  This means that each release is labeled with a context name and when applying one DSF, helmsman only

[2020-02-13 13:52] badeball commented on #321
Absolutely loving this. I've been looking into different ways of doing ephemeral clusters for local development in a distributed architecture. Tested out [armador](https://github.com/travelaudience/armador), but eg. the lack of [branch support](https://github.com/travelaudience/armador/issues/15) makes me hesitant.

[2020-02-26 02:47] kferrone commented on #321
Any chance to consider loading non Helm manifests? For example if some service has a url and all you have to do is `kubectl apply -f https://someurl.com/somemanifest.yaml`. Maybe this helmsman could simply load some ad-hoc configs  just because . . .
Maybe we just have some non helm files in the same repo as one which will use the helmsman. Sure don't want to bash file those and then bash file the

[2020-02-26 07:36] sami-alajrami commented on #321
@kferrone that is tracked in #360 .. I am working on this issue and will create a PR soon.

[2020-02-26 15:39] kferrone commented on #321
Oh wow! Ya'll are on top of it. Goodbye really big bash file!
Thanks

[2020-03-01 11:31] sheerun opened #414 "Support for kustomize"
Maybe it would be good idea to integrate with kustomize so it's possible to change used charts without forking them? https://github.com/kubernetes-sigs/kustomize

The kustomization.yaml could be a part of per-app helmsman config

[2020-03-03 05:17] ndegory opened #415 "The destroy command may fail when the repos cache is not up to date"
When the destroy command is used, a lookup of the charts specified in the DSF is performed against the local cache. If the cache is not up to date, or the repos are not in the cache, the lookup fails and the destroy command is aborted.

Example:

[code]

[2020-03-03 13:37] PirateBread commented on #360
Many charts require pre-reqs, as mentioned, CRDs for example. This would be an excellent feature.

[2020-03-05 06:53] #415 closed

[2020-03-05 12:03] #402 closed

[2020-03-05 12:03] #401 closed

[2020-03-05 12:09] galindro opened #417 "Namespaces aren't updated"
I figured out that if we remove annotations from namespaces in DSL, helmsmen doesn't deletes them from kubernetes.

[2020-03-08 18:02] seb4stien opened #418 "buildState is slow on big deployments"
The buildState is quite slow on big deployments (> 300 apps) due to the getReleaseContext on each release. It can takes a few minutes which has a big impact on CI/CD pipelines (because we have to build the state even for simple changes).

A possible solution could be to retrieve all the contexts per namespace using a query like:
[code]

Do you already have some plan to work on this part? What do y

[2020-03-09 14:15] hazcod commented on #399
I'm having the same issue.

[2020-03-09 16:09] kferrone opened #419 "JSON Schema for Helmsman Yaml"
Would be really nice to have a json-schema for the yaml files.
Then in vscode:
[code]

Sugar is good!

[2020-03-11 08:21] #390 closed

[2020-03-11 10:14] luisdavim commented on #414
and you'd suggest we'd install the helmcharts with `helm template` then run `kustomize` and finally `kubectl apply`? We'd be  loosing some of the features provided by helm or is there another way of using `kustomize` with helm?

[2020-03-11 10:17] luisdavim commented on #419
I like the idea and I also think we should make the `helmsman` structs available in a `go` package so they can be imported by other tools.

[2020-03-11 11:19] sheerun commented on #414
You can use kustomize as `--post-renderer` without loosing any features https://helm.sh/docs/topics/advanced/

[2020-03-11 16:36] wadi-chemkhi commented on #418
I'm having the same issue... Did you find a temporary workaround @seb4stien ?

[2020-03-11 16:36] kferrone commented on #414
Oh wow thanks a ton @sheerun
I'v been looking for an example like that.
This would be a very useful feature.

[2020-03-11 17:28] luisdavim commented on #414
That's cool, I didn't knew helm supported that. Thanks.

[2020-03-11 17:29] luisdavim commented on #414
Can you try using the `helmFlags` option @kferrone mentioned and letting us know if it worked or if we need to make any changes to make it work?

[2020-03-11 22:01] kferrone commented on #414
@luisdavim  @sheerun

Holy friggin smokes it worked like a charm!! 😂

`./helmsman.yaml`
[code]

`./kustomize/kustomize.sh`
[code]

`./kustomize/kustomization.yaml`
[code]

To really get your kustomize game on set the following variable:
`export PLUGIN_ROOT="./kustomize/plugins"`

Then make some kustomization plugins!

Happy Helming!!

[2020-03-11 23:37] sheerun commented on #414
helmFlags could would but I would really appreciate if it was possible to configure kustomize directly in per-app helmsman config (maybe also some global one)

[2020-03-12 01:20] kferrone commented on #360
I would personally like to include prereqs with kustomize in helm chart so all resources are managed together. In issue #414 I show how to use helmflags and `--post-renderer` to use kustomize to add whatever you like to the release and Helm now will statefully include those resources in the release. If it is just a pre-install post-install hook, then helmsman would have to manually manage these re

[2020-03-12 01:23] kferrone commented on #414
I feel this feature request and #360 can be merged into one feature which simply utilizes kustomize.
I delve deeper in a comment on #360 as to what I am imagining.

@sheerun [Please read my comment](https://github.com/Praqma/helmsman/issues/360#issuecomment-597959093) and chime in with anything else you imagine.

[2020-03-12 01:50] kferrone commented on #303
This also would be related to #414 and #360

[2020-03-12 07:26] luisdavim commented on #360
Helmsman does provide a way to install charts in order. For installing CRDs I think it's better to use a separate chart that is always installed first.

[2020-03-12 07:32] luisdavim commented on #360
@kferrone so, you're suggesting that we support kustomize and `post-render`? Supporting post render per app in a generic way does make sense to me but I'm not so sure about supporting kustomize directly/specifically.

[2020-03-12 14:23] kferrone commented on #360
@luisdavim I do agree at least a built in option for post render is a good idea. I do think you guys could do a lot with your own implementation of postRenderer. Then what ever is given for `postRenderer:` is then passed through yours to be run after.

For example if I say `postRenderer: myScript.sh`, ultimately myScript.sh is run by Helmsmans postRenderer. Then the Helm command would look somethi

[2020-03-13 17:20] galindro commented on #386
Hi @mkubaczyk Actually I'm not merging them before execute helmsman. I'm just using helmsman multiple DSF feature. Therefore, what I'm trying to do is to reuse the a defined appsTemplates that lives in one DSF among multiple DSFs.

[2020-03-25 21:41] sheerun opened #424 "Dry running creates namespace"
example.yaml:

[code]

command:

[code]

expected:

cluster is not changed

happened:

foobar namespace has been created

[2020-03-27 09:49] Xtigyro commented on #374
Hey @sami-alajrami - are there any updates about this feature req.?

[2020-03-27 12:55] sami-alajrami commented on #374
@Xtigyro unfortunately, I didn't have a chance to work on it. Would you be able to start a PR for this?

[2020-03-31 10:27] SimonTheLeg opened #426 "Adding Limit to Namespace creates stuck loop"
Hi all,

I've been experiencing a weird behavior in helmsman. Maybe it is related to the order I've applied things, so for completion, here is everything I did.

Basically I started with the following in my helmsman.yaml file

[code]

I've ran `helmsman -f helmsman.yaml --apply` no problem everything worked perfectly. Later on, I added limits to the namespace, but I made a little mistake. I added

[2020-03-31 12:22] sami-alajrami commented on #426
Hi @SimonTheLeg , can you check if the `.helmsman-tmp` directory is present on your system before you run command. If so, remove it. Ideally, Helmsman should remove at the start of each run.

Assuming that does not solve the errors, check if the `temp-LimitRange.yaml` remains in that directory and paste the verbose logs (use `--verbose` when you run helmsman)  relevant to the namespace limits sect

[2020-03-31 12:23] #413 closed

[2020-03-31 12:34] sami-alajrami commented on #418
Just for the record, this has been addressed with PR #420

[2020-03-31 13:08] sami-alajrami commented on #417
yes, namespace management has been create and update only. Removing limits, annotations, or the namespaces themselves does not cause Helmsman to delete them.

The tricky part to make deletion happens is that Helmsman does not maintain any state files. For helm releases, Helmsman adds small state info in labels added to the secerts/configmaps used by Helm.

We might need to do the same for namespac

[2020-03-31 13:09] #418 closed

[2020-03-31 13:12] SimonTheLeg commented on #426
Ah now this is interesting:

So when error A occurs the `.helmsman-tmp` directory remains. If then I delete that directory by hand, I get error B. Afterwards it goes back to error A again.

In the meantime, I have played around with this a little more and added some other charts. Funnily enough for a different namespace setting the limits worked.

This is the new helmsman file I was using (I've re

[2020-03-31 13:21] sami-alajrami commented on #424
you can use `--no-ns` to prevent Helmsman from creating namespaces.
I don't recall why this wasn't included by default in the dry-run behaviour (could be legacy from Helm v2 time), but it makes sense to make it the default behaviour when dry-run is used.

[2020-03-31 13:29] SimonTheLeg commented on #426
Maybe also of interest. It appears that a LimitRange is indeed being rolled out to the keycloak namespace. Interestingly enough though, it has the values of the meshPanel namespace. Don't know if this is intended:

[code]

[2020-03-31 13:34] sami-alajrami commented on #426
Hmm .. I have gone through your steps trying to reproduce the situation but I could not.
I started with this config
[code]

And I got this error:
[code]
And I noticed that `temp-LimitRange.yaml` was left behind (not in the .helmsman-tmp directory in fact).

Then, I fixed the limits config
[code]
And I run again (with `--debug --verbose` flags), things work as intended, the temp yaml file is overwr

[2020-03-31 13:38] sami-alajrami commented on #426
Ah I was able to reproduce now, when having multiple namespaces defining limits. This is a race condition as the commands are executed concurrently and all refer to the same temp file.

[2020-03-31 13:50] SimonTheLeg commented on #426
Ah this explanation makes a lot of sense. I was in the meantime probing around and re-ordered yaml keys and it would only work if one limit is active. So yes this is exactly what I am experiencing

[2020-03-31 14:10] #426 closed

[2020-04-01 03:45] sami-alajrami commented on #399
I wasn't able to reproduce this. Is this still happening in newer images for you?
[code]

[2020-04-03 12:22] #127 closed

[2020-04-07 04:14] mam8270 opened #432 "dry-run flag does not suppress chart yaml and other user supplied values"
Helmsman dry-run flag will print out USER-SUPPLIED VALUES variables  and the entire chart yaml, which may include  secrets (even when the --debug flag is disabled). I am looking for an option to run the dry-run option but with the chart and and rendered values suppressed . This is the behavior that is observed  when deploying without the dry-run flag.

 If this feature exists, let me know.

[2020-04-11 00:09] luisdavim commented on #386
`appsTemplates` is actually ignored by Helmsman and that's why it doesn't get merged. But I'm also not sure if it would make any difference, merging happens after unmarshelling and the anchors and aliases are handled during unmarshaling. I think this is more like a yaml limitation.

[2020-04-14 16:23] #361 closed

[2020-04-15 11:20] mal-berbatovci opened #435 "Using appsTemplate and set issues"
Hi, I'm using Helmsman 1.13.2 (My helm client is still not on v3, so I can't update to helmsman v3+), and I'm having difficulty using AppsTemplate and Set together.

I have three different variables I want to substitute in my value files. Example:

[code]

And I have this defined as an DSF:
[code]

But when I do a `helmsman --show-diff -f ..` none of these variables are being substituted. I can se

[2020-04-15 12:58] mal-berbatovci commented on #435
Ah, I need to use setString, which required v2.9.0 Helm. And set is used for value files values specifically. Got it

[2020-04-15 13:22] mal-berbatovci commented on #435
Turns out thats not quite right, and I don't think there's actually any way to currently set environment value at the desired state file level. It would be quite helpful to be able to do that and run helmsman without having to explicitly set environment variables. Especially for local testing of changes. Thoughts?

[2020-04-15 16:20] kferrone opened #436 "Include another Helmsman File"
I would like to include other helmsman file in the main file instead of just through the `-f helmsman.yaml` option.  Is this already possible by chance? This way I would not need to pass so many flags to the command and there would be one file to rule them all. Also it would add some clarity when reading the file that other files are indeed a part of it.

I imagine something like this:
[code]

[2020-04-16 19:29] james-r-smith opened #437 "valuesFile is not supporting absolute path"
I have a desired state file, where I specify `valuesFile` with `/values/{values file}.yaml`. (running inside a container) I have my desired state in a separate directory, `/manifests`. When I run the following statement: `helmsman -f /manifests/desired-state.yml --debug --dry-run`, I am getting the following error:

[code]

It appears Helmsman (v3.1.0) is doing relative path, and not absolute desp

[2020-04-24 18:16] mhobotpplnet opened #440 "How to construct deployments file for multi apps without failing."
So we are deploying apps with helmsman which reads charts from chartmuseum.

Most of our apps are constructed as

app1:
appinfo:
apprepo: etc etc

app2:
appinfo:

So that said, if say in our CD, app 1 fails because of values file is not good, app 2 never gets deployed so we have to make sure that all apps are green before it can be pushed to an environment..

Any ideas around this?

[2020-04-28 14:18] totallyzen opened #443 "Feature Request: Configure helm revisions retained by helmsman"
# Issue

- Helmsman allows lots of apps to be deployed in the same namespace.
- Helm 3 onwards it stores the specifics of the revision in K8s secrets
- Helm by default keeps the last 10 revisions of your release
- If you have hundreds of apps (we have almost 500 apps across 20 or so users) then multiply that by 10 -> you get an enormous number of secrets stored in the same namespace
- This will sl

[2020-04-29 14:37] mehyedes commented on #332
Hi @sami-alajrami
I have just tried that but it is failing for me with
[code]
Here is how my config looks like
[code]

[2020-04-30 15:19] anouarchattouna commented on #351
Hello, same error reproduced using:
* helmsman **v3.3.0**
* helm **v3.2.0**

BTW, I used the example provided from the [desired_state_specification](https://github.com/Praqma/helmsman/blob/master/docs/desired_state_specification.md#apps) documentation
[code]
[code]

[2020-05-01 11:51] orefalo opened #446 "Feature request - Run shell command"
Really like this tool, it helps a lot. With that said, it's missing a key capability:

The ability to run shell command.  The command should know in which context it is running (apply/destroy)

Typical use cases include:

1. Sleep X seconds - that's when wait in not enough
2. Deploy kubectl yaml without the need to create a helm container project
3. Add/Remove CRD definitions, ie:
for n in $(kubec

[2020-05-05 13:27] rasta-rocket opened #447 "feature request: configuration file for helmsman"
Hello folks,

So the idea would be basically to have a configuration file that could contains all or part of the options that we can use today with the helmsman binary.

Example: Let's assume that I always want to disable the env variables substitution which is enabled by default. I would have a config file that I can share with others and it will simplify the use of the binary when applying stuff

[2020-05-05 14:50] sami-alajrami commented on #446
#421 addresses 1 and 2 and to some extent 3. It will allow applying k8s yaml manifests before/after helmsman operations. These manifests can be a pod which sleeps for sometime, a CRD installation or any other k8s object.
The reason for not supporting arbitrary shell commands is that it's not easily possible to revert their effect which will make the operations of helmsman non-idempotent.
I will tr

[2020-05-05 15:01] sami-alajrami commented on #443
have you tried using the helmFlags option? may not work with install commands though since the flag does not exist for install commands (AFAIK)

[code]

[2020-05-05 15:09] sami-alajrami commented on #440
There are a couple of options:
- split your apps into multiple helmsman files if possible to make it easier for you to manage. This means you would deploy different (groups of) apps separately. To avoid duplication of config, you can have a global file with common config (e.g. helm repos, context etc) and merge it with each app-specific file (`helmsman apply -f common.yaml -f specific.yaml)`

- Yo

[2020-05-05 15:42] totallyzen commented on #443
I wasn't aware that this option existed! 🙂
Not a bad choice - but ideally I would keep true to the spirit of DSFs being idempotent!
For now we've worked around this with external tools to remove the secrets after a successful helmsman call.

[2020-05-05 18:25] orefalo commented on #446
thank you , closing.

Stay safe,
Sincerely

[2020-05-05 18:25] #446 closed

[2020-05-06 10:40] mehyedes commented on #332
Just writing to confirm that `--set-file` works fine with the helmFlags option, but only if `--set-file` and `key=values/seeds/seeds.rb` are on separate lines as below:
[code]
Otherwise, it doesn't work.

@sami-alajrami  should I create a separate issue for this or this one is fine?

[2020-05-06 12:37] mehyedes commented on #399
I ran into the same issue with the `praqma/helmsman:v3.3.0` docker image on jenkins CI
[code]
But when checking the image, the plugin is properly installed:
[code]

[2020-05-06 14:35] mehyedes commented on #399
Seems like jenkins forces using the jenkins user when starting the helmsman container by adding `-u 1001:1001` automatically.

Forcing jenkins to use the user root with `-u root` when starting the container seems to have fixed the issue

[2020-05-06 16:24] mehyedes opened #448 "Docker - gpg not available"
We are using the helmsman docker image on jenkins to perform our deployments to remote clusters and we are using the helm-secrets plugin for managing our charts' secrets.

However, it seems like `gpg` is not installed on the helmsman Docker image so we cannot import gpg keys into the container's filesystem during the deployment.
[code]
We would like to keep the keys stored as [jenkins credentials]

[2020-05-07 10:08] mehyedes commented on #448
Eventually, we had to install `gnupg` after starting the helmsman container as using `helm-secrets` is not possible otherwise.
I have create a PR for that if that's ok: https://github.com/Praqma/helmsman/pull/449

[2020-05-07 15:13] #448 closed

[2020-05-08 08:56] mehyedes opened #451 "helm flags are not passed to `helm diff upgrade` command"
We are using the `helmFlags` option to pass the `--set-file` flag to one of our apps as follows:
[code]
However, I have noticed that these flags are not passed to `helm-diff` when doing an upgrade.
Which causes receive the error below:
[code]
I was able to reproduce the issue with `helm diff` if I don't pass the `--set-file` option.
I see here that `r.getHelmFlags()` only passed to the install com

[2020-05-08 17:21] #360 closed

[2020-05-09 08:52] orefalo commented on #447
I personally find this feature error prone.

The configuration today lives in the helmsman.yaml file, defaulting to a master configuration may lead to unexpected behaviors.

My 2c

[2020-05-09 08:58] orefalo commented on #374
If I may... isn't the feature indirectly implemented via hiera-eyaml ?

The page https://github.com/voxpupuli/hiera-eyaml. talks about plugins.. and especially, the vault plugin : https://github.com/crayfishx/hiera-eyaml-vault

[2020-05-09 09:45] orefalo opened #452 "Bug: secretsFiles should enforce the namespace if not present"
When pointing to a secretFile yaml, and this one has no namespace defined.
helmsman should create the secret in the namespace defined by the app.release.

At this point, they are created in the default namespace.

ie.
[code]

[2020-05-09 11:43] edigaryev opened #453 "Variable expansion should fail on missing environment variables"
When one or more environment variables are used in the desired state specification and some of them are missing, nothing prevents the user from running `helmsman -apply` on that specification.

This might cause a potentially invalid state to be pushed to the cluster.

Beyond that, it seems that there's little sense in hiding the failed expansion at all, as the user who wrote the specification clea

[2020-05-09 19:03] orefalo commented on #436
that would be cool, next would be to parametrize those yaml.

[2020-05-10 04:49] orefalo opened #454 "Bug: 1st item of secretsFiles not processed"
When using multiple secret files, the first item is not processed.
   for/loop index issue I believe.

Will try to fix this one, although I am no GO developer.

[code]

[2020-05-10 05:41] orefalo commented on #454
Well, I am giving up. First it looks like the code is right, so it much be something else.
second, I can get go to compile the exe, so testing/debugging is limited.

[2020-05-10 06:05] orefalo opened #455 "Can't compile"
make tools
make build

[code]

any idea?

[2020-05-10 07:20] ezlo-eugenek commented on #399
Reason in $HOME variable, I am using google cloud build, and $HOME is set by default  not to /root where helm plugins are installed, that's why it can't find it. So need to set $HOME variable to /root/.

[2020-05-10 07:20] #399 closed

[2020-05-10 07:31] ezlo-eugenek opened #456 "Devel versions of packages doesn't work with helmsman 3.3.0"
I have helm charts with devel versions like 0.1.0-d-42gsd23

All was working fine with helmsman 3.1.0, but when I tried to upgrade to 3.3.0 faced with issue that helm chart cannot be found. With debug log I can see that new additional command was added in 3.3.0 which is not present in 3.1.0, it is helm show command:

`Step #2 - "Helmsman apply": [37m2020-05-09 15:55:42 INFO: Show chart informatio

[2020-05-11 09:46] sami-alajrami commented on #456
the `show` command was introduced [here](https://github.com/Praqma/helmsman/commit/7e139900f22acdf57e666231733b29c7b8831c16#diff-d3a54a19ed6311b4ceebe7b5d12028b7). It makes the extraction of chart info more reliable since it uses the chart information returned from helm show. The previous code simply processed the string from the desired state file.

If I create a test chart and use the same versi

[2020-05-11 09:56] sami-alajrami commented on #455
maybe you need to run these commands to download dependencies
[code]

Alternatively, you can try building in a go docker image. You can also use `praqma/helmsman:latest` if you want to use the latest unreleased features.

[2020-05-11 10:00] sami-alajrami commented on #451
thanks @mehyedes .. I am not aware of a reason flags shouldn't be passed to the upgrade and diff commands. I will label as a bug.

[2020-05-11 10:41] sami-alajrami commented on #451
After digging a bit further, `getHelmArgsFor()` can't be added to the helm diff call because of high possibility of incompatible/unsupported flags. Therefore, it is not recommended to use `helmFlags` for setting values. Instead, use `set`, `setString` or `setFile` which will be passed to the helm diff call.

[2020-05-11 10:50] #451 closed

[2020-05-11 11:19] mehyedes commented on #451
Thanks for looking into this @sami-alajrami . That was what I had initially expected.

Waiting for the next release to have `setFile` 👍

[2020-05-11 11:24] sami-alajrami commented on #437
Hi @james-r-smith . Indeed, helmsman resolves file paths relatively from the location of the desired state file and replaces the relative paths with generated absolute paths at runtime.

I will add a check to allow absolute paths.

[2020-05-11 11:29] #437 closed

[2020-05-11 13:09] sami-alajrami commented on #443
Agreed @totallyzen. I have added support for it. It will work as follows:

- **globalMaxHistory** : defines the **global** maximum number of helm revisions state (secrets/configmap) to keep. Releases can override this global value by setting `maxHistory`. If both are not set or are set to `0`, it is defaulted to 10.
- **maxHistory** : defines the maximum number of helm revisions state (secrets/con

[2020-05-11 13:22] #443 closed

[2020-05-11 14:15] nitin-ag opened #461 "How to pass Helm values file to docker container"
Hello,

We are using helm charts to run Kubernetes one off jobs and as part of that it attempts to apply some of the database seed available in one of the published/available docker image. The seed yaml file contains the reference to the customNamespace (namespace: {{ .Values.customNamespace }}) and the referenced property is available in values.yaml of helm chart.

However as at docker container

[2020-05-11 16:32] sami-alajrami commented on #461
Hi @nitin-ag this is a helm question not helmsman :)
It is not clear what you are trying to achieve, but assuming the docker container you are talking about is helmsman container, you can pull your source code inside the container and define the release in your desired state file which points to your values file. See [this the desired state spec](https://github.com/Praqma/helmsman/blob/master/docs

[2020-05-11 17:13] sami-alajrami commented on #424
I did some more digging into this and turns out that when namespaces are not created (created with --dry-run ), several kubectl commands will not work even when --dry-run is used on them because the namespace does not exist (e.g. namespace limits and quotas, lifecycle hooks etc.).

However, I am adding the dry-run option to all subsequent kubectl commands (labels, quotas, etc).

The only safe way

[2020-05-11 17:23] #424 closed

[2020-05-11 17:29] sami-alajrami commented on #432
Hi @mam8270 , helmsman dry-run flag simply translates into helm --dry-run flag. The helm dry-run outputs the rendered templates and use values to stdout. On the helmsman side, we can block that output but then the dry-run option becomes kind of pointless. So unfortunately, there is not much we can do about this from helmsman's side.

I will close this, but if you have more thoughts or ideas about

[2020-05-11 17:29] #432 closed

[2020-05-12 15:39] totallyzen commented on #443
Thanks a lot for the fix! 👍

[2020-05-13 11:44] boxcee commented on #456
Having the same problem here.

We have a chart which only has development versions. E.g. `0.1.1-development`, `0.1.2-developmen`. **NO** `0.1.1` or `0.1.2` versions!

They are uploaded to a private repository. I can verify `helm show chart mychart` doesn't show any results, but `helm show charts mychart --devel` shows me the latest versioned development chart `0.1.2-development`.

[2020-05-13 11:55] boxcee commented on #456
Actually there should be an easy fix. `helm show chart` has a flag `--version` when set, it will include development versions. I think that should be added to the command.

[2020-05-13 15:14] #456 closed

[2020-05-13 15:28] boxcee commented on #456
Wow, that was quick! Awesome!

[2020-05-13 15:51] #453 closed

[2020-05-14 11:17] #351 closed

[2020-05-14 11:20] sami-alajrami commented on #351
Hi @Azulinho @anouarchattouna and apologies for the late reply.
`set`, `setString` and `setFile` are defined as map[string]string. This means they can't process nested elements. Instead you can group your nested elements in one line (like you would do on helm's CLI). e.g
[code]
[code]
I have updated the docs and fixed the wrong example.

[2020-05-14 11:29] sami-alajrami commented on #367
Currently Helmsman is packed with kubectl v1.14.10.
May I ask what is preventing you from using kubectl v1.14.0?

[2020-05-14 11:32] sami-alajrami commented on #331
Closing as I believe this is now resolved.

[2020-05-14 11:32] #331 closed

[2020-05-14 16:00] SimonTheLeg opened #466 "Passing a number via environment variables returns type error"
As the title states, I am having some parsing troubles when passing in an environment variable that consists of digits only.

excerpt of helmsman.yaml:
[code]

steps in zsh:
[code]

output
[code]

Using anything beside a pure number, works
[code]

[2020-05-14 17:04] mehyedes opened #468 "Helms secrets not working in 3.4.0"
Seems like the integration with helm secrets is broken in the latest release `3.4.0`.
Whenever I try to deploy this app with helmsman
[code]
I get the same error below:
[code]
Using the `helm secrets` command directly works fine though.
[code]
Might be a side effect of https://github.com/Praqma/helmsman/pull/458, but I am just guessing here.

Please note that this was working fine with `3.3.0`

[2020-05-14 19:58] ndegory opened #469 "Helmsman 3.4.0, corrupted values files if same basename"
With Helmsman 3.4.0, if multiple apps have a values file (or secret file) of the same name (but different folder), these files are being copied to the same temporary file path. This result either same content for all apps, or even corrupted file (side effect of O_CREATE on an existing file).

This is related to the use of resolveOnePath() for values and secret files in https://github.com/Praqma/he

[2020-05-14 20:02] ndegory commented on #468
or maybe a side effect of #469 if you have multiple apps with a secrets.yaml file

[2020-05-15 06:38] sami-alajrami commented on #466
@SimonTheLeg can you try `setString` instead of set? This will pass the value using helm's setString.

[2020-05-15 06:44] #469 closed

[2020-05-15 07:29] SimonTheLeg commented on #466
ah nice did not see this flag. Works perfectly, thanks a lot!

[2020-05-15 07:29] #466 closed

[2020-05-15 07:40] mehyedes commented on #468
I was only guessing, did not really dive into the code.
I will test your fix with the latest master.
Thanks @ndegory

[2020-05-15 07:49] mehyedes commented on #468
**Update:** I can confirm https://github.com/Praqma/helmsman/pull/470 fixes this issue.

[2020-05-15 07:49] #468 closed

[2020-05-15 08:49] Falx opened #471 "Server doesn't have a resource type "serviceaccount""
We have a buildserver that deploys to a kubernetes cluster with helmsman. As of late we complete `helmsman apply` anymore.

When doing `- helmsman --debug --apply --keep-untracked-releases --force-upgrades -f .deployment/our_desired_state_file`, we get this output:

[code]

We have no idea how to fix this, things we've done:

- Checked all RBAC files multiple times (we have a serviceaccount tiller

[2020-05-15 09:12] sami-alajrami commented on #471
@Falx  can you run with `--verbose` to log the kubectl command leading to this error (Note this may log sensitive data you pass to your charts).

[2020-05-15 09:30] Falx commented on #471
Thanks for your quick reaction @sami-alajrami! I've redacted the sensitive information.
Output is below (a few commands added to show that serviceaccounts resource works)

[code]

[2020-05-16 04:54] ndegory opened #473 "Panic when a variable is not defined"
Panic when a variable is not defined:
[code]
Helmsman 3.4.1, Darwin build

[2020-05-16 19:42] orefalo commented on #455
It built!  thank you.

[2020-05-16 19:42] #455 closed

[2020-05-17 16:37] iamaverrick opened #474 "Issue running helmsman on KOPS on top of AWS"
we are trying to use helmsman on our AWS account. we used KOPS to deploy a K8s cluster and currently we are trying to use helmsman to deploy all of our helm charts on the already running cluster.

we tested our script on minikube environment and it works just fine while defining "minikube" as kubeContext. but when deploying it to the prod environment the script fails to deploy correctly with no er

[2020-05-18 08:09] sami-alajrami commented on #474
With the file above, you are relying on kube context `prod@company` being correctly configured on the environment where Helmsman is running. Being stuck seems to indicate connection to the cluster is probably not working (do you require VPN to connect for example?).
If you run Helmsman with `--debug` it will show the kubectl/helm commands and which one gets stuck to allow you to investigate better

[2020-05-18 13:22] iamaverrick commented on #474
Thank you @sami-alajrami for the prompt response,

We have commented out prod@company so helmsman runs using the default context created by KOPS and I still run into the same issue. Also we do run helmsman using the debug flag which is why I can see its getting stuck right where helmsman is searching for repos listed in the script. Lastly how we run the project is that we upload the file to the se

[2020-05-18 14:00] all4innov opened #475 "[hooks] Key "postInstall" already set in map"
As a replacement for these two kubectl commands at cluster level

[code]
the new globalHooks feature was adopted:

[code]

The problem is that the second postInstall line was not accepted and here the error:
[code]

[2020-05-19 07:37] sami-alajrami commented on #475
Hi @all4innov currently only one hook type entry is allowed per release. So you would have to either combine both your YAMLs in one, or deploy the CRDs as `preInstall` and the issuers as `postInstall`.

I will create a new issue for supporting merging multiple same hook entries together.

[2020-05-19 07:39] sami-alajrami opened #476 "Feature: support merging multiple lifecycle hook entries together"
Currently, you can only have one lifecycle hook type entry (e.g. one preInstall hook, one postInstall hook ... etc).

It would be nice to allow the user to define as many as they like (as in #475 ) and merge them at run time.

[2020-05-19 07:42] sami-alajrami commented on #474
You can try to run the commands that get stuck manually from that server to find out why it does not work. I suspect the possibility of networking restrictions there.

[2020-05-19 07:45] sami-alajrami commented on #473
Hi @ndegory .. any steps to reproduce?
My only suspicion for now is this [line](https://github.com/Praqma/helmsman/blob/9866a4276529ea632064e9d11ae5edfa22942fa9/internal/app/utils.go#L366), but not sure where the nil pointer comes from.

[2020-05-19 13:32] ndegory commented on #473
@sami-alajrami , I'm able to reproduce it by forgetting to set a variable used in the DSF or a values file. What happens is that an expected error triggers the call to the log.Critical() function, which is actually not defined for the logger struct.
I can submit a PR with a fix if you wish.

[2020-05-20 00:49] iamaverrick commented on #474
i have done what you have suggested and it continues to get stuck.

LOGS
[code]
got stuck reopened new terminal and ran tasks individually.

[code]

to give you a little more info the server is a linux os, we install homebrew as our package manager and we install all packages via homebrew such as helm, helmsman, and wget. all commands work perfectly individually we have no issues installing anythi

[2020-05-20 10:45] sami-alajrami commented on #474
you can try running helmsman with `--skip-validation` which will skip those commands. Then we can see if it will get stuck somewhere else.
I can't see why those commands get stuck if they all pass individually from the same server :\
All what helmsman does in this case, is pass the command to the OS and process the response when it comes.

[2020-05-20 21:27] iamaverrick commented on #474
Hello here is an update as you requested me to run helmsman. im getting a different error now in it has to do with 2020-05-20 21:21:47 CRITICAL: Failed to list all releases: Error: Kubernetes cluster unreachable but again Helmsman is the only service which seems to have an issue. how would we be able to isolate the issue if I'm able to run individual tasks and connect to k8s just fine? below you w

[2020-05-22 13:26] eperdeme commented on #473
Also happens if you put wrong case now in ENV variables. Ie you set myenv=mooo, then call it as ${MyEnv} it'll "explode" as in the panic above.

[2020-05-23 10:51] #473 closed

[2020-05-26 13:49] Falx commented on #471
No ideas? This is a major blocker for our organization..

[2020-05-26 14:14] #471 closed

[2020-05-26 14:19] sami-alajrami commented on #471
What happen when you run the command `kubectl get serviceaccount tiller -n kube-system` from the same process/machine?
All helmsman is doing here is passing that kubectl command and expect a zero exit code, which does not happen.

The suggestions [here](https://stackoverflow.com/questions/55183961/kubernetes-the-server-doesnt-have-a-resource-type-deployments) might be useful to find the root cause

[2020-05-26 14:50] Falx commented on #471
We've just traced it down to a single user-account which wasn't updated in our CI .kube/config file. This can be closed. Thanks for trying to help anyways!

[2020-05-27 18:14] cortopy opened #478 "Support --debug flag for helm diff"
When writing my charts I often get a message like:

[code]

My problem is that helmsman `-debug` flag only applies to helmsman commands and doesn't seem to get passed to helm diff

Passing the flag would help enormously when debugging templates

[2020-05-28 08:57] sami-alajrami opened #479 "helm show fails with private helm repos"
`helm show` was introduced in #411 .. this works fine for public helm repos. For private repos, it requires additional `--username` and `--password` args.

To reproduce:

[code]
[code]

[code]
helm version: v3.2.1

[2020-05-28 11:52] gangadharmgithub opened #480 "can not use --devel helmsFlag"
helm install -h
....
**--devel                        use development versions, too. Equivalent to version '>0.0.0-0'. If --version is set, this is ignored**

I used to install the chart with '--devel'  without specifying the version of the chart and it used to pick up the latest chart available in the helm repo.

**helmsman made the version as a mandatory field, effectively I can not use the --de

[2020-05-28 14:35] sami-alajrami commented on #480
what version of helmsman are you using?

[2020-05-28 14:57] gangadharmgithub commented on #480
version: v3.4.0

[2020-05-29 07:04] pmichna opened #481 "`panic: runtime error` when deleting an untracked release"
## Helm and Helmsman versions
[code]

## Steps to reproduce
1. Create `helmsman.toml` file:
[code]

2. Run `helmsman -apply -verbose -f helmsman.toml`
3. Remove the `[apps.apache]` section from `helmsman.toml`.
4. Run `helmsman -apply -verbose -f helmsman.toml` again.
5. the following error happens:

[code]

I've been able to reproduce the above both on minikube and EKS using different charts.

[2020-05-29 09:55] Wobbley opened #482 "Helmsman support for Helm 3.2.x"
Do you have a timeline on when you will use helm 3.2.x? Asking specifically due to this PR: https://github.com/helm/helm/pull/7649

It addresses issues helm has with upgrading and changing deprecated APIs on resources while avoiding downtime.

[2020-05-29 12:04] sami-alajrami commented on #482
Hi @Wobbley helmsman v3.4.0 [docker images](https://hub.docker.com/repository/docker/praqma/helmsman/tags?page=1) and after are published with helm v3.2.1 as an option.

[2020-05-29 12:06] sami-alajrami commented on #482
if you are using the Helmsman binary, it should work with helm v3.2.x

[2020-06-01 19:18] JonathanLachapelle opened #483 "Can't destroy a deployment in kube-system"
Using helmsman Helmsman version: v3.4.2

I have a deployment, I can deploy it successfully but when I try to destroy it, only the ressources that are not part of the kube-system are destroyed. If instead I use another namespace instead of kube-system, everything work well. It's like somthing is preventing me from destroying ressources I created in kube-system

Here's the state file :

[code]

Here

[2020-06-01 19:34] JonathanLachapelle commented on #483
It's my error, kube-system wasn't in the namespaces

[2020-06-01 19:34] #483 closed

[2020-06-02 12:40] andrelin commented on #482
Hey @sami-alajrami
I'm a colleague of @Wobbley and I've been trying to build a docker image from praqma/helmsman:v3.4.2-helm-v3.2.1 but this happens, I end up with Helm 3.1.1 and not 3.2.1

`Step 1/23 : FROM praqma/helmsman:v3.4.2-helm-v3.2.1
 ---> b3ef50e47404

Step 2/23 : RUN helm version
 ---> Running in 48b129552040
version.BuildInfo{Version:"v3.1.1", GitCommit:"afe70585407b420d0097d07b21c47dc

[2020-06-02 12:57] andrelin commented on #482
I have no tried this with `praqma/helmsman:v3.4.1-helm-v3.2.1` and with `praqma/helmsman:v3.4.0-helm-v3.2.1` with the same result

[code]
---
[code]

[2020-06-02 13:03] ppandiya commented on #481
Facing the same issue.

`2020-06-02 12:57:44 NOTICE: -------- PLAN ends here --------------
2020-06-02 12:57:44 INFO: Executing plan...
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xcc3fdc]

goroutine 140 [running]:
github.com/Praqma/helmsman/internal/app.(*plan).exec.func1(0xc0004c4620, 0xc0000824e0, 0xf18156

[2020-06-02 13:31] #482 closed

[2020-06-02 13:44] andrelin commented on #482
@sami-alajrami Why did you close this? The images doesn't seem to work as intended.

[2020-06-02 13:46] sami-alajrami commented on #482
apologies @andrelin this was a bug in the release script where the helm version was not correctly passed. The bug is fixed in commit 965a25b (thus the closure of the issue).
I am fixing the following images manually and pushing them to dockerhub. They should all have helm v3.2.1 shortly.

[code]

[2020-06-02 13:53] andrelin commented on #482
Thank you
I have tested that `praqma/helmsman:v3.4.2-helm-v3.2.1` does have the correct helm version now.

[2020-06-02 14:16] sami-alajrami commented on #482
all the images above are now pushed!

[2020-06-03 00:57] markruler commented on #481
Same issue.

Helmsman version: v3.4.2

1. Run `helmsman -apply -f app1.toml` => success
2. Run `helmsman -apply -f app2.toml` => panic

1. Run `helmsman -apply -f app2.toml` => success
2. Run `helmsman -apply -f app1.toml` => panic

[2020-06-03 05:27] markruler commented on #481
I think you should run this command `helm uninstall apache --namespace pablo` first, then run helmsman.

[2020-06-03 13:31] gangadharmgithub opened #485 "helmsman can not be used with development versions"
$ helmsman version

 _          _
| |        | |
| |__   ___| |_ __ ___  ___ _ __ ___   __ _ _ __
| '_ \ / _ \ | '_ ` _ \/ __| '_ ` _ \ / _` | '_ \
| | | |  __/ | | | | | \__ \ | | | | | (_| | | | |
|_| |_|\___|_|_| |_| |_|___/_| |_| |_|\__,_|_| |_| version: v3.4.0
A Helm-Charts-as-Code tool.

2020-06-03 18:49:36 INFO: No desired state files provided.
$ helm version
version.BuildInfo{Version:"v3.2

[2020-06-03 20:22] KR411-prog opened #486 "Support for sops to pass encrypted files in hook manifests"
It will be good to have support for sops encrypted files in hook manifests.

Currently it does not seem to be a solution..

I am getting below error when I used sops encrypted file in the preinstall hook.
[code]
It only works fine with secretsFiles option in helmsman apps.

I need to deploy Kubernetes secrets object before deploying a helm chart.So Preinstall hook is better option for us. Since it

[2020-06-04 11:02] Barna001 commented on #226
Hello, using helmsman version v3.4.2, the .env substitution is not enabled by default:
`-subst-env-values -subst-ssm-values` use these flags, and they will be set globally for the helmsman from that point afaik.

[2020-06-04 11:15] pmjacinto commented on #456
@sami-alajrami it seems this change got "lost" with 3.4.2 (it only made it to 3.4.1, and it's no longer in master).

https://github.com/Praqma/helmsman/commits/master/internal/app/helm_helpers.go

[2020-06-05 12:19] kbirger opened #487 "Helmsman skipping deploys where same chart version is already deployed"
That is the message I get. I am not sure if there is a way to get this to work with existing settings, or if it would require a feature update.

There are cases where we want to redeploy the same version of a chart because:

1. We had to manipulate the chart's k8s resources directly on the cluster for troubleshooting and want to roll back the manual changes (my actual scenario)
2. We want to re-de

[2020-06-05 12:37] aoighost opened #488 "How do I actually use this"
I'm still new to kubernetes, how do I actually use this in a cluster? I see a lot of stuff that looks like yaml, but how do I actually run it, let alone how do I run it from within another application programatically.

[2020-06-05 12:37] #488 closed

[2020-06-05 13:22] mkubaczyk commented on #487
helm-diff is deciding on it based on the differences between current state on the cluster and the desired state from interpolated templates from your chart. If there's no change, it won't do anything, so that is expected. You can redeploy it by disabling it and then enabling again or by passing some value that is different comparing to the one from previous deployment, so the diff will discover th

[2020-06-05 13:56] kbirger commented on #487
Sure, I could do all of those things and more, but isn't the purpose of this tool to be able to declaratively set an environment into a state which is declaratively defined?

If I have to manually manipulate settings on my state just to get it to do what I want, it sort of defeats the purpose. I believe that is the reason that Helm provides a --force flag, so that you can make your operation idemp

[2020-06-05 15:33] pmichna commented on #481
@markruler I could but Helmsman should do it too when not using the `--keep-untracked-releases` option.

[2020-06-08 10:34] pmjacinto commented on #485
I believe this should work in 3.4.1, despite it being broken again in 3.4.2

see: https://github.com/Praqma/helmsman/issues/456

[2020-06-08 10:45] pmjacinto commented on #481
there seems to be a missing null check [here]( https://github.com/Praqma/helmsman/blob/master/internal/app/plan.go#L117) as uninstall commands have `targetRelease` set to nil: https://github.com/Praqma/helmsman/blob/master/internal/app/helm_release.go#L87

[2020-06-09 07:30] mkubaczyk commented on #487
It's a matter of how Helm is able to discover changes you did manually rather Helmsman itself. I'd say it's undesired to manually mess with anything that is being managed by Helm, at least with current state of Helm where it has hard times discovering such changes happening.

[2020-06-09 07:58] mkubaczyk commented on #481
#489 should fix that. I believe this bug was introduced with hooks recently :-)

[2020-06-09 08:03] mkubaczyk commented on #480
Unfortunately, Helmsman requires version to be passed as of now, which is a part of chart's validation here https://github.com/Praqma/helmsman/blob/master/internal/app/release.go#L85. There's many places that rely on the version now so this is lots of changes needed

[2020-06-09 08:14] mkubaczyk commented on #452
`secretsFiles` are the same things as valuesValues but they are just encrypted, so this basically is encrypted values file, not a kubernetes resource definition in yaml

[2020-06-09 08:15] mkubaczyk commented on #454
Assuming this #452 was created, there's a change this case is also used in an undesired way. Can you confirm secretsFiles are values encrypted file and not k8s resources definition?

[2020-06-09 09:34] orefalo commented on #452
Hi,

secrets are typically used to fetch docker images in private repos. As such, they must be copied in multiple namespaces

Allowing the current processed namespace as the default namespace allows to create one file for all, rather than one file for each.

[2020-06-09 09:38] orefalo commented on #454
I confirm, the files are encrypted using... hiera-eyaml or helm-secret. I forgot which one I used.
  kind of gave up and when for a bash script at this point.

[2020-06-09 11:01] mkubaczyk commented on #452
Ok, let's try it another way. Show us the content of:
"./secrets/tls-ingress.yaml"

[2020-06-09 11:30] orefalo commented on #452
ENC[PKCS7,MIIDLQYJKoZIhvcNAQcDoIIDHjCCAxoCAQAxggEhMIIBHQ....js3EZF4g==]

[2020-06-09 12:00] mkubaczyk commented on #452
At this point I might need to take a look at decrypted content of that file. Just remove any fragile parts of it.

[2020-06-09 12:07] eperdeme commented on #452
Slightly related but more to show how we use secretfiles for another use case via helm-secrets;

helmsman.yaml
[code]

Then in env/dev.yaml or prod.yaml it contains the SOPS encryption

[code]

We then run
[code]

So not too sure how you're doing it but sounds interesting, but I don't see how secret files relate to NS as they just get decrypted and passed in to helm as variables, merged with value

[2020-06-09 12:08] orefalo commented on #452
to summarize the issues with the secrets:
1. if you omit the namespace below, I would expect the secret to be created in the namespace that helmsman processes. That's a fantastic feature btw, b/c it limits cop/paste
2. even when I specify a ns, the first element enver gets created.

Below is how a typical file is generated in my prepare.sh script, $ENV missing for obvious reasons.
[code]

tks

[2020-06-09 12:13] orefalo commented on #452
hum.. you get me perplex here... I am starting to the see issue and what you guys mean by encrypted value files...

[2020-06-09 12:15] orefalo commented on #452
ok... I think I got it, it's the value I need to encrypt not the file.

[2020-06-09 12:18] mkubaczyk commented on #452
Yes, that is what I wanted to show on the decrypted example of yours :-)

[2020-06-09 12:19] orefalo commented on #452
Thanks for pointing it out -
 Will rewrite my code later and report any progress. most likely close the issue as well.

would also explain why the NS is not created ;-)

[2020-06-09 12:22] mkubaczyk opened #490 "Helmsman 3.4.x stops deployment leaveing other apps in pending state when one of apps fails"
I think this bug was introduced with lifecycle hooks in https://github.com/Praqma/helmsman/commit/bb9531777ca48934d4c94871e2e3dea816c47c08 when parallel was abandoned.
If two apps with the same priority are being deployed in parallel, whenever one fails, second is left in pending state as the process exits immediately. There's no waiting for deployments to complete in order to validate the message

[2020-06-09 15:45] sharkymcdongles commented on #456
@sami-alajrami +1 to the above. We would like to use the latest, but this devel issue is a problem for us.

[2020-06-09 16:34] #481 closed

[2020-06-09 18:29] orefalo commented on #452
It works better, but still - the first secrets element is not being deployed properly.
tired a this issue, I'll revert to my bash script for lack of time. cheers; thanks for trying

[2020-06-09 18:53] mkubaczyk commented on #452
you can have multiple values files passed as encrypted in secretsFiles as long as these are properly encrypted by either hiera-eyaml or helm-secrets :-)

[2020-06-10 09:30] kbirger commented on #487
Yes, I understand the conundrum, but is it not also interfering with Helm by preempting it in this instance? I'm not saying that the existing behavior is undesired in every case, but do you not think it's a valid usecase for Helmsman to use it on a non-prod environment that may have manual changes due to the need to troubleshoot?

All I am proposing is a flag that allows the user to disable the he

[2020-06-10 14:21] gangadharmgithub opened #492 "Bug: unable to recover from a failed upgrade/install when context is used in DSF"
Helsmman version: version: v3.4.0
Helm version: 3.2.1

**Steps to reproduce the issue**
*   DSF and values files

test_minio.yaml
[code]
miniovalues.yaml
[code]

Apply the DSF

[code]

* Modify the DSF with a timeout of 1sec to trigger an upgrade failure (failure can be possible due to network issues)

test_minio.yaml
[code]

[code]

* Removed the timeout param from the DSF file.

test_minio.yaml

[2020-06-11 05:23] gangadharmgithub commented on #492
This is is an issue with install failure as well.

[2020-06-13 11:45] luisdavim commented on #487
The main idea behind Helmsman and helm is that you don't make manual changes and you keep track of the deployed configurations in git.

You are welcome to open a pr to add a flag to ignore the actual state and force the deployment

[2020-06-13 18:44] lakshaykapoor7198 opened #493 "Query: How to use latest version of helm-chart?"
I need my app to use the latest version of helm-chart always without explicitly defining the exact version.

As per helm install help, I should not specify version to install latest version.

But if i don't specify the version in desired state file, then helmsman gives error like

Please let me know, how i can use latest version of helm-chart without specifying the exact version?
I am using helmsm

[2020-06-14 23:37] sharkymcdongles commented on #492
I also encounter this and it causes great grief. Say a rolling upgrade times out then I must rerun the pipeline it will no longer work and always fail because it says "already exists but is not managed by the current context". I then label it like the other successful secrets, and it still fails the same way. The only way I can get it to work sometimes is if I delete the failed helm state secret.

[2020-06-14 23:47] luisdavim commented on #419
Maybe we can use something like https://github.com/alecthomas/jsonschema

[2020-06-15 05:21] gangadharmgithub commented on #492
Have you tried with --overwrite

Example:

kubectl label secret -n test -l owner=helm,name=minio MANAGED-BY=HELMSMAN NAMESPACE=test HELMSMAN_CONTEXT=test_context --overwrite

[2020-06-15 07:54] sharkymcdongles commented on #492
Yes I did and same result. :(

On Mon, 15 Jun 2020, 07:21 gangadharmgithub, <notifications@github.com>
wrote:

[2020-06-15 13:42] galindro opened #494 "successCondition for multiple k8s resources in hook manifest file"
Would be nice to add one more key within hooks map which provides to the user the ability to select which object status from the hook manifest file should checked. I'm running into a situation where I just want to test if the AWS EBS CSI Driver can create EBS volumes. For doing it, I need to create a POD that would need a PersistentVolumeClaim. Both are being created by the same hook manifest file

[2020-06-16 06:22] #490 closed

[2020-06-16 06:54] mkubaczyk commented on #492
This might be already fixed with v3.4.4, can you please confirm?

[2020-06-16 07:07] galindro opened #495 "Add delay time before run a lifecycle hook"
I'm deploying [cert-manager](https://hub.helm.sh/charts/jetstack/cert-manager) with helmsman and I would like to use a post lifecycle hook to create a single resource called [ClusterIssuer](https://docs.cert-manager.io/en/release-0.11/reference/clusterissuers.html). Before the ClusterIssuer creation, it is necessary to wait a few seconds for other object ([Webhook](https://docs.cert-manager.io/en/

[2020-06-16 11:59] gangadharmgithub commented on #492
It is not fixed in v3.4.4.  You can please test using the sample test provided in the bug report.

[2020-06-16 15:12] sami-alajrami commented on #493
Hi @lakshaykapoor7198 , Helmsman requires the chart version by design. The reason it is required is to maintain idempotency (i.e. running the same desired state multiple times should always result in the same outcome). This will be violated if the user does not specify a version explicitly.

[2020-06-16 15:12] #493 closed

[2020-06-16 15:21] sami-alajrami commented on #492
This was a problem in the reported error message (not actually related to the helmsman context) and was fixed in #465 (released in v3.4.1).
The issue happens when a release is in pending-* state. As long as the release is in some pending state, helm does not allow operating on it and therefore helmsman can't do much about it.
The PR I mentioned only reports a more informative error message, but re

[2020-06-23 09:09] sharkymcdongles commented on #244
@sami-alajrami sorry for the way way way way too late reply. I just tested with --skip-validation on 3.4.4, and it still does the initial search. From debug log:

[code]

Command used:

`helmsman --debug --ns-override $NAMESPACE --skip-validation --no-ns -p 3 -f dsf.yaml --apply --keep-untracked-releases --migrate-context default`

[2020-06-24 02:01] ndegory opened #496 "SIGSEGV when updating the namespace of an existing release"
Changing the namespace in the DSF for a chart already deployed ends up with a segmentation violation.

helmsman v3.4.4

[code]

[2020-06-25 14:03] galindro opened #497 "lifecycle hooks successCondition for Daemonsets"
Is it possible to use lifecycle hook successCondition on Daemonsets? There is no "conditions" object within status key:

[code]

[2020-06-25 14:46] sethatron opened #498 "Add documentation for pulling encrypted SSM parameters"
When using SSM parameter substitution, it's necessary to append `~true` to the end of the declaration otherwise it pulls the encrypted value, which leads to failed deploys. There is currently no documentation to specify this.

[2020-06-29 01:31] DWSR opened #499 "When Creating Context With Bearer Token, certificates.caCrt and settings.clusterURI should not be required"
As an operator, when creating a context with `settings.bearerToken = true` and running `helmsman` from within a Kubernetes cluster, I should not be required to pass any other information to Helmsman to complete the operation. The proposed behaviour would be similar to the behaviour of `kubectl` and most other projects based on the Kubernetes client libraries to provide a consistent user experience

[2020-07-04 03:05] ml- commented on #485
Late to the party, still wanna chip in:

Using devel versions in general works. I've been using it for quite a while now.
The version format I know works is: `1.2.3-rc1`.

You don't even need to pass the `--devel` flag.

[2020-07-06 13:32] mehyedes opened #500 "gpg and sops are not available anymore in the Docker image"
When using the latest Docker image, we have noticed that both `gpg` and `sops` are not installed:

We get the following errors when trying to deploy using `helmsman` now:
[code]
With the changes that were introduced in https://github.com/Praqma/helmsman/pull/445, the [scripts/setup.sh](https://github.com/Praqma/helmsman/blob/master/scripts/setup.sh) script is not used anymore when building the Doc

[2020-07-06 23:26] #500 closed

[2020-07-07 20:25] mmisztal1980 commented on #99
July 2020: Any updates on this? is it possible to use Helmsman with ACR yet?

[2020-07-08 03:02] sarumont opened #502 "Changing chart results in invalid `helm uninstall` command"
Helmsman `3.4.2`

I am updating a helm release in our Helmsman-managed environment to pull a new chart. Helmsman detects the change properly, but when it issues the `uninstall` command, it is missing the namespace:

[code]

Note: `helm uninstall --namespace  gateway` doesn't have the `default` namespace specified, so `--namespace` eats the name of the deployment, leaving `helm` one argument short.

[2020-07-08 15:31] mehyedes commented on #296
I am using this command
[code]
I can see all the supplied values, even if they are secrets. Tried the `-suppress-diff-secrets` flag but it seems that it's not available anymore in the latest version.
Any other way to disable `-show-diff` ?

[2020-07-15 20:14] moleskin-smile commented on #492
@sami-alajrami: I think this is a similar issue, but different. We use helmsman 3.4.2 and still a **failed** upgrade causes this.

I can also confirm that work around mentioned by @gangadharmgithub works. Adding these labels manually helps:

[code]

[2020-07-30 15:21] TomUnequals commented on #137
For those of you who need it, @Pothulapati built a fork that solves this [here](https://github.com/Pothulapati/mergo/commit/5a1b1cee7b3f9022825154dea4dcf5fb0dceecb8).

[2020-08-03 17:07] optimus-kart opened #503 "Helmsman not working with AWS EKS cluster"
Get the following error when trying to use helmsman with AWS EKS cluster

---------------
[code]

from the same environment (essentially the same kubeconfig) `kubectl create ns eks` works fine. Is there anything extra that needs to be done.

[2020-08-04 05:33] optimus-kart commented on #503
Environment issue

[2020-08-04 05:33] #503 closed

[2020-08-04 08:52] jasmdk commented on #485
We have the same issue. It seems to work if there is at least one version which is not a develop version. During the execution it invokes 'helm show chart <repo>/<chart-name>' which will show the latest version if there is no version constraint and in our case this will not find the chart and suggest to update repo. However if we apply the version with '--version <some-develop-version>' it works.

[2020-08-07 06:53] wrdls opened #504 "Timeout for apps should be duration instead of int to match Helm v3"
Helm v3 changed the `--timeout` flag from `int` to `time.Duration` so it now requires a unit of duration, e.g. `300` becomes `300s` or `5m0s`.

Since Helmsman v3.x.x only works with Helm versions >=3.0.0 I think it would better if the same change would be applied to Helmsman. The current situation is pretty confusing.

I'm willing to prepare a PR for this if this is acceptable. Obviously this a br

[2020-08-14 06:45] patrijua commented on #496
I stumbled into same error with 3.4.1, thought I did not realise what caused it. I deleted all existing releases and rerun the command to get past it.

[2020-08-17 09:14] galindro opened #506 "Ability to execute global hooks in -target"
There is some situations were we need to execute global hooks even when we are upgrading a single chart. Would be nice to have a command line option for that (like -execute-global-hooks).

[2020-08-20 00:52] bergerx opened #507 "incorrect "chart validation failed" errors"
TL;DR: Time to time helmsman keeps failing with a clearly incorrect "chart validation failed" error for a random chart in the DSF file on consecutive runs when running on a certain environment (happens on both mac, linux with v3.3.0). I installed mitmproxy to investigate the traffic, and verified that there is no network interference, reported charts exist and being reported to exist in the querie

[2020-08-20 01:36] bergerx commented on #507
Just verified that this issue still happens with v3.4.4

[2020-08-21 08:10] hazcod opened #508 "Relation between wait and test in app state?"
Hi, I was wondering what the effect was of `wait: false` and `test: true` in the apps config?
Will it execute all charts and than test them all at the end?

[2020-09-02 12:30] galindro commented on #494
Guys, any return? Is it something feasible?

[2020-09-03 14:18] lastdil commented on #492
same issue at 3.4.4

[2020-09-08 20:45] bergerx commented on #487
This issue keeps hitting us again and again.

This behaviour from helm-diff plugin actually brings back the old 3-way-merge vs 2-way-merge problematic which helm 2 used to have, and helm project eventually forced to solve it helm3, see https://github.com/helm/helm/issues/3805 for more details and related issues there.

So helmsman is not aligned with helm's behaviour after updates in Helm 3.

Here

[2020-09-08 21:03] Kylepossible opened #509 "ups is not in the target group and therefore context and labels are not changed."
I'm having an issue deploying a certain DSF with the `-group` command.

I have a desired state file that looks as such.

[code]

I am running this exact command `helmsman -apply -f desired-state.yaml -group ldps-helmsman  -debug -migrate-context  --subst-env-values -subst-ssm-values`

I am receiving `ldps-helmsman is not in the target group and therefore context and labels are not changed.`  as we

[2020-09-08 21:05] bergerx commented on #487
I commented on the https://github.com/databus23/helm-diff/issues/176 issue, and apparently helmfile is also hit with the same issue and they now consider switching rather to kubectl diff: https://github.com/roboll/helmfile/issues/1376

[2020-09-11 12:28] galindro opened #510 "Option to install lifecycle hooks in other namespaces"
Would be nice if helmsman could allow us to install a lifecycle in other namespace. For example: I'm installing seldon-core but, before install it, I need to create a Gateway istio resource that should live in istio-system namespace. If I add its creation as a preInstall hook, the following error is displayed:

[code]

[2020-09-15 07:05] mehyedes opened #511 "The -destroy command does not respect no_proxy configuration"
I have been working with `helmsman` for a while behind a corporate proxy without issues so far by making sure to set the `no_proxy` environment variable properly.
All I have used so far are the `-apply` and the `-dry-run` commands.

However, I recently needed to use the `-destroy` command and noticed that it fails no matter how I set the `no_proxy` env variable.

I am using jenkins pipelines, so I

[2020-09-15 09:39] mehyedes commented on #511
After a bit more testing, I found out that unlike `-apply` and `-dry-run`, `-destroy` only takes into consideration the `NO_PROXY` environment variable, but not `no_proxy`.

Is that the expected behaviour?

[2020-09-17 18:21] ctr26 opened #512 "Error: failed to download "jupyterhub/binderhub""
Hi all,

I'm trying to incorporate helmsman into my CI/CD for binderhub, unfortunately even a bare bones config fails "While getting chart information"

Looking at the debug I think the issue is that helmsman runs `helm show chart jupyterhub/binderhub` without a version number and for binderhub that returns nothing:

`helm show chart jupyterhub/binderhub --version 0.2.0-n219.hbc17443`

[code]

`he

[2020-09-18 00:31] ndegory opened #513 "helmsman latest release is not compatible with helm 3.3.2"
Helm 3.3.2 introduced [a breaking change](https://github.com/helm/helm/commit/882eeac7271858124a3cecbe22c5d7d61560714f) (on a patch release), helm repo add will fail if the repo has already been added.
This is something that happens often with Helmsman, running the tests on master with this version of Helm now fails:

[code]

[2020-09-18 06:29] #39 closed

[2020-09-18 06:30] #52 closed

[2020-09-18 06:30] #87 closed

[2020-09-18 06:31] #42 closed

[2020-09-18 06:31] #116 closed

[2020-09-18 06:32] #188 closed

[2020-09-18 06:33] #191 closed

[2020-09-18 06:33] #192 closed

[2020-09-18 06:33] #197 closed

[2020-09-18 06:33] #215 closed

[2020-09-18 06:34] #216 closed

[2020-09-18 06:34] #225 closed

[2020-09-18 06:34] #229 closed

[2020-09-18 06:35] #253 closed

[2020-09-18 06:35] #256 closed

[2020-09-18 06:35] #267 closed

[2020-09-18 06:36] #278 closed

[2020-09-18 06:36] #290 closed

[2020-09-18 06:36] #297 closed

[2020-09-18 06:36] #299 closed

[2020-09-18 07:10] mkubaczyk commented on #512
If the version of a chart is not being passed to helm show chart command, it seeks for latest one. Somehow your helm repo does not let helm know what the latest is. How is your repo deployed? I checked that on private repo of mine and there's everything fine event though I didn't have to explicitly mark anything as latest, it just takes the latest one date-wise I suppose.

[2020-09-18 07:17] mkubaczyk commented on #513
We're actually checking if specific repository is already there with [helm_helpers.go#L137](https://github.com/Praqma/helmsman/blob/master/internal/app/helm_helpers.go#L137). We might need more data to find out what's wrong like your DSF file and an output of your helm repo list command.

[2020-09-18 07:28] ctr26 commented on #512
Binderhub (not my chart) doesnt install unless you specify a version latest. I'm assuming that's because it's helm3 specific and helm3 requires a version number.BestCraigOn 18 Sep 2020 08:11, Mateusz Kubaczyk <notifications@github.com> wrote:
If the version of a chart is not being passed to helm show chart command, it seeks for latest one. Somehow your helm repo does not let helm know what the lat

[2020-09-18 07:32] ctr26 commented on #512
N.b. that  jupyterhub/jupyterhub (where jupyterhub/binderhub doesn't) pulls the latest version fine, so it's definitely how they've set their helm repo up.On 18 Sep 2020 08:28, ctr26@ebi.ac.uk wrote:Binderhub (not my chart) doesnt install unless you specify a version latest. I'm assuming that's because it's helm3 specific and helm3 requires a version number.BestCraigOn 18 Sep 2020 08:11, Mateusz K

[2020-09-19 00:06] ndegory commented on #513
@mkubaczyk I agree, the code looks like it shouldn't try to add the repo if it's already there. The only issue is in the Makefile, which adds the stable repo, this once can easily be fixed by adding the --force-update option.

[2020-09-19 12:47] antoinedeschenes commented on #513
helm 3.3.3 was released as a hotfix for a chart repository file problem

Indeed a fix is required, since helmsman tries to update repos as soon as the url is not identical (including basic auth credentials without #505)

Code could either call `--force-update` or skip existing repos by default

[2020-09-19 15:15] ndegory commented on #513
A systematic `--force-update` would defeat the original intent of that change in Helm. Also, it's a new option, I'm not sure we can assume the Helm CLI available in the path is at least 3.3.2.
Wouldn't new settings for the `helm repo add` command behavior be a better option? Something like settings.repositories.forceUpdate and settings.repositories.skipIfExists both defaulting to false to keep the

[2020-09-21 07:14] mkubaczyk commented on #513
Ok, I see. I just went for --force-update flag, but you're right. Before 3.3.2 there's no such flag, so we need to distinguish the cases before and after.

[2020-09-21 09:36] #513 closed

[2020-09-21 09:40] luisdavim commented on #507
hi @bergerx do you have info from the `mitmproxy` regarding what changes between consecutive runs? is the payload returned by `helm search repo` different? do you have any examples you can share?

Thanks.

[2020-09-25 03:16] psykidellic opened #517 "[question] Best practise for defining DSF based in cluster size and question about appTemplate examples"
Please let me know if there is a better place to ask this question. I am trying to figure out the best to create DSFs where our cluster is basically based on cluster/resource sizes. Instead of having dev, staging, testing, production, we want to have: dev, small, medium, large, scale. The common difference between all will be clusters would be: replicaCount, affinity and resource section. Other th

[2020-09-25 12:03] ctr26 commented on #512
Any news on this I can't use helmsman in my CI until this is addressed

[2020-09-25 22:26] LiamAttClarke opened #518 "helm-diff plugin not installed correctly in docker container"
I'm trying to create a Github Action that runs the following command:
[code]

The command fails when trying to validate installed plugins with the following error:
[code]

**helmsman version:** v3.4.4
**Docker release tag:** latest (https://www.github.com/Praqma/helmsman/tree/8df609b873ca7be25c3bb781c14ee614c76477ca)

[2020-09-25 22:44] LiamAttClarke commented on #518
I managed to get around this issue by manually installing the plugin for now.

[2020-09-26 16:23] luisdavim commented on #414
closed via https://github.com/Praqma/helmsman/pull/516

[2020-09-26 16:23] #414 closed

[2020-09-27 09:43] mortimr opened #519 "helmsman "panic: runtime error: invalid memory address or nil pointer dereference" on any command"
Hi Helmsman team !

It has been 2-3 days since it started. `helmsman` is currently crashing with the following error:
[code]

And this, no matter what command I use (even tried running `helmsman` without arguments to ensure it is not related to my chart/state). It happens only in Github Actions (exact same config / version / arguments on my machine works fine)

I'm currently using :
- `helmsman` 3

[2020-09-27 13:08] mortimr commented on #519
To provide additional info:

This is the command I am doing to setup helmsman
[code]

and crashes on the last command

Before this command, I configure my kubectl config with the aws cli like this
[code]

(the kubectl get pod is here to ensure I have access to the cluster and the command works properly)

But now it gets weird, If I run the helmsman command before the kubectl config one, it works (

[2020-09-27 14:03] mortimr commented on #519
I found the solution for anyone struggling with this:

The `~/.kube/config` file has read & write rights for group / public groups by default.
Helmsman was crashing because of this. By adding `chmod 600 ~/.kube/config` before using `helmsman` should fix the issue !

[2020-09-28 00:44] bergerx commented on #507
tl; dr:

No.

No.

I'll provide one.

Some insights:

Apparently i didnt keep any output of my tests and it was not straight forward to setup the mitm environment.

But based on the network traffic all calls to `helm search repo` runs were successful as i see them on the wire, i checked all results from the helm repos one by one.

The way i checked was based on network traffic, not based on helm e

[2020-09-30 17:30] nvanheuverzwijn commented on #518
@LiamAttClarke I think helm diff is a required dependency for helmsman diff. If it's not installed in your github actions, it simply won't work. It's not bundled with helmsman.

[2020-09-30 17:47] LiamAttClarke commented on #518
I'm using the official docker image which should have helm-diff preinstalled.

See: https://github.com/Praqma/helmsman/blob/8df609b873ca7be25c3bb781c14ee614c76477ca/Dockerfile#L27

Github Action Job:
[code]

[2020-10-01 07:09] oxyrox commented on #519
@mortimr IMO this is still a valid issue. Yes this is fixing the issue and yes that `chmod` should be performed.
However helmsman shouldn't panic due to a new warning printed by helm.

[2020-10-01 07:14] mortimr commented on #519
I agree with you that helmsman crashing without any feedback is confusing. In verbose mode we see that kubectl is disaplaying a warning just before the crash happens (that's how I got the hint).

Maybe helmsman should print stdout / stderr of a child process when it exits with an invalid status ?

[2020-10-01 20:48] gregsidelinger opened #520 "untracked release issues"
Helmsman v3.4.4 seems to be having issues dealing with untracked releases sometimes.  I'm not sure what release is causing this issue and the verbose logs are not helping me track down the issue.

Here is the output of the helmsman run showing it is finding something about an untracked release but there is no namespace to go with it and no release name.

[code]

[2020-10-02 09:16] mkubaczyk commented on #519
I can't reproduce that. Every time I get
`2020-10-02 11:15:17 CRITICAL: missing information to create context [ XXX ] you are either missing PASSWORD, USERNAME or CLUSTERURI in the Settings section of your desired state file.` so there's no panic.
Please show me the output of `ls -la ~/.kube/config` when the helmsman fails. Are you sure it's the only thing you need to run before helmsman starts pr

[2020-10-02 09:18] mkubaczyk commented on #512
I could not understand what you've written here. Can you please answer once again to what I typed before? ;-) Just please be careful with the formatting.

[2020-10-02 09:21] mkubaczyk commented on #520
Can you paste us the output of helmsman run with both `-verbose -debug` flags? I need to see the commands also

[2020-10-02 09:22] mortimr commented on #519
Ok, so when running
`aws eks update-kubeconfig --name ${CONFIG_STAGING_CLUSTER_NAME} && kubectl get pod && ls -l ~/.kube`
I get
[code]

And then helmsman (with verbose mode) fails with
[code]

[2020-10-02 09:25] mkubaczyk commented on #518
`helmsman git:(master) ✗ docker run -it praqma/helmsman:latest bash
bash-5.0# helm plugin list
NAME   	VERSION	DESCRIPTION
diff   	3.1.1  	Preview helm upgrade changes as a diff
gcs    	0.3.5  	Manage repositories on Google Cloud Storage
s3     	0.9.2  	The plugin allows to use s3 protocol to upload, fetch charts and to work with repositori...
secrets	2.0.2  	This plugin provides secrets values en

[2020-10-02 09:50] mkubaczyk commented on #519
Everything is fine with helm 3.3.4 as they've changed this https://github.com/helm/helm/commit/e5bd79faefedbbaf4a6a5f7faaa13eba4ddc55aa

[2020-10-02 10:01] ctr26 commented on #512
Looks like my text got garbled responding via email.

`Binderhub (not my chart) doesnt install unless you specify a version latest. I'm assuming that's because it's helm3 specific and helm3 requires a version number.`

'N.b. that  jupyterhub/jupyterhub (where jupyterhub/binderhub doesn't) pulls the latest version fine, so it's definitely how they've set their helm repo up'

TL;Dr the helm repo I'm

[2020-10-02 12:49] nvanheuverzwijn commented on #518
@LiamAttClarke You could also add the sha hash of the docker you are running just to make sure you aren't running your own version or an old image.

[2020-10-02 12:58] oxyrox commented on #519
Can confirm that this is working with helm 3.3.4

Thanks @mkubaczyk !

[2020-10-02 13:01] mkubaczyk commented on #519
Good, thanks :-)

[2020-10-02 13:01] #519 closed

[2020-10-05 19:05] nvanheuverzwijn opened #523 "Make a new release"
@luisdavim Hi, can you make a new release with the latest code commit ? That would be _very_ appreciated!

[2020-10-06 09:27] luisdavim commented on #523
Done `v3.4.5` is available in https://github.com/Praqma/helmsman/releases/tag/v3.4.5

[2020-10-06 09:27] #523 closed

[2020-10-06 09:27] luisdavim commented on #523
Done `v3.4.5` is available in https://github.com/Praqma/helmsman/releases/tag/v3.4.5

[2020-10-09 10:02] luisdavim commented on #520
@gregsidelinger can you try with `v3.4.6`?

[2020-10-09 11:57] luisdavim opened #525 "the CI job is partially failing"
example: https://app.circleci.com/pipelines/github/Praqma/helmsman/183/workflows/af2fc3ef-f401-4002-8b5f-c1c5c9a69c48/jobs/1894

[2020-10-11 17:46] antoinedeschenes commented on #512
I've had a similar problem 2 weeks ago when the latest release of another helm repository was not published correctly. `helm show chart` with `--version` still worked properly however. I suppose it would be safer to check the chart name in the known-good version than assuming latest has the correct information.

[2020-10-11 17:50] antoinedeschenes commented on #511
helmsman doesn't seem to handle these variables by itself, it's basically running `helm` commands (you could look at what command fails with the `-debug` flag and run it on your side) One usually have to export both uppercase and lowercase variables when setting http_proxy/https_proxy/no_proxy as it's not handled the same way in every applications.

[2020-10-11 18:07] antoinedeschenes commented on #512
In the case of jupyterhub/binderhub, helm code looks for the first matching release, excluding prereleases https://github.com/helm/helm/blob/fc9b46067f8f24a90b52eba31e09b31e69011e93/pkg/repo/index.go#L158. (That's the behavior of constraint '*')

If one looks at https://jupyterhub.github.io/helm-chart/index.yaml, there are only prereleases in the chart index.

[2020-10-11 21:17] ctr26 commented on #512
Helm show chart with the version should be how this handled, I agree.

[2020-10-12 16:21] gregsidelinger commented on #520
v3.4.6 is still finding some unknown untracked release.
`2020-10-12 15:10:52 WARNING: Untracked release [  ] found and it will be deleted -- priority: -1000`

I will try to spend some time today to see if I can track down what the release is so I can then see why helmsman is having issues with it.

[2020-10-12 17:33] gregsidelinger commented on #520
I tracked down what was breaking helmsman.

[code]

I'm not sure how this happened but it looks like some secrets where laying around for a deployment that was not even for that namespace thus helm was confused as all heck.  I don't see any objects laying around from the deployment02 release either.  Maybe something bad happened when we ran helm 2to3 and never noticed things broken as that did hap

[2020-10-13 19:14] LiamAttClarke commented on #518
@nvanheuverzwijn
[code]

[code]

[2020-10-16 09:37] galindro opened #527 "Detailed exit codes for plan"
Would be nice if helmsman could give us different exit codes on plan, like `terraform plan` does with `-detailed-exitcode`:

[code]

This is very hand to help identify if an apply should be executed on a next step of a CI pipeline or not.

[2020-10-16 15:51] nvanheuverzwijn commented on #525
I just built the docker image on my laptop and there's no such error. Seems like a CircleCI issue ?

[2020-10-16 18:00] nvanheuverzwijn commented on #486
This would be hard to do because hooks in helmsman aren't related to helm. We get sops decryption because we get to use helm secrets which uses sops to decrypt the values.yaml and create the template.
Are you suggesting to use sops to decrypt a yaml that would be installed with kubectl apply ?
` sops -d secret.yaml > output.yaml; kubectl apply -f output.yaml` ?

[2020-10-21 14:02] galindro opened #529 "Run multiple instances of helmsman"
I use Helmsman to deploy the same DSF to multiple clusters. In my CI/CD pipeline, there is a stage that runs helmsman for all clusters at the same time. The problem is that all of them uses the same build executor and thus, the same filesystem which contains the dsf file. I think that, every time that helmsman runs, it deletes the .helmsman-tmp/ directory, causing trouble to the other helmsman exe

[2020-10-24 02:59] ndegory opened #530 "extractChartName fails when only devel versions of a chart are published"
Helmsman fails to get the chart information when only devel version (such x.y.z-rc0) are published.

[code]

This doesn't happen when a X.Y.Z version of the chart is available on the repo.

It seems to come from the `extractChartName(releaseChart string)` function which use the `helm show chart` command without the --devel argument.

[2020-10-24 05:09] ndegory opened #531 "References to the deprecated helm stable repo should be removed"
We can find references to the Helm stable repo in the doc, Makefile and test files.
[This repo will be marked obsolete on Nov 13th, 2020](https://github.com/helm/charts/blob/master/README.md#deprecation-timeline), it would be wise to update the examples and tests to the new repositories.

[2020-10-27 01:44] ndegory commented on #512
This issue looks like #530, for which there's a simple solution implemented in #532

[2020-10-27 10:34] ctr26 commented on #512
#532 is more elegant than #528, well done!

[2020-10-27 12:31] #530 closed

[2020-10-28 01:06] bergerx commented on #99
I think this issue should be addressed as a generic HELM_EXPERIMENTAL_OCI support.
This process is actually vaguely defined in https://helm.sh/docs/topics/registries/ and can be used for any OCI compliant container registries and not really specific to ACR.

Here is what is expected to install a helm chart hosted on ACR:
[code]

Here is a very similar document for using ECR as a helm repo: https:/

[2020-10-29 07:53] pawelkopka opened #535 "Missing label after fail or timeout"
After fail or timeout deployment the last deployment secret doesn't get labels:  MANAGED-BY NAMESPACE HELMSMAN_CONTEXT

How to reproduce:
1. Create long deployment
2. Set short timeout
3. Run, it should fail
4. Run again
This should trigger this issue
`CRITICAL: Release [ release_name ] in namespace [ release_name ] already exists but is not managed by the current context: [ release_name ]. Applyi

[2020-11-02 11:20] #531 closed

[2020-11-02 15:27] NikoHeikki opened #536 "Feature to run other kubernetes commands rather than only helm charts."
Hi!

I don't know if this has been implemented or is something that is out of Helmsman focus/scope but would be nice to also deploy/run other kubectl commands rather than only helm charts. If I want to deploy say for example GoCD/Jenkins and other helm charts, but I like to add own configmaps, secrets, add private docker registry credentials, run script's to create tables to DB for application to

[2020-11-03 10:47] vpartington commented on #507
I've seen the same issue with Helmsman DSF files with many applications in them. Not on my laptop (macOS) or that of my colleague (Linux), but I have seen the issue on our Gitlab runners in Kubernetes, running `docker.io/praqma/helmsman:v3.4.6`.

I was able to resolve the issue by limiting the number of concurrent invocations of `helm search repo` to 1 by changing the value of `resourcePool` to 1:

[2020-11-04 22:11] bergerx opened #538 "Helmsman seems to be unintentionally running as it should be on chart renames"
Now that the helm organisation is deprecating the stable and incubator chart repos, many charts have been moving around and some are being renamed as part of the effort as well (e.g. `stable/prometheus-operator` --> `prometheus-community/kube-prometheus-stack`).

So being able to upgrade charts with `nameOverrides` is important to in-place upgrade the releases without losing the pointers to persis

[2020-11-04 22:17] bergerx commented on #538
Helmsman's full debug output can be found here: https://gist.github.com/bergerx/19b876028b3d13de22149d5a55ace371

[2020-11-04 22:19] bergerx commented on #538
#502 is a similar issue but not same.

[2020-11-04 22:20] bergerx commented on #502
Please also consider #538 when working on this.

[2020-11-05 11:49] mkubaczyk opened #539 "Helm/kubectl command fails/times out on checking cluster status on GKE"
This is something that usually happens on GKE, but there were also confirmed cases for EKS and AKS as well.
These are the examples of it:
[code]
As on GKE/EKS/AKS you usually can not directly edit control plane and its timeouts, I'd see a retry option for specific commands done by Helmsman to mitigate the issue, that is: listing releases in namespace and getting secrets with helm release status.

[2020-11-05 12:31] mkubaczyk commented on #529
As helmsman creates its tmp dir based on where it is being run, you should be able to run it in parallel (multiple helmsman's run) just by having each DSF in its dedicated directory. I know it's not the prettiest, but should work. You can even keep the DSF together in repo, just do this "magic" on CI level

[2020-11-05 13:13] erpel commented on #502
I'm also seeing this on v3.4.6 even with a namespace defined in the desired state.
The --namespace flag is immediately followed by the release name.

[2020-11-05 21:49] #535 closed

[2020-11-06 16:00] #539 closed

[2020-11-10 08:40] bergerx commented on #502
Ah just realised this is exactly same issue with https://github.com/Praqma/helmsman/issues/538. Please review that one and dont just fix the uninstall. Now that helm supports upgrading an existing release with a different chart, Helmsman doesn't need to (and should not) uninstall the old release at all.

[2020-11-10 15:37] mehyedes commented on #332
I believe this can be closed now as the feature was implemented in https://github.com/Praqma/helmsman/pull/444

[2020-11-10 19:50] erpel commented on #502
If one were to add special handling for this case, it might be a good idea to supply/set "--set nameOverride=" automatically, though I do not know enough about all the use cases to know if this is actually appropriate as default behaviour.

[2020-11-11 22:41] luisdavim commented on #536
You can use the helmsman hooks to achieve what you describe. Take a look at the docs.

[2020-11-11 22:47] luisdavim commented on #510
Maybe we can just not specify the ns in the apply command and leave it to the user to set the right ns in the manifest. But it's a tradeoff....

[2020-11-11 23:41] #332 closed

[2020-11-13 12:03] luisdavim commented on #536
the changes in https://github.com/Praqma/helmsman/pull/543 will allow you to run any command or script as a hook.

[2020-11-13 12:05] NikoHeikki commented on #536
Hi! Okay thanks, didnt notice this, I will look into this @luisdavim

[2020-11-13 12:05] luisdavim commented on #520
I think https://github.com/Praqma/helmsman/pull/541 fixe this issue. @gregsidelinger can you confirm that?

[2020-11-13 12:06] luisdavim commented on #510
https://github.com/Praqma/helmsman/pull/543 should allow some additional flexibility on this by allowing you to specify your own commands.

[2020-11-13 12:21] luisdavim commented on #507
We should probably make that `resourcePool` configurable or just use the value passed by `-p`/`--parallel`.
anyway, the latest version of helmsman does include a retry mechanism that should improve this, can you give that a try?

[2020-11-13 14:03] erpel commented on #485
Still an issue with
helm version
version.BuildInfo{Version:"v3.4.0", GitCommit:"7090a89efc8a18f3d8178bf47d2462450349a004", GitTreeState:"dirty", GoVersion:"go1.15.3"}

helmsman version: v3.4.6
A Helm-Charts-as-Code tool.

[2020-11-13 15:12] ctr26 commented on #512
Running binderhub with latest version of  helmsman using --devel still doesn't work unfortunately. My patch at #528 does but I don't know why it does vs #530

[2020-11-14 17:46] luisdavim commented on #502
It's not guaranteed that all helm charts support overriding  the release name with the `nameOverride` or `fullNameOverride` values, I think we'd need some flag to indicate if you want that release to be upgraded or replaced and then if the user chooses to upgrade it would be up to the user to set the values accordingly....

Any suggestions?

BTW: I think the bug is that https://github.com/Praqma/h

[2020-11-14 20:35] bergerx commented on #502
I'd expect the default behaviour to be aligned with helm's default
behaviour. So it should be in-place upgrade with the new chart, this is the
default helm behaviour since Helm 3 i guess.

So if anyone ever needs, we can have a flag to support explicit reinstall
(uninstall/install), but given that this bug has been here for a long
while now, i suspect anyone needs or uses this feature. So maybe no

[2020-11-14 23:11] mhobotpplnet opened #544 "Is there a way to use helmsman helm2 and helm3?"
Am doing some POC and noticed that when I install helmsman3, I have not found the way to tell it to use helm3 in diff directory, it has to be named helm otherwise it does not work.

The intension for our CI/CD is to gradually use helm2 and 3 utilizing some envs

So if say ENV=helm2 it would invoke helmsman2 that corresponds to helm2 and vice versa with helm3 by utilizing also different deployments

[2020-11-15 00:43] luisdavim commented on #502
Does it work if the chart doesn't support the name override? How does it behave if you don't set it?

[2020-11-15 15:12] bergerx commented on #502
No special logic, just based on the templates used in the chart, it will
likely replace the resources which has names depend on the chart name with
new ones.

So assuming most resources will use the default template provided by helm
create (
https://github.com/helm/helm/blob/8667aa4f98574008947ee39c2e583e359fd687c1/pkg/chartutil/create.go#L414)
its almost always the case that all resources will be

[2020-11-15 17:40] luisdavim commented on #502
ok, I have a rather large PR open right now, I'll work on this once that's merged.

[2020-11-18 11:02] luisdavim commented on #502
I've opened https://github.com/Praqma/helmsman/pull/546, can you guys give it a test using your use cases?

[2020-11-18 14:15] luisdavim commented on #538
duplicates: https://github.com/Praqma/helmsman/issues/502

[2020-11-18 14:15] #538 closed

[2020-11-18 17:44] antoinedeschenes commented on #529
tmpdir could easily be randomized, but you'll also find that the `helm repo update` command run by helmsman causes issues when running in parallel (setting HELM_ environment variables could help there)

[2020-11-20 13:55] antoinedeschenes commented on #544
If you place your helm 2 and 3 binaries in different directories, you could set your PATH variable to one or the other when calling helmsman

[2020-11-20 16:31] #502 closed

[2020-11-20 23:13] luisdavim commented on #536
I think what's currently provided though hooks covers the cases described in this issue.

[2020-11-20 23:13] #536 closed

[2020-11-20 23:17] luisdavim commented on #507
Can you test a build from master and let me know if you're still able to reproduce this?

[2020-11-24 09:38] mkubaczyk opened #550 "Panic for operation on namespace defined as an empty map in 3.6.1"
If namespaces in DSF are defined like that:
`namespaces:
   mynamespace:
   mynamespace2:
`

then running the 3.6.0 fails with:

`panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x38 pc=0x18f3d7c]

goroutine 1 [running]:
github.com/Praqma/helmsman/internal/app.(*namespace).Disable(...)
	github.com/Praqma/helmsman/interna

[2020-11-24 11:35] #550 closed

[2020-11-25 17:45] antoinedeschenes opened #555 "-show-diff missing on chart version bump"
Hi @luisdavim, looks like these change prevent the diff from printing when using the -show-diff flag with a chart version bump, as it shortcuts the diff test: https://github.com/Praqma/helmsman/blob/master/internal/app/decision_maker.go#L323

Maybe r.diff() should run in all cases with -show-diff or -verbose mode?

[2020-11-25 21:17] luisdavim commented on #555
I'll have a look at this. Thanks for pointing it out.

[2020-11-25 22:28] tgruenert opened #556 "deployment fails with conditional charts"
Type: Bug
working version 2.4.4
version with this bug: 3.6.2

**What i did**
Please see sample desired state specification. In short there are two deployments for the same chart but with different parameter. a group as parameter controls which one has to be deployed.

[code]

you can run this example by executing
`helmsman --dry-run --debug --no-banner --no-color --subst-env-values --update-deps -

[2020-11-26 00:41] luisdavim commented on #556
updating deps on both charts seems to be an issue in helmsman but the other one is a permissions issue on your side, you need to run helmsman with a user with permissions do that rename.

[2020-11-26 00:48] luisdavim commented on #556
I've added a commit to #557 to address the issue of checking disabled releases.

[2020-11-26 07:48] tgruenert commented on #556
@luisdavim
the command result different error messages depended from your OS.

Result as shown upside is git bash within windows.

Running in Linux gets:
[code]

Just for your information.
Greetings and THANK YOU for realy fast response and fix!
Great!

[2020-11-26 11:40] luisdavim commented on #555
@antoinedeschenes I've opened https://github.com/Praqma/helmsman/pull/557 to fix this, can you have a look?

[2020-11-26 16:35] #555 closed

[2020-11-26 16:42] luisdavim commented on #556
Can you try this out with a build from master?

[2020-11-26 20:33] luisdavim commented on #487
Can we consider this fixed now that we have the `--always-upgrade` flag?

[2020-11-27 08:57] tgruenert commented on #556
@luisdavim
i´ve checked this with docker image "latest". Version is shown as 3.4.4.
Deployment works like a charm.
Thank you very much!

[2020-11-27 09:00] tgruenert commented on #556
ups. i see that this was running with the old version. i have to check this up again.

[2020-11-27 09:10] tgruenert commented on #556
Test with docker praqma/helmsman:latest
reported version v3.6.2
Deployment works like a charm also.
Thank you again and sorry for litte confusion.
Greetings!

[2020-11-27 09:10] #556 closed

[2020-11-27 15:33] antoinedeschenes commented on #485
Still an issue with 3.6.2? All the `helm show chart`  calls were refactored

[2020-11-27 15:37] antoinedeschenes commented on #99
These repos use basic auth? You can specify `https://user:pass@myregistry.com/charts` or setup the repo in helm first with `--user` and `--password` and omit them from the helmRepos section

[2020-11-28 11:05] yenn opened #558 "Provide multiple sources for hooks"
Hi,

is there a way to somehow provide multiple resources for app hooks? Based on the doc it seems that it is not possible at this point. Is there a way to get around this? In my setup, helmsman is driven by gitops, projecting every git change to various environments. Most of the charts are using overridden image location, to retrieve the images from a private registry (due to docker rate limitati

[2020-12-01 10:22] luisdavim commented on #558
you can place multiple resources into a single file separated by `---` or by using a `List` type.

[2020-12-01 10:25] luisdavim commented on #558
the latest version of helmsman also supports running shell commands as hooks, depending on your setup, maybe you can use some script to deal with that...

[2020-12-02 10:29] sami-alajrami opened #561 "when adding private repositories fails, passwords can be leaked into the logs"
When helm add repo fails, the helm error may contain the password of a private repo logged in plain text and Helmsman reports that error back in its logs.

Helmsman v3.4.0 , Helm> v3.3.1
[code]

Not sure if there is a way to workaround this on the helmsman side.

[2020-12-04 08:54] antoinedeschenes commented on #561
Try v3.4.5, I think https://github.com/Praqma/helmsman/pull/505 fixes this as a side-effect

[2020-12-09 18:47] mickeder opened #562 "Upgrade planned even with diff errors"
Hi @luisdavim,
Your last change creates an issue when diff returns error, upgrade is still planned.
https://github.com/Praqma/helmsman/blob/9e609e3830b6c05b8be932f84eec4393a50ac337/internal/app/decision_maker.go#L327-L338

Probably `return err` instead of `log.Error` in L330 should resolve the issue.

[2020-12-09 18:55] luisdavim commented on #562
that was on purpose, in this case either `--always-upgrade` is set or the chart has changed so we don't care about the diff, that is only used that in case `--verbose` or `--show-diff` are set but that would be for visibility only.

[2020-12-09 19:31] mickeder commented on #562
Ok, so the issue is not related to the latest changes, but earlier with the introduction of this line
https://github.com/Praqma/helmsman/blob/bd4765591f7c36d235c5c666d067fc4abab7cfa0/internal/app/decision_maker.go#L323-L327
instead of
https://github.com/Praqma/helmsman/blob/aad626389aa3943b333ae38423dbb0b30f835692/internal/app/decision_maker.go#L397-L402

Earlier the diffing was performed when the

[2020-12-09 22:47] luisdavim commented on #562
Ok, what sort of diff errors would you catch? I thought `helm diff` was only returning errors if it would fail to calculate the diff.

I'll look into adding the diff when `--apply` is not set.

[2020-12-10 10:55] mickeder commented on #562
`helm diff` also returns validation errors of charts, e.g.
`Failed to render chart: exit status 1: Error: unable to build kubernetes objects from release manifest:
error validating "": error validating data: ValidationError(Deployment.spec): unknown field "updateStrategy"
in io.k8s.api.apps.v1.DeploymentSpec`

[2020-12-11 11:34] luisdavim commented on #562
I've been thinking about this, the changes you're referring to were made to avoid running the diff command when not needed for the decision making process and the fact that `helm diff` validates the chart was more of a side effect than anything else.

What if I add a condition that would run the diff command if `--apply` is not set as a way to validate the chart?

Another question this brings to m

[2020-12-11 14:14] sami-alajrami commented on #562
I agree on the subcommands idea for `apply` and `destroy`.
As for `--dry-run` , I recall that it was added to allow executing helmsman helm commands with the dry-run flag and log the output. If we go with subcommands, we can have a plan subcommand where the `--dry-run` flag can be used. It does not make sense to use it with `apply`.

As for the original issue here, I think something like `helmsman

[2020-12-11 18:16] antoinedeschenes commented on #562
I suppose these errors would be caught running helmsman with `--apply --dry-run`? (Since it's a rendering error, `helm template` would be more efficient than `helm diff` at finding these errors)

As we're only running a "plan" by default, the current `--dry-run` alone doesn't seem to make sense to me (it only makes sense to use that flag with helm install, upgrade, uninstall, rollback)

[2020-12-31 17:39] rollerd opened #564 "Release filename format change request"
First - thanks for this project, it's been very useful.
A quick search of the issues didn't turn this up, so I apologize if it's already been addressed.

It looks like the github release filenames don't keep a consistent semver tag throughout the path. For example, the latest Linux release has the path:
https://github.com/Praqma/helmsman/releases/download/v3.6.2/helmsman_3.6.2_linux_amd64.tar.gz

[2021-01-04 13:42] mkubaczyk opened #565 "Helmsman fails on deleting untracked release"
For plan with:
[code]

results in

[code]

because helmRelease uninstall command does not defines targetRelease considered hard dependency for releaseWithHooks function

[2021-01-06 17:07] maxlambnc opened #567 "Issue with lifecycle hook file paths in v3.6.1+"
We are having an issue upgrading to helmsman latest (v3.6.2). When running an helmsman plan (without changing anything with our working v3.4.5 deployment), helmsman fails to validate the preinstall hook files.

Our filesystem looks like this:

[code]

Our app configuration for this app is
[code]
_We also tried with `preInstall: "preinstall-hook/..."` and had the same result._

When running command

[2021-01-12 09:38] #565 closed

[2021-01-12 11:06] luisdavim commented on #567
That's strange, that message is printed if we can't find the file using `os.Stat`:
https://github.com/Praqma/helmsman/blob/master/internal/app/utils.go#L485-L486

[2021-01-12 12:04] luisdavim commented on #567
would you be able to test a build from https://github.com/Praqma/helmsman/pull/568 ? I've added some extra logging that could help understand what's happening here.

[2021-01-12 14:04] maxlambnc commented on #567
I built helmsman from 353ac27574be1c80b1fe9af9a4cab9926db17f23 and tried but it doesn't seem to be finding the file.

With filesystem as follows:

[code]

[code]

Replacing the ./ with the full path for the preinstall hook yaml file works:
[code]

[2021-01-12 20:40] luisdavim commented on #567
Thanks for testing that.
This is really odd, the code that checks the values file path is the same and that works... Could it be some permissions issue?

I'll try to reproduce on my end.

[2021-01-12 22:01] maxlambnc commented on #567
Thank you for taking time out of your day to help, it's really appreciated!

Could the code to retrieve the hook files be different versus the code use to retrieve value files ? I don't think it's a permission issue (unless it's something inside helmsman?) since using the exact same files with previous versions of helmsman works.

We encountered the issue in Ubuntu (real and WSL) and MacOS.

Here

[2021-01-13 00:07] luisdavim commented on #567
We might be missing some function call to expand the relative paths that we use with the values but forgot hooks?...

I'll have a look in the code.

[2021-01-13 11:03] luisdavim commented on #567
Hi, I've opened https://github.com/Praqma/helmsman/pull/569 and I think it should fix this issue, can you give that a try?

[2021-01-13 14:54] maxlambnc commented on #567
#569 fixed it, thank you!

[2021-01-13 15:09] luisdavim commented on #567
Awesome, thanks for testing.
I'm just waiting for a PR review and once I have that I'll merge and cut a new release.

[2021-01-14 04:14] KR411-prog opened #570 "How to deploy multiple crds in helmsman dsf file pre-install hook?"
How to deploy multiple crds in helmsman dsf file pre-install hook? I tried like below..but it is throwing error,

[code]

[2021-01-14 20:19] KR411-prog opened #571 "Helmsman preInstall hook is not executing script"
I am trying below command in dsf file to execute a script,
[code]
Content of the script:
[code]

But the error is,
`CRITICAL: apps validation failed -- for app [kube-prometheus-stack ]. config/add-ons/kube-prometheus-stack/kubeprometheus-12x-crds.sh must be of one the following file formats: .yaml, .yml, .json`

Helmsman version : 3.6.2
As per the document , Shell script can be executed in preinst

[2021-01-14 20:19] KR411-prog opened #572 "Helmsman preinstall hook not working for shell script"
I am trying below command in dsf file to execute a script,
[code]
Content of the script:
[code]

But the error is,
`CRITICAL: apps validation failed -- for app [kube-prometheus-stack ]. config/add-ons/kube-prometheus-stack/kubeprometheus-12x-crds.sh must be of one the following file formats: .yaml, .yml, .json`

Helmsman version : 3.6.2
As per the document , Shell script can be executed in preinst

[2021-01-14 20:20] KR411-prog opened #573 "Helmsman preinstall hook not working for shell script"
I am trying below command in dsf file to execute a script,
[code]
Content of the script:
[code]

But the error is,
`CRITICAL: apps validation failed -- for app [kube-prometheus-stack ]. config/add-ons/kube-prometheus-stack/kubeprometheus-12x-crds.sh must be of one the following file formats: .yaml, .yml, .json`

Helmsman version : 3.6.2
As per the document , Shell script can be executed in preinst

[2021-01-20 01:01] #544 closed

[2021-01-20 13:35] sacesare opened #576 "JSON schema"
Please, provide [json schema](https://www.schemastore.org/) with comments(docs), instead of [desired state specification](https://github.com/Praqma/helmsman/blob/master/docs/desired_state_specification.md )  and some particular tom/yaml cases, for standardized IDE support/documentation.
VScode , for example, can use - [Even Better TOML](https://taplo.tamasfe.dev/configuration/#configuration-file)

[2021-01-20 18:35] mhobotpplnet opened #577 "Parallel Deployments"
Our CD consists of deploying apps whatever its in master branch. That said infrastructure looks something like

app1.yaml (valuesfile)
app2.yaml (valuesfile)
deployments.yaml (infrastructure of apps that point to app1/app2)

Now the issue is when we do a deployment, and merge something in master for say app1 we do a plan and deploy is paused. If we merge something else like change to app2 we than

[2021-01-21 12:50] galindro opened #578 "context and merge"
I would like to do the following, but I'm hitting this limitation: `When merging multiple DSFs, context from the firs DSF in the list gets overridden by the context in the last DSF.`. I'm opening this issue to confirm if contexts really doesn't works with merge feature and if it doesn't, why is it documented in https://github.com/Praqma/helmsman/blob/master/docs/how_to/misc/merge_desired_state_fil

[2021-01-22 14:45] #567 closed

[2021-01-24 17:25] mhobotpplnet commented on #577
Lurking bit around the docs, seems like flag target could be the possible answer

[2021-01-25 11:57] luisdavim commented on #577
yes, you can use `targets` and `groups` as mentioned in https://github.com/Praqma/helmsman/blob/master/docs/how_to/misc/limit-deployment-to-specific-apps.md and https://github.com/Praqma/helmsman/blob/master/docs/how_to/misc/limit-deployment-to-specific-group-of-apps.md to achieve what you're looking for.

[2021-01-25 11:57] #577 closed

[2021-01-25 12:09] luisdavim commented on #578
Hi, I think this is the expected behaviour, the merge merges all the files into one if they have overlapping properties the last one will take precedence and will overwrite the previous ones, the idea is that you have a common base and then can set environment specific properties in environment specific additional files, if you have separate contexts for the different envs you'll need to run them

[2021-01-25 12:14] luisdavim commented on #573
Hi, is the file you're passing as the hook set as executable?
You can also try:

[code]

But if all your scrip it doing is calling `kubectl apply` you can also try placing all your `yaml` manifests into a single file separated by `---` and just pass the path to that `yaml` file as the hook.

[2021-01-25 12:15] luisdavim commented on #572
duplicates: #573

[2021-01-25 12:15] #572 closed

[2021-01-25 12:15] luisdavim commented on #571
duplicates: #573

[2021-01-25 12:15] #571 closed

[2021-01-25 12:17] luisdavim commented on #570
to apply multiple manifests in a hook you need to place them all in a single `yaml` file where each manifest is separated by a line containing `---`.
duplicates: #573

[2021-01-25 12:17] #570 closed

[2021-01-25 12:19] luisdavim commented on #573
BTW, what's the version of helmsman you're using? Shell hooks where only introduced recently and the version you're using might not support them yet....

[2021-01-25 12:45] luisdavim commented on #573
Can you make sure your script is set as executable and try `v3.6.4` ? There was a fix there regarding the hook file paths.

[2021-01-25 14:08] galindro commented on #578
Yes I know that I can do it by issuing 2 commands. This is exactly the workaround that I implemented.

And what about let the users decide what they want in the merge? Perhaps a command line flag (--keep-contexts). It is up to you to decide.

If it isn't feasible, at least the docs should be put in other place, as you said.

[2021-01-25 19:32] luisdavim commented on #578
I agree we should make the docs more clear but I'm not sure if the extra complexity of allowing what you're asking is worth the extra value it would bring....

[2021-01-25 20:38] galindro commented on #578
Well, in my case I administer multiple clusters. Some of them requires some packages that others don't and vice-versa. My CI pipeline is generic for all of them. So, to circumvent this situation, I created a bunch of shell scripting logic. With such proposed flag, this wouldn't be necessary. Anyway, the logic is already in place and it is working. So, it's up to you to decide.

[2021-02-01 08:10] omersi opened #579 "helm repo git+https:// with basic auth requires credentials entry during execution"
Hi

I'm trying helmsman out to expedite my releases.
I added my chart git repo with basic auth including the correct credentials. but it doesn't pick those up.
I have to enter the credential several times during the process, though it's part of the helm repo.

command:
`helmsman --dry-run --debug -f settings.toml`

output:

[code]

I also tried to add it as a pre-configured helm repo:

[code]
and

[2021-02-02 10:18] luisdavim commented on #579
Hi, helmsman doesn't support `git+https` does helm support that?
What's currently supported in Helmsman is using helm repos or a URL to the chart's tarball.

[2021-02-02 11:38] omersi commented on #579
Hi

`helmfile` supports it... :/

First adding `helm-git` plugin.

[code]

then, if repo wasn't added initially, it's running this way:

[code]

And from that point, my chart is stored with the credentials.

[2021-02-03 08:14] luisdavim commented on #579
Oh, it's a helm plugin. We can look into adding support for it but it's not something Helmsman currently supports.

PRs are welcome...

[2021-02-03 15:18] bergerx opened #580 "ly"

[2021-02-03 15:18] #580 closed

[2021-02-03 15:22] bergerx commented on #580
sorry i opened this by mistake, closed it, feel free to delete if possible on github.

[2021-02-03 16:31] epierotto commented on #529
Another issue that you may find is while working with multiple KUBECONFIG or `kubectl` contexts.
Helmsman runs `kubectl config use-context my-context` instead of ensuring that each `kubectl` or `helm` command has the flags `--kubeconfig` and `--context`
If you are running multiple Helmsman at the same time this is a big issue.

[2021-02-24 14:28] skylenet opened #581 "Support oci:// chart pulling"
From helm version [3.5.0 (Release notes)](https://github.com/helm/helm/releases/tag/v3.5.0) onwards, there is  support for pulling charts from OCI registries: https://helm.sh/docs/topics/registries/

Example:

[code]

It would be nice if we could also support this on helmsman.

e.g.

[code]

If you try to do this currently you'll get an error like:

[code]

[2021-02-25 10:16] mickeder opened #582 "Cannot use center repo"
There is an issue with using "center" chart repo, which tbh is even given as an example in https://github.com/Praqma/helmsman/blob/master/examples/minimal-example.yaml

[code]

I identified the root cause here
https://github.com/Praqma/helmsman/blob/master/internal/app/state_files.go#L151
The problem is that chart described with more than one slash (e.g. center/jfrog/artifactory) is considered as

[2021-03-02 15:16] bergerx opened #583 "Environment value substitution inconsistencies and undocumented breaking changes in how they are evaluated"
We have Helmsman 3.1.0 in our pipelines, and have been thinking about moving to the latest (3.6.4 as of now).
But we hit an undocumented breaking change in recent helmsman versions.
And as a result, I found Helmsmans environment value substitution is not consistent.

# Test Environment Setup

I prepared a test env to see how the two Helmsman versions are evaluating environment variables.

List of

[2021-03-02 15:25] bergerx commented on #583
Helmsman should be consistent for:
* missing variable substitution in DSF and Variable files
* empty variable substitution in DSF and Variable files

I'd prefer missing and empty variables to be acted as if they are empty strings anywhere they are used.

[2021-03-02 15:41] bergerx commented on #583
Ah i just realised the `--skip-validation` paremater.

So this parameter is added with a non-backward-compatible manner. 3.1.0 and 3.6.4 behaves same when 3.6.4 is running with an explicit `--skip-validation` flag.

[2021-03-03 01:27] elialgranti opened #584 "Feature request: Flag to disable updating helm repositories."
One of the most time time consuming steps when running helmsman is updating helm repos, specially if the repos are slow to respond.
There should at least be a flag to disable this step and maybe even remove it by default if dependencies are not being updated.

[2021-03-03 19:24] #583 closed

[2021-03-04 10:43] elialgranti opened #585 "Bug: username and password are not required when caClient and caKey are provided"
helmsman fails to run when no `username` and `password` fields are provided in the `settings` section even if `caKey` and `caClient` are provided in the `certificates` section.
The username and password fields are used by kubectl for basic authentication which may not even be set in the cluster when certificate based authentication is used.
A workaround for this bug is to provide bogus `username`

[2021-03-09 21:46] justenwalker opened #586 "bug: downloadFile misclassifies some regular files as buckets and panics"
The code inside

[code]

uses `strings.HasPrefix(file,"http")` and other such tests to detect if a URL was given versus a regular file.
However if you have a regular file that starts with `http`,`gs` or `az` or `s3` then it will treat that regular file as a URL.
It will fail to parse out the bucket components since the string is not a URL:

[code]

I'm not sure what the full scheme list is, but pe

[2021-03-10 15:02] #586 closed

[2021-03-12 13:13] Revellski opened #588 "Race condition in Namespace ResourceQuotas"
This is similar to https://github.com/Praqma/helmsman/issues/426 but affects ResourceQuotas. I suspect the fix would be similar to https://github.com/Praqma/helmsman/pull/429

**Steps to replicate:**
1. Define namespace quotas
[code]
2. Apply
[code]
3. Consecutive apply/destroy operations will fail with the following:
[code]
Thanks

Ref
https://github.com/Praqma/helmsman/blob/232293302b255981cbea7

[2021-03-13 00:42] luisdavim commented on #588
Thanks for reporting this, https://github.com/Praqma/helmsman/pull/589 should fix it, can you give it a try?

[2021-03-13 07:48] Revellski commented on #588
https://github.com/Praqma/helmsman/issues/588 segfaults on attempt to set quotas. Cleaned-up `.helmsman-tmp` prior testing.

[code]

kubectl version:
[code]

[2021-03-13 12:56] Revellski commented on #588
Looks good, @luisdavim, appreciate it! :beer:

[2021-03-13 13:27] #588 closed

[2021-03-13 14:03] luisdavim commented on #584
Hi, https://github.com/Praqma/helmsman/pull/590 should address this issue, can you give that a try?

[2021-03-16 14:38] mrasap opened #591 "dry-run with test: true"
When you execute helmsman with the flag `--dry-run` on a DSF file with `test: true`, it will attempt to run the tests. Is this intended behavior?

A pipeline job that validates before applying the changes will therefore always fail if you install a new app, since there is no release that can be tested. Feels more like a bug imho.

### Example behavior
Below you may find a concrete example (from [t

[2021-03-20 17:40] #584 closed

[2021-03-21 17:02] #585 closed

[2021-03-26 08:31] mqmr commented on #573
Hello @luisdavim,

Could you please tell if it's always necessary to specify bash before a script like it's defined in your example?

[2021-03-26 08:36] luisdavim commented on #573
Only if the file you're trying to execute is not executable.

[2021-03-26 08:55] mqmr commented on #573
Thank you for a swift response.

I've been trying to deal with an issue with using a script defined in a preInstall hook in an upper-level DSF. Here's an example of what I have:
[code]

definition of the app in the common DSF:
[code]

definition of the same app in the cluster specific DSF:
[code]

A script is under common/scripts directory and has an executable bit:
[code]

In the common DSF I als

[2021-03-26 09:25] mqmr commented on #573
I've read the source code for a bit and have an impression that Helmsman looks for a hook with a script in its CWD.
I've copied the script to `scripts` directory at the top of the repository and it did the trick:
[code]

[2021-03-26 10:42] luisdavim commented on #573
oh, yes, I think the script path is supposed to be relative to the desired state file, I believe that's mentioned in the doc.
Are you saying that you have to move the script from `${CWD}/scripts/` directly to `${CWD}/` if that's the case then I believe it is a bug and I'll look into it.

[2021-03-26 10:53] mqmr commented on #573
Not exactly like that.
Initially, I placed the script under `${CWD}/common/scripts/` directory, and in ``${CWD}/common/dsf.yaml` I defined a hook for an app as:
[code]
and then I got the error:
[code]
Later I moved that script under `${CWD}/scripts/` and the issue has been resolved.

Well, If I understood docs correctly, then `${CWD}/common/scripts/` should work in my initial version, but it didn'

[2021-03-26 11:04] #591 closed

[2021-03-26 11:07] luisdavim commented on #573
I think you're right, I'll have a look at the code and check what's missing.

[2021-03-26 11:21] mqmr commented on #573
Thank you very much @luisdavim 👍

[2021-03-27 14:16] luisdavim commented on #573
Hi, I've opened https://github.com/Praqma/helmsman/pull/594 that should fix this issue, can you guys give it a try?

[2021-03-29 08:45] mqmr commented on #573
Hello @luisdavim,

I've just tested helmsman from the `fix_573` branch and it works as expected (or according to docs).

Thank you 👍

[2021-03-29 09:48] luisdavim commented on #573
awesome, thanks for testing it :)

[2021-03-29 09:49] #573 closed

[2021-04-07 18:24] aston-r opened #596 "Using yaml multiline with ssm value"
Hi,

[code]

I want to store the certificate in SSM use it afterward

STR:
- store certificate in SSM
- use helmsmen to fetch the data
[code]

Actual Result:
- new lines are replaced with spaces and some application fails to parse certificate in this format
[code]

I tried to specify in the multiline form, but there is an issue with identaion and as a result there is an issue with converting YAML

[2021-04-14 22:15] jmontroy90 opened #598 "refactor: the Command struct's `Exec()` should return (ExitStatus, err)"
Code that uses `ExitStatus` returned from some `status := cmd.Exec()` typically conditions on `status.code != 0`. Then `status.errors` is included in the subsequent error.

This frequently leads to information being dropped:
- Not every CLI displays anything other than a non-zero exit code for errors (often the error code itself has semantic meaning)
- Not every CLI we might use dumps errors to st

[2021-04-15 08:28] luisdavim commented on #598
Sounds good to me but I don't see a reason for the error to be some custom structure, it can simply be a regular error and we'd still return the ExitStatus even on errors and carry the information there....

[2021-04-22 09:17] luisdavim commented on #598
fixed in #601

[2021-04-22 09:17] #598 closed

[2021-04-26 11:33] luisdavim opened #604 "CI release is failing"
The CI release process is failing with:

[code]

@sami-alajrami  can you have a look?

[2021-04-26 12:55] pivotaljohn opened #605 "Upgrade/Require v0.32.0 of ytt"
FWIW: as of release [v0.32.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.32.0) of `ytt` , the `--ignore-unknown-comments` flag is no longer needed.

[2021-04-26 13:48] luisdavim commented on #604
I think the problem is the API key used in the CI, if @sami-alajrami no longer has access to the Praqma org, can someone from Eficode/Praqma fix this?

[2021-04-26 14:35] sami-alajrami commented on #604
@arinzeakubue can you please update that token in CircleCI env variables (its called `GITHUB_TOKEN`). You can replace it with a [github token](https://github.com/settings/tokens/new) that has read/write access to this repo.

[2021-04-29 12:49] eugenesotnikov opened #607 "Error with use flag dry-run"
Helmsman 3.6.7

When i using flag --dry-run, i get error
 Error: unknown flag: --server-dry-run

In kuberenetes documentation i found than it is deprecated

Note: The flag kubectl apply --server-dry-run is deprecated in v1.18. Use the flag --dry-run=server for using server-side dry-run in kubectl apply and other subcommands.

[2021-04-30 08:29] arinzeakubue commented on #604
@luisdavim @sami-alajrami , the token has been refreshed.

[2021-04-30 08:29] arinzeakubue commented on #604
@luisdavim @sami-alajrami , the token has been refreshed.

[2021-04-30 08:29] #604 closed

[2021-04-30 09:53] luisdavim commented on #604
Thanks, @arinzeakubue .
Maybe you could give @sami-alajrami contributor access?

[2021-05-02 03:28] bergerx commented on #487
We are using the release revision as a signal to identify if any changes are applied recently and to see what was changed.

Using --always-upgrade flag prevents that, we not just lose the signal and after running helmsman couple of times without a change we'll even lose the ability to see the change anymore due to the`--history-max` in helm.

We can't just keep revision histories forever, its not

[2021-05-02 08:07] luisdavim commented on #487
Are you always using the same chart version? Why are you trying to redeploy the same version? Did you do any manual changes outside of helm to the k8s resources?

[2021-05-03 00:42] bergerx commented on #487
Not always but quite regularly. If the change is a change in values file, yes. We also regularly kick them off to reduce possible configuration drifts.

We have a couple dozen helm releases in a single merged DSF. When there is a change on any of them we trigger helmsman. We also have various number of cases that helmsman is triggered unnecessarily. But this exact feature is also why we wanted to

[2021-05-04 23:39] veleek commented on #518
@LiamAttClarke - Did you ever get any resolution on this.  I'm running into the same issue?

[2021-05-06 20:49] bergerx commented on #487
If https://github.com/helm/helm/issues/9220#issuecomment-826666672 is implemented, maybe we can skip calling helm-diff when a certain flag is set and instead start depending on pure helm. helm-diff dependency has been hitting us in various ways for a long while.

Actually if this is implemented in helm, i believe there wont be any reason to avoid running a `helm upgrade` every time we issue a helm

[2021-05-09 18:04] luisdavim commented on #487
Yeah, that's what `-always-upgrade` does, it skips the `helm diff` command and runs `helm upgrade` the main issue being reported here is really a `helm-diff` issue (https://github.com/databus23/helm-diff/issues/176)

[2021-05-09 18:23] luisdavim commented on #487
I can try making some experiments with something like `kubectl diff -f <(helm template ...)` and see if that could replace `helm-diff`

[2021-05-09 19:14] luisdavim commented on #487
This is still WIP as I haven't had a chance to test it yet but https://github.com/Praqma/helmsman/pull/609 should allow using `kubectl diff` instead of the `helm diff` plugin and solve this problem.
If you have a chance please do test it and let me know how it goes @bergerx .

[2021-05-13 12:35] luisdavim commented on #582
Hi @mickeder sorry for the late reply, I think https://github.com/Praqma/helmsman/pull/610 should fix this issue would you be able to give that a try?

[2021-05-13 13:28] mickeder commented on #582
@luisdavim unfortunately center repo is not working anymore (https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) so I cannot test the fix. I checked with local charts and other external helmRepos and it works fine.
BTW, sunsetting center repo means all its traces should be removed from docs, examples and tests in helmsman repository (e.g. https://github.com/Praqma/hel

[2021-05-13 13:42] luisdavim commented on #582
Oh, I didn't knew that, thanks, I'll find some replacement for those.

[2021-05-13 18:43] #582 closed

[2021-05-14 15:41] luisdavim commented on #605
the flag is still there in v0.33.0 and I don't see it marked as deprecated.

[2021-05-18 12:43] luisdavim commented on #581
Hi, would `helm install --upgrade oci://my-registry.local/my-chart --version 1.0.0` be valid or do we have to use the pull command?
If do we have to `pull` and `export`?

[2021-05-18 14:48] luisdavim commented on #581
I've opened https://github.com/Praqma/helmsman/pull/612 but I haven't tested this or ever use OCI so my assumptions might be wrong there. I also don't have access to a setup where I could test it so I'd appreciate if you could give it a go and provide some feedback.

Thanks.

[2021-05-18 15:25] luisdavim commented on #99
I've opened https://github.com/Praqma/helmsman/pull/612 and I'm looking for someone that could test it since I currently don't have access to a setup where I can test it myself...
Also, since https://github.com/Praqma/helmsman/pull/610 Helmsman supports passing a URL for a chart so that could also be an alternative...

[2021-05-19 15:47] skylenet commented on #581
hey @luisdavim . Thanks for looking into this 👍

Unfortunately `helm install` doesn't support the oci:// protocol yet. Thus, doing `helm pull` and `helm export` is the correct way for now.

That's great! I gave it a quick try and the `pull` and `export` seem to work fine. I did get the following error afterwards once `helm show chart` tries to validate the chart:

[code]

This is what the director

[2021-05-19 18:10] luisdavim commented on #581
I've updated the PR and I think it should work now though I can't be sure since I don't have a way to test it...

[2021-05-19 18:29] skylenet commented on #581
@luisdavim it's working now 🎉

One way to test this could be by running a local registry and pushing some charts there. More about that in here: https://helm.sh/docs/topics/registries/

[2021-05-19 18:31] luisdavim commented on #581
Awesome, thanks.

[2021-05-19 18:40] luisdavim commented on #99
Fixed in https://github.com/Praqma/helmsman/pull/612
More details in https://github.com/Praqma/helmsman/blob/master/docs/how_to/helm_repos/oci.md

[2021-05-19 18:40] #99 closed

[2021-05-19 18:41] #487 closed

[2021-05-21 02:54] Foovar commented on #607
I have the same problem with version 3.7.0 and 3.6.11

[code]

[2021-05-21 08:20] luisdavim commented on #607
oh, that's strange. I'll have a look.

[2021-05-21 08:53] luisdavim commented on #607
@Foovar would you be able to give this a try? https://github.com/Praqma/helmsman/pull/613

[2021-05-25 10:20] #607 closed

[2021-05-25 11:17] epierotto opened #614 "Flag `--context-override` does not set Helmsman context on `--apply`"
When applying a set of DSF files I provide the flag `--context-override sample-deployment-stratus` and I expect Helmsman to use that context to write the label `HELMSMAN_CONTEXT` in the Helm secret. Note that I have not `context` key set in any DSF file, I'm only providing the context only with the flag `--context-override sample-deployment-stratus`.

Helmsman sets the label `HELMSMAN_CONTEXT` in

[2021-06-22 15:29] relative-progressio opened #616 "Apply values file with OCI registry"
Hi all,

We want to deploy our helm charts (stored in Azure Container Registry) via helmsman to our k8s cluster. Azure Container Registry is able host helm charts because it has OCI registries support, see [1] for details.
Helmsmen is also supporting OCI registries since version 3.7.0. :)
We updated to version 3.7.1.

We adapted our helmsman file according to the provided documentation [2]

[code]

[2021-06-23 12:56] luisdavim commented on #616
I don't think OCI values is a thing, how did you push them to  the repository? Normally values are not stored in helm repos they would be stored in git along with the Helmsman files or the application.
What helmsman does support is passing a URL for the values files so you can try that...

[2021-06-23 14:54] relative-progressio commented on #616
Hi,

Sorry, if I was not clear enough, the values files are not directly stored on the OCI registry, there are within the folder of the chart (just like the Chart.yml and so on):

[code]

They got pushed together with all the other files of the chart via `helm chart push` [3]

So, my assumption was that helmsman is able to pick the files up once it's exported

[3] https://docs.microsoft.com/en-us/

[2021-06-23 15:52] luisdavim commented on #616
oh, I see, that's not really supported, we assume the paths for any file in the Helmsman DSF are relative to that file if they are not absolute, I don't think that what you're trying to do is a common pattern so I don't think it's worth supporting.

But if you're bundling the values files with your chart why not just use the default values for that? if you want to switch on the env you could have

[2021-06-24 09:50] #616 closed

[2021-07-05 11:40] #499 closed

[2021-07-23 17:24] Chronojam opened #617 "Helmsman with OCI artifact, non-semver version"
Hiya,

Should non-semver versions be allowed for OCI artifact sources? Id expect this to work, given its (alpha?) support in helm.
Consider that the following is valid and works:

[code]

However running this through helmsman with the following configuration:
[code]

results in the following:
[code]
I had a poke around in the source code, and I do believe its due to this:
  https://github.com/Praq

[2021-07-23 17:50] Chronojam commented on #617
Sorry, just realised what a massive anti-pattern this would be!
Im confusing appVersion with the chart version here.

[2021-07-23 17:50] #617 closed

[2021-07-28 12:22] Moncefmd opened #618 "Disable openapi validation"
There is a flag in helm that allows for skipping the openapi validation (--disable-openapi-validation).

I have a use case where I have a chart that I want to manage through helmsman but one of the requirements is to use that flag on install/upgrade.

Is there any existing way to supply that extra flag?

[2021-08-10 18:02] luisdavim commented on #618
Hi, are you using the `helm-diff` plugin or the kubectl diff option? Does that flag work with the `helm-diff` plugin?
I could just pass the additional flags to the diff plugin if that works...

[2021-08-10 18:19] luisdavim commented on #618
On a second thought, just passing the additional flags to the diff command might be dangerous as it only supports a subset of the helm flags, for example, for the upgrade:

[code]

So it might be better if I add some place to pass diff specific flags...

[2021-08-10 18:41] luisdavim commented on #618
What do you think about what's proposed in https://github.com/Praqma/helmsman/pull/620 ? would you be able to give that a try and let me know your feedback?

[2021-08-12 02:29] jamesdehart opened #621 "Does the -destroy respect "protected" status?"
Hey all,

I hope this is the right place to post this.

The [docs](https://github.com/Praqma/helmsman/blob/master/docs/how_to/misc/protect_namespaces_and_releases.md) says

## When a release (application) is protected, it CANNOT:
* deleted
* upgraded
* moved to another namespace

When I was using the `-destroy` switch it destoryed all the apps even the protected apps. I don't have any real experen

[2021-08-12 10:59] luisdavim commented on #621
Hi, I actually don't know if this is on purpose or an oversight but it seems like the protection only applies to the `apply` actions.
Since it's better to be safe than sorry, I think it's better to honour the protection flag on destroy as well, I'll open a PR for this.

[2021-08-12 12:01] luisdavim commented on #621
@jamesdehart can you try a build from https://github.com/Praqma/helmsman/pull/622 ?

[2021-08-12 20:16] jamesdehart commented on #621
Sure let me give it a try. Thanks!

[2021-08-13 16:32] jamesdehart commented on #621
@luisdavim Should I compile your branch or are there compiled bits somewhere?

[2021-08-13 16:51] luisdavim commented on #621
I don't think we have builds for PRs so you'll have to clone, checkout the branch and run `make build`

[2021-08-14 01:56] jamesdehart commented on #508
I was just wondering the same thing.

[2021-08-14 01:58] jamesdehart commented on #508
@hazcod I found this [reference](https://github.com/Praqma/helmsman/commit/fbebb0344ac5b26d7e1fa06e7d87211eec85ff35#diff-300c88d51b9b5b1f8da7de5129b4a18ad19106382a161d7be3285e2e1127dd55R297)

[2021-08-17 19:25] mhobotpplnet opened #623 "Change Tiller Url tiller-image"
Got bit of dilemma with CD regards to installing charts with helmsman, basically it calls the helm2.16 init .1 which by default installs tiller 'installTiller=true'.

Issue is that tiller image thats getting it from is on old google cloud infrastructure. Is there a way to make it in template so it uses different location for same image ?

Say: --tiller-image=ghcr.io/helm/tiller:v2.16.1

currently

[2021-08-24 14:22] behoof4mind opened #624 "[Bug] Multiple instances does not allow to use out of namespace resources"
If you have resources in Helm chart that need's to be deployed somewhere out of the release namespace - you will not be able to apply changes from another machine, if there is no `helmsman-tmp` directory

[code]

Not sure is it anti-pattern or not to deploy some objects by your Helm chart not only to the release namespace. But faced with it in `cert-manager` chart from https://artifacthub.io/packa

[2021-09-23 22:17] #512 closed

[2021-10-01 07:09] kamikazechaser opened #629 "[Bug] Update always planned and executed even when there are no changes"
Helmsman always plans and bumps revision even when there are no changes, it also creates a second deployment after the initial run. A summary:

- 1st Run: Release planned, executed and deployment created on cluster
- 2nd Run: Release planned, executed and another deployment created on cluster (2 at this point)
- 3rd and subsequent runs: Release planned and executed, no changes on cluster however H

[2021-11-18 20:27] veleek opened #632 "Chocolatey package for Helmsman"
I've created a [Chocolatey](https://chocolatey.org/) package to make installing helmsman easier on Windows.

https://github.com/veleek/chocolatey-packages/tree/main/helmsman

I'd like to package it and make it available on the Chocolatey community repository, but wanted to confirm that sounds reasonable to you.

[2021-11-23 23:14] veleek commented on #632
A pre-release version of the package has been published here.  It'll only be visible if you filter in pre-release packages in the search.  I'm planning on releasing a stable version in the next few days.  If you'd like it unlisted for any reason just let me know.

[2021-12-09 08:53] mkubaczyk commented on #629
Helmsman makes the decision based on what helm-diff plugin returns.
It's as simple as
`			if diff, err := r.diff(); err != nil {
				log.Error(err.Error())
			} else if diff != "" {
`
so the `diff` var has to be different than empty string making the step proceeding to upgrade.
Can you try executing
`helm diff --suppress-secrets upgrade grafana grafana/grafana --version 6.16.10 --namespace grassro

[2021-12-10 05:26] kamikazechaser commented on #629
I'll give it a try and report back.

[2021-12-30 09:07] alifiroozi80 commented on #607
a

[2021-12-30 09:10] alifiroozi80 commented on #607
with

`kubectl apply -f web.yaml --server-dry-run --validate=false -o yaml`

i get an error:

[code]

and  even with

`kubectl apply -f web.yaml --dry-run=server --validate=false -o yaml`

i get another errro:

[code]

[2021-12-30 19:03] luisdavim commented on #607
@alifiroozi80 can you share the helmsman logs auth the `--debug` flag on?

[2021-12-30 19:51] luisdavim commented on #632
Sounds good to me, thanks :)

[2022-01-01 19:01] alifiroozi80 commented on #607
@luisdavim sorry luis i havent install helm on my machine. im using docker-desktop

[2022-01-02 06:56] #632 closed

[2022-01-02 06:57] veleek commented on #632
https://community.chocolatey.org/packages/helmsman

[2022-01-03 19:51] alifiroozi80 commented on #607
I found-out the solution:  [here](https://stackoverflow.com/a/70533107/15545196)

[2022-01-03 20:22] luisdavim commented on #607
But is helmsman using the wrong flag in your use case?

[2022-01-04 11:58] ipavkovic opened #636 "command.go: reference to wrong value?"
see

https://github.com/Praqma/helmsman/blob/master/internal/app/command.go#L130

shouldn't it be c.Cmd instead of c.Description?

[2022-01-11 21:16] HarrisonTotty commented on #629
I'm noticing the same behavior with the official datadog chart. When manually running a `helm diff ...` it looks like the detected change in my case is with two annotations: `checksum/clusteragent_token` and `checksum/api_key`. My guess is that these probably always report as different between runs.

[2022-01-23 23:19] luisdavim commented on #636
The description is what's displayed in the plan, so we use it here to show what step of it failed.

If you use the `--debug` flag,`helmsman` will show you the commands being executed, if that's what you're looking for...

[2022-02-02 08:08] Revellski opened #639 "Helmsman performance using OCI registries"
Helmsman seems to work considerably slower when using OCI registries. Has anyone else noticed similar issues?

Using ChartMuseum registry a single run averages ~1m45s. Using OCI registry (following [this doc](https://github.com/Praqma/helmsman/blob/4846415ebf12f88894db2401728dbde2014d0edf/docs/how_to/helm_repos/oci.md)) it takes ~4m52s for the same setup (releases, versions & etc).

Tweaking the c

[2022-02-10 14:54] ipavkovic commented on #636
ok, understood, thanks for clarification

[2022-03-20 01:41] bergerx commented on #507
this is not happening anymore in our environments

[2022-03-20 01:41] #507 closed

[2022-03-20 23:52] luisdavim commented on #639
We can look into adding parallelization to that step, but I'm not sure if helm will allow it.

[2022-03-31 13:54] claireleray-poclain opened #645 "Env variable substitution : .bashrc/current session env takes precedence over supplied .env file"
Hi!

It seems that when applying a configuration using a command looking like  `helmsman --apply --subst-env-values -e <config-file.env>  -f helmsman.yaml`, Helmsman first uses variables from .bashrc instead of the supplied config file. Is that the expected behavior ? If so, could that maybe made clearer in the documentation ?

Thanks!

[2022-04-20 12:31] ruanda opened #648 "Helmsman cannot remove release with target flag"
Helmsman cannot remove release in cluster under following conditions:
* target flag is used (with yaml key as a value)
* release name (`name` field) is different then yaml key

eg.
[code]

when run with `-target ldap-gateway` it does not find any release and do nothing.

[2022-04-20 18:30] luisdavim commented on #645
I'm not sure if I get what you are reporting.

Any process that you start will "see" the variables that are already set in your session, for example, the ones from `bashrc`.

In this case, helmsman will read the env file you provided and load them on top of the ones that already existed before, so the variables set on the env file should take precedence. If the same variable is set both on your `b

[2022-04-20 18:34] luisdavim commented on #648
It might be because you have the app marked as disabled.

What is the command that you are running? Is it `helmsman --destroy -target ldap-gateway`?

[2022-04-22 08:23] claireleray-poclain commented on #645
Yes ! Variables were set on both, and I had to strip my `bashrc` so that Helmsman would use the ones in my env file.

[2022-04-23 08:18] luisdavim commented on #645
Ok, that should not happen. I'll have a look.

[2022-04-27 00:46] jamesdehart commented on #137
@luisdavim now that this issue https://github.com/imdario/mergo/issues/89 is closed. Is there a way to resolve the always true bug?

Thanks mate! Love this tool.

[2022-04-27 06:43] luisdavim commented on #137
I'll have a look.

[2022-04-27 07:35] luisdavim commented on #645
This is fixed in #649 I'll cut a release soon.

[2022-04-27 07:35] #645 closed

[2022-05-04 16:48] sethatron commented on #509
KJ I wish you would have responded back with an answer to this we're seeing this again haha

[2022-05-12 14:40] gyszalai opened #656 "Variable substitution not working in env files"
It seems that environment variables are not substituted in env files.
I use helmsman 3.9.0. I checked the `godotenv` library that this project uses for loading env files and from version 1.3.0 it should work. Helmsman 3.9.0 uses 1.4.0 of this lib.

Example:

**helmsman.yaml**
[code]

**.env file**
[code]

**Calling helmsman:**
[code]

**result (from helmsman output)**
[code]

Am I doing somethong

[2022-05-13 10:05] luisdavim commented on #656
Hi, you need to enable it with the config flags `--subst-env-values`

[2022-05-13 10:55] gyszalai commented on #656
Hi, thanks for your suggestion, but the situation is the same with `--subst-env-values`

Actually, according to the documentation, this CLI option is for value files not env files:
`--subst-env-values` turn on environment substitution in values files.

I need the substitution in an env file that is passed to helmsman with the `-e` option.

[2022-05-13 10:58] gyszalai commented on #656
Our use case is that the operations team provides a helm repo base URL in an env var on the CI server and we would like to use it in our `.env` file like this:

[code]

[2022-05-13 23:35] luisdavim commented on #656
Oh, I think the problem might be that we're not expanding the environment variables inside the env file. I'll look into that.

[2022-05-14 15:17] luisdavim commented on #656
Hi, I've opened a PR to address this (#657) would you be able to test your use case using a build from that branch?

[2022-05-14 22:59] luisdavim commented on #656
I was checking `godotenv`'s code and my PR might  not be enough, `godotenv` only expands variables that are set in the loaded env files.

There are issues regarding this:
* https://github.com/joho/godotenv/issues/102
* https://github.com/joho/godotenv/issues/74

[2022-05-14 23:24] luisdavim commented on #656
as a workaround, untill this gets fixed upstream, you can try adding something like this in your CI:

[code]

[2022-05-17 07:40] luisdavim commented on #656
Keeping this open as `godotenv`'s implementation might still affect the issue

[2022-05-17 08:13] gyszalai commented on #656
Sorry, I was offline for a few days. I'll check if it solves our problem.

[2022-05-17 08:46] gyszalai commented on #656
just built helmsman from the master branch, but it doesn't seem to be working :(

[2022-05-17 09:25] luisdavim commented on #656
Yeah, I think the problem is that with the current implementation `godotenv` will expand `HELM_REPO_URL=${HELM_REPO_BASE_URL}/our-repo/` as `HELM_REPO_URL=/our-repo/` unless `HELM_REPO_BASE_URL` is also defined in the env file, there are a bunch o issues and PRs open about this in https://github.com/joho/godotenv, but the maintainer isn't responding....

There's also https://github.com/subosito/go

[2022-05-17 10:22] gyszalai commented on #656
Yes, I just checked the `godotenv` project and saw that there are multiple issues regarding this problem. Anyway, thank you for your efforts! That would be great if you could look at the other lib (gotenv), though.

[2022-05-20 10:28] luisdavim commented on #656
Once https://github.com/subosito/gotenv/pull/15 is merged, I think we can switch from `godotenv` to `gotenv`.

[2022-05-23 19:12] luisdavim commented on #656
Hi @gyszalai would you be able to test a build from #665 and let me know if it solves your use case?

[2022-05-24 05:54] gyszalai commented on #656
Hi @luisdavim I just checked it and it looks good! 👍 The variable is resolved either if its in another env file or just simply exported before calling helmsman. Thank you for your efforts!

[2022-05-24 12:58] #656 closed

[2022-06-05 09:34] berlincount opened #670 "Helmsman helm chart?"
Ohai,

I'm a bit surprised there's no helm chart to (self-)manage helmsman? 🤔

cheers!

[2022-06-06 12:54] #670 closed

[2022-06-09 13:59] mpalu opened #674 "Problem connecting with a bearer token"
Hi!

I'm running Helmsman inside my cluster as a pod of Gitlab CI

I'm trying to set the context using the default token available in the pod, but no outputs are available for plans when connecting to the cluster this way.

This is the output:

[code]

This is my config:

[code]

Can somebody provide me some guidance here? I tried to set the context in multiple ways, creating a local kubeconfig, u

[2022-06-09 20:22] prizov commented on #518
Hit the same issue and solved it by providing the `HELM_PLUGINS` env variable:
[code]

[2022-06-11 20:29] luisdavim commented on #576
Hi @sacesare I've opened #675 to add a generated json schema file, can you check if that file fits your use cases?

[2022-06-14 20:05] #576 closed

[2022-06-23 10:50] mkubaczyk commented on #648
I think I see the issue.
Inside
```func getHelmReleases(s *State) []helmRelease```
we're iterating through namespaces defined in DSF and then looking for releases by doing `helm list -all` from this namespace.
Then, when -target flag is used, we're doing
[code]
so -target uses app name taken from yaml as a key, but `releases` are represented by `r.Name`. In case of what author posted, it's gonna b

[2022-06-23 11:01] mkubaczyk commented on #648
At the same time, if you use release name (not yaml key) for -target flag, function
```func (s *State) disableApps(groups, targets, groupsExcluded, targetsExcluded []string)```
goes through
[code]
so it's the opposite, we're having -target with release name, but that code part runs on yaml key of this app.

It has to be fixed by making the decision what's more important - release name or yaml key

[2022-06-25 00:06] #648 closed

[2022-06-26 11:59] luisdavim commented on #639
I'm closing this as I'm pretty sure this is no longer an issue with newer versions of `hlem` and `helmsman` feel free to re-open if you find it's still an issue.

[2022-06-26 11:59] #639 closed

[2022-07-12 11:30] varunvijayagopal opened #684 "Is there a way to make helmsman not look for charts/files for the services which are disabled"
[apps.docmosis]
    priority = -820
    name = "docmosis"
    namespace = "$namespace"
    enabled = $docmosis_enabled
    chart = "oci://$acr_url/charts/docmosis"
    version = "0.1.1"
    valuesFiles = [
      "./ansible/group_vars/$environment/docmosis_values.yml",
      "./ansible/group_vars/$environment/$stack/docmosis_values.yml",
    ]
    wait = $wait_for_service_to_be_up

We are using
 en

[2022-07-15 10:37] mkubaczyk commented on #684
It sounds like something worth being added. Let me find it out. I'll get back to you to see if that's something easy to do.

[2022-07-19 09:44] amadeusjposchmann opened #687 "Dry Run stopped working (--server-dry-run again)"
Helm version: v3.9.1
Helmsman version: v3.12.0
kubectl version: v1.24.3

Debug log:

    2022-07-19 11:07:54 NOTICE: Apply .helmsman-tmp/tmp2026425016/monitoring-nonprod.yaml manifest postUpgrade
    2022-07-19 11:07:54 DEBUG: kubectl apply -n proxies -f .helmsman-tmp/tmp2026425016/monitoring-nonprod.yaml --server-dry-run
    2022-07-19 11:07:54 ERROR: command for release [proxy-staging] failed: A

[2022-07-21 09:34] mkubaczyk commented on #684
Making the code ignore disabled apps when it comes to pulling and validating charts is doable, but I don't think the same applies to loading values. The code resolves absolute paths way earlier before validation of DSF happens so if we'd like to skip disabled apps, we'd have to exclude them from the overall DSF validation which I don't think is a good thing. We always want the DSF to be valid no m

[2022-07-21 10:28] mkubaczyk commented on #687
I've changed the way we get kubectl version and put PR to be reviewed. :-)

[2022-07-21 13:42] #687 closed

[2022-07-27 08:51] claireleray-poclain opened #692 "Folder .helmsman-tmp is not deleted"
Hi,

I recently upgraded to Helmsman v3.12.0. Since then, when I apply my charts, the .helmsman-tmp folder is not deleted after the execution, even though there's no visible error. Has something changed in this folder's behavior ?

Thanks :)
Claire

[2022-07-27 09:54] mkubaczyk commented on #692
Hey,

thanks for reporting that. There's such problem indeed. I tracked the change that caused that, which is #668, os.Exit does not respect defer that should be running the cleanup. I'll fix that.

[2022-07-27 10:06] #692 closed

[2022-07-28 07:01] claireleray-poclain commented on #692
Amazing, thanks a lot!

[2022-07-29 08:34] #624 closed

[2022-07-29 19:24] EmandM opened #694 "Conditionally enable apps"
Currently the enable flag just takes a straight boolean as to whether the chart is enabled or not. It would be nice to have a conditional option, based on a runtime argument the app will be conditionally enabled or disabled.

[2022-08-01 05:47] mkubaczyk commented on #694
There is something that will do such job just fine: [env vars in DSF](https://github.com/Praqma/helmsman/blob/master/docs/how_to/apps/environment_vars.md)

An example:
[code]
[code]
It's up to you wether it's true or false in the end, so that is the place where you can use your conditions. Sounds enough?

[2022-08-09 14:21] EmandM commented on #694
It would be preferable to have something similar to Helm's feature to conditionally enable sub-charts. Linking to a variable in the values.yaml or something similar. Specifically I'm looking for something that would allow us to enable different charts based on environment.

Helm's solution looks like this
[code]

So I'd be looking for something like this

[code]

[2022-08-09 14:22] EmandM commented on #694
Though I am aware that the structure of helmsman might make this unfeasible

[2022-08-10 18:37] #334 closed

[2022-08-16 05:04] #137 closed

[2022-08-16 05:04] #236 closed

[2022-08-16 05:04] #244 closed

[2022-08-16 05:04] #261 closed

[2022-08-16 05:04] #296 closed

[2022-08-16 05:04] #303 closed

[2022-08-16 05:05] #319 closed

[2022-08-16 05:05] #321 closed

[2022-08-16 05:05] #328 closed

[2022-08-16 05:05] #367 closed

[2022-08-16 05:05] #369 closed

[2022-08-16 05:05] #374 closed

[2022-08-16 05:05] #382 closed

[2022-08-16 05:05] #386 closed

[2022-08-17 05:20] #387 closed

[2022-08-17 05:20] #388 closed

[2022-08-17 05:20] #400 closed

[2022-08-17 05:20] #412 closed

[2022-08-17 05:20] #417 closed

[2022-08-17 05:20] #419 closed

[2022-08-17 05:20] #435 closed

[2022-08-17 05:20] #436 closed

[2022-08-18 05:15] #440 closed

[2022-08-18 05:15] #447 closed

[2022-08-18 05:15] #452 closed

[2022-08-18 05:15] #454 closed

[2022-08-19 05:09] #461 closed

[2022-08-19 05:09] #474 closed

[2022-08-20 05:03] #475 closed

[2022-08-20 05:03] #520 closed

[2022-08-20 05:03] #525 closed

[2022-08-20 05:03] #527 closed

[2022-08-20 05:03] #529 closed

[2022-08-20 05:03] #558 closed

[2022-08-20 05:03] #561 closed

[2022-08-21 05:04] #562 closed

[2022-08-21 05:04] #564 closed

[2022-08-21 05:04] #578 closed

[2022-08-21 05:04] #579 closed

[2022-08-21 05:04] #596 closed

[2022-08-21 05:04] #605 closed

[2022-08-21 05:04] #614 closed

[2022-08-22 05:21] #476 closed

[2022-08-22 05:21] #623 closed

[2022-08-22 05:21] #629 closed

[2022-08-22 06:17] lakshaykapoor7198 opened #703 "Unable to install helmsman after updating macOS Monterey to 12.5.1"
After updating macOS monterey to 12.5.1: https://support.apple.com/en-in/HT213413, I am unable to install helmsman in anyway.

I tried downloading the binary from https://github.com/Praqma/helmsman/releases/download/v3.13.1/helmsman_3.13.1_darwin_amd64.tar.gz but tar file is getting deleted automatically after downloading.

I tried to copy helmsman binary from remote instance to local, helmsman bi

[2022-08-23 05:25] #478 closed

[2022-08-23 05:25] #479 closed

[2022-08-23 05:25] #480 closed

[2022-08-23 05:25] #485 closed

[2022-08-23 05:25] #486 closed

[2022-08-24 05:21] #492 closed

[2022-08-24 05:21] #494 closed

[2022-08-24 05:21] #495 closed

[2022-08-24 05:21] #496 closed

[2022-08-24 05:21] #497 closed

[2022-08-24 05:21] #498 closed

[2022-08-24 05:21] #504 closed

[2022-08-24 05:21] #506 closed

[2022-08-25 05:25] #508 closed

[2022-08-25 05:25] #509 closed

[2022-08-25 05:25] #510 closed

[2022-08-25 05:25] #511 closed

[2022-08-25 05:25] #517 closed

[2022-08-25 05:25] #518 closed

[2022-08-25 08:55] #703 closed

[2022-08-31 17:04] prizov commented on #137
I've opened this PR #707 to address this issue

[2022-09-01 21:35] luisdavim commented on #694
As Mateusz mentioned, you can use env variables for this. Another alternative, you can use YAML anchors, something like this:

[code]

with way whenever you disable `my-app` the `otherapp` will also be disabled.

[2022-09-13 10:02] flypenguin opened #711 "YAML anchors fail on "duplicate" keys"
# actual behavior

i have the (shortened) `helmsman.yaml` file i pasted below, one line in the apps template marked with "THE CRITICAL LINE". now, if i leave that line _in_, i get this error message when executing helmsman:

[code]

that is also very much not what should happen according to the [linked page](https://blog.daemonl.com/2016/02/yaml.html) in [your docs](https://github.com/Praqma/helms

[2022-09-14 06:22] Tech-S1 opened #712 "App Forward Versioning"
Currently you have to explicitly set the version in the desired state files.

I have an environment that gets deployed via helmsman from a helm repo. I wondered if there were any ways to ensure in the development environment it uses the latest version in the helm repo rather than manually updating these versions?

If there's no easy was is there a reason there no support for forward versioning?

[2022-09-23 11:42] amadeusjposchmann opened #715 "helm-secrets plugin (>= 4.0.0) interaction broken"
Using the current version of helm-secrets, you'll get an error
[code]

Helm-secrets changed the command names in 4.0.0 as a breaking change: https://github.com/jkroepke/helm-secrets/blob/v4.1.0/CHANGELOG.md#400---2022-09-11

[2022-09-26 05:29] #684 closed

[2022-09-30 18:42] tillig opened #718 "OCI `helm show` works outside Helmsman, fails inside Helmsman"
I am working on an Azure DevOps pipeline where I run a script task to do some Helmsman dry-run execution. Some of my charts are internal and stored in Azure Container Registry, making use of [the Helm OCI support](https://helm.sh/docs/topics/registries/).

What I'm finding is that if I run the `helm` commands _manually_ then things work fine, but the same commands _run from Helmsman_ will fail bas

[2022-09-30 18:47] tillig commented on #718
Something I just thought of that is of note:

If I'm _interactively_ running this from my dev workstation _as me_, it succeeds. That's on a Mac (Monterey OSX 12.6). The failure is on an Ubuntu build machine running under a different user account.

As noted, both my user and the service account can run the `helm` command successfully. I even tried copying the `config.json` from the build server and

[2022-09-30 19:04] tillig commented on #718
I just tried this on a different pool of build agents and it worked. Now I'm thinking it may either be an OS problem or a networking configuration problem. I'm going to close this for now. Sorry for the trouble.

[2022-09-30 19:04] #718 closed

[2022-09-30 21:23] tillig commented on #718
I figured it out. For folks seeing something similar, the answer for me was a problem with `XDG_CONFIG_HOME`.

Looking on Microsoft hosted Ubuntu build agents, `XDG_CONFIG_HOME="/home/vsts/.config"`. On Mac, there is no `XDG_CONFIG_HOME`.

Helm on Linux stores its authentication info under that. Looking at `helm env` (in the original issue description you can see this) it shows:
`HELM_REGISTRY_CON

[2022-10-15 15:34] luisdavim commented on #715
@amadeusjposchmann I've opened a PR ( #721 ) to address this, would you be able to test a build from than branch?

[2022-10-17 08:25] amadeusjposchmann commented on #715
@luisdavim Yes, I'll check with a local build. Thanks.

[2022-10-17 09:17] amadeusjposchmann commented on #715
@luisdavim That didn't work ootb. The secrets plugin now writes the decrypted contents to stdout, instead of createing a `.dec` file. Based on your PR, and the existing code to handle eyaml, I've created another PR (#723) to handle this. Checked against versions 3.15.0 and 4.1.1 of the plugin.

 Feel free to be picky if code style is not up to par, or you would prefer a different approach.

[2022-11-02 10:57] amadeusjposchmann opened #727 "Trigger new release?"
#723 has been merged for a while, but no new release has been cut since. What has to be done to trigger a new release? Judging by CONTRIBUTING.md, you'd need push access to the master branch to cut a new release.

[2022-11-02 11:51] albeus commented on #711
I'm having the same problem.

I'm using this environment:
- Helmsman: v3.15.0
- Kubectl: v1.25.3
- Helm: v3.10.1

[2022-11-02 19:10] ruanda commented on #711
I noticed the same issue in 3.13.1, 3.12 works great. It is probably related to this change https://github.com/Praqma/helmsman/pull/686/files. See also https://github.com/kubernetes-sigs/yaml/issues/46

[2022-11-04 13:42] mkubaczyk commented on #727
Release can be created only if you're the reviewer of the repo. I guess it took so long because we expected #713 to be finished soon so it can be included but it's stale so I cut the v3.15.1, it's on its way.

[2022-11-04 14:31] #727 closed

[2022-11-08 05:09] #694 closed

[2022-11-13 22:46] luisdavim commented on #711
I can try to have a look at this in the next weekend.

[2022-11-19 23:29] luisdavim commented on #711
Hi, I've created #734 to address this, can you give it a try with you use cases?

[2022-11-19 23:31] luisdavim commented on #712
Hi @Tech-S1 I've creted #735 to address this, can you try a build from that branch and set the chart version to `latest`?

[2022-11-23 08:44] #711 closed

[2022-11-24 07:47] zied-jt opened #737 "Regression with helm-secrets plugin v4.2.2 interaction broken, v4.2.1 works fine."
Hello here,

[helm-secrets release v4.2.2](https://github.com/jkroepke/helm-secrets/releases/tag/v4.2.2) broke interaction that was fixed in #723. The same behavior as #715 is produced

[code]

As a workaround, freeze helm-secrets to `v4.2.1`

[2022-11-24 20:57] luisdavim commented on #737
so in `v4.2.2` `helm-secrets` when back to the previous command format?

[2022-11-24 21:10] luisdavim commented on #737
I've had a quick look at the code and if you're using any version of `helm-secrets` greater than `v4.0.0` `helmsman` will not use `dec` but it will use `decrypt` instead, can you share what versions of `helm`; `helmsman` and `helm-secrets` you're using?

[2022-11-25 14:57] zied-jt commented on #737
@luisdavim, I read the code and I think that I find the issue:
- `helm-secret` new version is released as `4.2.2-dev` instead of `4.2.2`
- In `helmsman` source code, the semver behavior in [this line](https://github.com/Praqma/helmsman/blob/c1479287b11f787a6d90d4a272346cb915a1a559/internal/app/utils.go#L479) occording to the  [Semver doc ](https://github.com/Masterminds/semver) will not consider `

[2022-11-25 15:08] zied-jt commented on #737
Thats said here is another workaroud if `v4.2.2` is needed:

- download the plugin tar and extract it
- edit the `plugin.yaml` and replace `4.2.2-dev` by `4.2.2`
[code]
- uninstall old version: `helm plugin uninstall secrets`
- install the new version: `SKIP_SOPS_INSTALL=true helm plugin install <MODIFIED-PLUGIN-DIR>`

[2022-11-25 16:56] luisdavim commented on #737
I can add the pre-release suffix

[2022-11-25 16:58] luisdavim commented on #737
I've updated https://github.com/Praqma/helmsman/pull/738 to include it.