[2017-11-02 19:57] sami-alajrami opened #1 "add setup for helm and kubectl to connect to a cluster at runtime."

[2017-11-02 19:57] sami-alajrami opened #2 "add unit tests"

[2017-11-02 19:58] sami-alajrami opened #3 "support a way to authenticate with private S3 Helm chart repos"
need to support expressing S3 private helm repos in the desired state file and use that repo by using the Helm S3 plugin.

[2017-11-02 19:58] sami-alajrami opened #4 "build docker image with all dependencies"
Helmsman docker image should contain helm, kubectl, helm s3 plugin and helmsman.

[2017-11-02 19:59] sami-alajrami opened #5 "update documentation for v0.1.2"

[2017-11-04 15:52] #1 closed

[2017-11-09 13:14] sami-alajrami opened #6 "Attempting to create a context when username and password are not provided in the desired state file."
**Behaviour:**

the following settings table in the desired state file:
[code]

leads to helmsman trying to create a new context `clusterX` when it does not already exist.

**Expected behaviour:**
to fail and say that it can not create the context since credentials are not provided in settings.

[2017-11-09 13:21] #6 closed

[2017-11-09 14:09] #4 closed

[2017-11-09 14:24] sami-alajrami commented on #3
This is now supported when setting AWS access keys as environment variables when running praqma/helmsman container:

[code]

[2017-11-09 14:34] sami-alajrami opened #7 "support reading password for cluster connection from an environment variable."
Currently, a .passwd file is needed to contain the password. This file should be excluded from version control (using .gitignore).

This method does not work when running helmsman in a container in CI pipeline. Therefore, it should be replaced to read the password from an environment variable.

[2017-11-09 14:46] sami-alajrami opened #8 "support reading certificates for cluster connection from S3 buckets."
use S3 buckets to read certificates instead of having file paths which require mounting volumes to the helmsman container.

[2017-11-09 16:10] #7 closed

[2017-11-15 09:08] sami-alajrami opened #9 "allow upgrading a release with a newly passed values.yaml if the release is already deployed."
this would make any changes to values.yaml take effect even if the release is already deployed and no other changes are required to the release.

[2017-11-15 13:51] sami-alajrami opened #10 "configure a CI pipeline on circleci"

[2017-11-16 12:31] sami-alajrami opened #11 "testing executing a plan fails inside a container."

[2017-11-16 17:01] #10 closed

[2017-11-16 17:02] #11 closed

[2017-11-16 17:02] #2 closed

[2017-11-16 17:04] sami-alajrami opened #12 "add functional tests"

[2017-11-19 15:34] sami-alajrami commented on #9
This is now supported in v0.1.2

[2017-11-19 15:34] #9 closed

[2017-11-19 15:37] sami-alajrami commented on #3
this is now supported in v0.1.2

[2017-11-19 15:37] #3 closed

[2017-11-19 15:39] sami-alajrami opened #13 "support rolling back to a specific release revision"
as of v0.1.2, rolling back is by default done to the latest revision. Need to support rolling back to an earlier revision.

[2017-11-19 18:21] #5 closed

[2017-11-22 10:08] sami-alajrami opened #14 "create contribution guide"

[2017-11-25 10:55] sami-alajrami opened #15 "support passing secrets to charts through env variables."
Using the --set helm flag, secrets can be passed to helm charts when they are installed/upgraded from env variables (defined in CI ).

For this, the desired state file need to include definition of the env vars to be used and the decision maker should process these vars.

[2017-11-25 11:55] sami-alajrami opened #16 "allow certificates to used from local file system."
It is useful for testing purposes to be able to specify certs as relative paths from local file system in the desired state file.

[2017-11-25 12:12] #16 closed

[2017-11-25 15:48] sami-alajrami commented on #15
this is supported in v0.1.3

[2017-11-25 15:48] #15 closed

[2018-02-02 11:30] sami-alajrami opened #17 "Enable defining protected namespaces/applications"
We need to enable users to define a set of namespaces/applications as desired to be `protected`to avoid messing up a production deployment. This can be added to the `desired state declarative file`

For that we need a definition of `protected`. I suggest the following:

1. Apps/Services (Helm releases) that are under protection CANNOT be deleted, upgraded or moved to other namespaces.
2. Apps/Serv

[2018-02-16 13:29] meekrosoft commented on #17
This makes a lot of sense.  Is it possible to apply the protection on both namespaces and individual applications?

[2018-02-22 17:18] sami-alajrami commented on #17
yes, it's possible. In that case, the namespace level protection would have higher precedence compared to the application level protection.
i.e. any application deployed  in a protected namespace is protected by default, otherwise, the application level protection flag would determine if an is protected or not.

[2018-03-01 13:19] sami-alajrami commented on #17
This is now supported in v1.0.0.

[2018-03-01 13:19] #17 closed

[2018-03-02 13:12] eicnix opened #18 "Difference between helmsman and helmfile"
How does helmsman differentiate itself versus [helmfile](https://github.com/roboll/helmfile)?

Both try to solve managing multiple helm applications from a single configuration file.

[2018-03-03 11:34] sami-alajrami opened #19 "charts with "-" in their name get unnecessarily reinstalled."
a chart like "kubernetes-dashboard" are continuously detected as changing their namespaces:

[code]

[2018-03-03 11:38] sami-alajrami opened #20 "non existing releases fail when checking if they are protected."
If a release does not already exist, the release protection check fails with a panic error.

This bug affects v1.0.0 only.

[2018-03-03 12:28] sami-alajrami commented on #20
Fixed in v1.0.1

[2018-03-03 12:28] #20 closed

[2018-03-03 12:28] sami-alajrami commented on #19
Fixed in v1.0.1

[2018-03-03 12:28] #19 closed

[2018-03-03 13:02] sami-alajrami commented on #18
@eicnix Thanks for your question.

Actually, when we created helmsman some months ago, we were not aware of helmfile. But when we got to know about it, we realized that despite sharing the same general goal, there were major differences in the details. For example:

-  We use TOML format for describing desired states. This is a more human-readable format than yaml and is not whitespace sensitive.

[2018-03-04 15:48] eicnix commented on #18
Thanks for the clarification!

[2018-03-04 15:48] #18 closed

[2018-03-07 13:44] sami-alajrami opened #21 "handle set values containing special characters."
The following example demonstrates this bug:

[code]
Currently, the string for `DB.PASSWORD` is not quoted before passing. This sometimes break the chart installation at run time.
Additionally, the `,` is treated as a separator. So the above DB.PASSWORD will be interpreted at runtime as
[code]
All commas in the set values must be escaped and the value string must be quoted.

[2018-03-07 15:07] sami-alajrami commented on #21
fixed in v1.0.2

[2018-03-07 15:07] #21 closed

[2018-03-31 11:27] #13 closed

[2018-04-01 13:34] #14 closed

[2018-04-01 13:34] #12 closed

[2018-04-20 19:20] bgeesaman opened #22 "How to improve run time on larger desired state files?"
First, thank you for sharing `helmsman` with the community.  When I kicked the tires on it using a smallish toml configuration with 2 apps, performance of a full run took a handful of seconds.  Everything was good.  But now, with ~30 helm charts defined and installed in a 10-node cluster, a CI run takes well over 8 minutes.  For bumping, say, a container version in a `values.yaml` for one app, thi

[2018-04-23 20:42] bgeesaman commented on #22
@sami-alajrami Thanks for that.  It's pretty much what I was thinking, too.  Reducing the number of calls to helm where possible is great, but the real pain is how long helm takes to run each command.  If I was to break up my deploys, say, per namespace, so that I'd have 5-6 apps instead of 30, it'd be a good bit faster, but I think I'd still have 4+ second calls to helm because of a shared Tiller

[2018-04-26 10:33] sami-alajrami commented on #22
That's a good idea @bgeesaman .. how does the format below sound?

[code]
Then, when running helm commands, it implicitly either use the shared Tiller (if the desired namespace does not have its own), or use the specific Tiller of the namespace  (using `--tiller-namespace`)

[2018-04-26 14:16] bgeesaman commented on #22
I was thinking it would be an `[apps.appname]` level configuration item like:

[code]

Where the `jenkins` is sent to the tiller in `staging` and the `nginx` is sent to the tiller in `kube-system`.  But I might be not fully aware of the architectural needs to say if that's doable.

[2018-04-26 14:26] bgeesaman commented on #22
Also, I'm curious to know what it would take to be able to provide the TLS configuration items to be able to communicate securely.  Thanks!

[2018-04-26 15:34] bgeesaman commented on #22
That seems reasonable as it would skip over an already deployed tiller in that namespace and not re-init it unnecessarily.

I deploy `tiller` via my cluster provisioning process and then trigger the CI pipeline with `helmsman` in it.  I have one `tiller` now, but as mentioned above, I'd like to break those out and add TLS configurations to each.  Since I will probably want to configure the `tiller

[2018-04-27 18:03] sami-alajrami opened #24 "support TLS"
as described in #22

[2018-04-28 18:29] sami-alajrami commented on #22
@bgeesaman could you please try `v1.2.0-rc`  with a desired state similar to:

[code]

Regarding performance:

- The new release replaces many helm calls with a single one for building the current state.
- Using multiple Tillers introduces some latency due to deploying Tillers and waiting for them to be ready.
- You can use `--skip-validation` if you are confident that your desired state is valid.

[2018-04-30 13:30] bgeesaman commented on #22
@sami-alajrami This is great to hear!  I'll try this out today and let you know shortly.

[2018-04-30 15:53] bgeesaman commented on #22
I have 28 applications deployed via a single Tiller in `kube-system` in an existing cluster.  Running `time` on a helm ls takes just under 4s.  So each and every helm call is pretty "expensive".  Using `helmsman` version `1.1.0`, a "do nothing" (all apps are already installed and no configuration changes are to be made or waiting on) run takes nearly 12 minutes to complete.  If I leave the applica

[2018-05-06 16:26] sami-alajrami commented on #22
Awesome! Glad to hear that .. And thanks for the greet tests/stats 👍

[2018-05-06 16:26] #22 closed

[2018-05-06 16:26] sami-alajrami commented on #24
beta supported since v1.2.0-rc

[2018-05-22 14:33] krogon opened #28 "Add possibility to specify multiple yaml files with values"
This is something helm supports. It can be used to have common file for some app, and dedicated files for each environment (staging/prod).

[2018-05-22 14:53] krogon opened #30 "Add possibility to specify desired state file as YAML"
yaml has become popular in kubernetes ecosystem. It has also many out-of-the-box tools to validate syntax during CI/CD pipeline

[2018-05-22 15:01] krogon opened #32 "Add possibility to install chart using tiller from different namespace"
This is useful if there is more granularity of namespaces.

Example:
Namespaces:
[code]
Tiller is only installed in `production-tools` or equivalent environment: `staging-tools`, `testing-tools`, etc..

[2018-05-23 19:07] tibers opened #33 "TOML parser and Go disagree on the stringyness of strings"
[code]

It's entirely possible I'm abusing the .set tag in toml. My code looks like:

[code]

And another issue is the tags being named like `external-dns.alpha.kubernetes.io` which probably isn't something `--set` isn't going to like but that's not related to this project.

[2018-05-23 20:23] tibers opened #34 "provide a way to run kubectl apply to configure additional things after helm is run"
The scenario is something like the letsencrypt helm chart which installs on it's own but then requires additional hints normally applied with `kubectl -f somestuff.yaml`. Basically giving helmsman the ability to workaround [issues like this](https://github.com/jetstack/cert-manager/issues/259) where the entire configuration isn't available in the helm chart itself.

[2018-05-23 23:12] krogon commented on #33
`"alertmanager.ingress.enabled" = true` - try to enclose value with quotes, like `"true"`.
The same with `tls-acme` annotation.

[2018-05-24 13:15] tibers commented on #33
That worked. my shell doesn't like the [0] bits either so I'm going to just values.yaml everything. thanks!

[2018-05-24 13:15] #33 closed

[2018-05-25 07:16] krogon commented on #33
@tibers arrays in TOML are defined as below:
[code]
This can be also written inline. Details: https://github.com/toml-lang/toml#user-content-array

[2018-05-25 17:35] tibers commented on #33
@krogon Unfortunately that seems to result in:
[code]
when trying to interpolate something like...
[code]
ideas?

[2018-05-25 19:41] tibers opened #35 "support a bit better variable munging"
My golang isn't good enough to pull this off but I see that [variable substitution is limited to the names of variables but no string interpolation](https://github.com/Praqma/helmsman/blob/dec253e7268fa76406763bddd8d60ec9f9b431d8/state.go#L158-L166).

This means that a desirable behavior like `appName = "MySimpleApp.$fqdn"` can't happen, even though it seems like a natural pattern since `appName =

[2018-05-25 21:05] krogon commented on #33
@tibers I do not think it is allowed to put variable as part of the value. You need to put this concatenation `"https://api.$CLUSTER_NAME"` as part of dedicated env variable.

[2018-06-04 11:21] nicolaiskogheim commented on #35
To remove the requirement to not have alphanums after a variable name in shell scripting (sh, bash, etc.), an alternate syntax is used: `${HOSTNAME}`, which means you could have `STRING${VARIABLENAME}STRING` if you so desire. Might be worth considering to allow the option of curly braces, or even just straight out require those braces.

[2018-06-04 19:15] tibers commented on #35
I think the project is dead. We moved onto helmfile: https://github.com/roboll/helmfile

[2018-06-04 19:17] nicolaiskogheim commented on #35
Thanks for the heads-up and for the alternative!

[2018-06-05 12:12] #28 closed

[2018-06-05 12:27] #35 closed

[2018-06-05 12:30] sami-alajrami opened #37 "upgrade failed releases instead of delete and reinstall"
in the case of a release becoming in the failed state, Helmsman currently delete and reinstall it which is not good for production apps .. need to do an upgrade instead

[2018-06-05 12:33] sami-alajrami commented on #35
@tibers @nicolaiskogheim apologies for the late response as I was away from this for awhile .. and thanks for this fix :)

[2018-06-05 12:59] #37 closed

[2018-06-05 13:14] sami-alajrami commented on #24
stable in v1.2.0

[2018-06-05 13:14] #24 closed

[2018-06-06 19:40] schollii opened #39 "Output some notes like Helm does for charts"
When you run helm install, it outputs the contents of Notes.txt for the chart. This is handy to explain how to test the chart. Similarly, there should be a way to specify notes when helmsman --apply is run. Outputting the individual chart notes may not be very useful, because the notes you would want would be for the "group" of charts deployed. For example, a good place to add notes about testing

[2018-06-07 09:02] sami-alajrami commented on #39
thanks @schollii .. First, to clarify, apps could be installed in different namespaces (depending on the namespace you define for each app) .. not only in one specific namespace.

I see your point about Notes, but wouldn't that be reinventing the wheel from Helm? ..
Printing alI Notes isn't useful as you mentioned because it will be a lot of text for multiple apps ..  I was thinking of something l

[2018-06-08 13:10] schollii commented on #39
Maybe just add a command like "helmsman get-notes" to output all Notes.txt. Allow conditions like enabled=true, namespace=something, etc. E.g. "helmsman get-notes  --namespace=something --enabled=false". Output format: maybe support a couple of formats like raw text, md, json, yaml, all that does is determine the "skeleton" that notes get put into (like for raw text, just separate the notes by "--

[2018-06-11 12:48] schollii opened #40 "Allow to set values in DSF"
I notice that currently, the .set node supports overriding properties defined in the values files, but using only environment variables as values. I`d like to propose that values should not be limited to environment variables. It seems like there are only a few lines of code that would be affected:

- https://github.com/Praqma/helmsman/blob/4c7dd44e27e6f5ea57c3e9350b82897287908204/release.go#L56:

[2018-06-11 21:16] sami-alajrami commented on #40
thanks @schollii .. this came up before and I had intended to fix it but didn't get to it .. I will see if I can do it this week :)

[2018-06-12 17:08] sami-alajrami commented on #32
we could add a `tillerNamespace` flag for this with each app like :

[code]

when installing for the first time, this is straightforward .. but if later you change the `tillerNamespace` to some other namespace, then what happens?

a) delete from the previous Tiller and install from scratch with the new Tiller ?
b) keep multiple copies of the release (with the same name) managed by two (or more) Ti

[2018-06-12 17:28] sami-alajrami commented on #40
this is shipped in v1.3.0-rc :)

[2018-06-12 17:29] sami-alajrami commented on #30
this is shipped in v1.3.0-rc thanks to @krogon PR

[2018-06-12 17:29] #30 closed

[2018-06-12 21:06] krogon commented on #32
I filed an issue and than noticed similar discussion in other thread that stopped me from implementation.  It took me some to look around for the available options.

Old release definitely needs to be deleted (as it no longer exists in your state definition). The problem I see is to find the right previous tiller namespace, as same release names could exists in multiple tiller instances. State doe

[2018-06-12 22:52] schollii opened #41 "Create new namespace instead of moving into"
Sometimes I just want to deploy into a new namespace to test some things. If I did a deployment, then update the DSF with a new namespace, helmsman will attempt to move the services to this new namespace. In my case, that's not what I want, it should just create the new namespace and deploy into it. I cannot find a way of preventing helmsman from doing this. Any suggestions?

[2018-06-13 09:15] krogon commented on #40
@sami-alajrami To be fairly I do not like this approach. This limits the possibility to set value of any variable with "restricted" keywords (popular env variables names: `TERM`, `SHELL`, `USER`, `HOME`, `DISPLAY`, `_`).

[2018-06-13 11:17] krogon commented on #41
It searches for the same release name of chart. As there cannot exists multiple releases with the same name the behaviour is OK. In your case try to change the name of the release by appending some keyword that is specific to the instance (namespace, environment, etc).

** Above is true when using single tiller instance.

[2018-06-13 15:31] schollii commented on #41
Couple of questions then:
1. What's involved in setting up a separate tiller instance for the 2nd namespace? I might prefer that option because some services will get renamed if I change the release name (some charts define name vs fullname in template using stock charts created by helm, so it's going to be a bit of work to fix).
2. Why is the release name required to be unique across namespaces?

[2018-06-18 15:24] schollii opened #42 "Long arg names should require double dash"
Only single-letter command line arg names should have a single dash; arg names with more than one letter, like `debug` and `apply`, should use double-dash, as is conventional in unix systems.

[2018-06-18 20:51] schollii opened #43 "Better documentation for installTiller=true"
So far we have been using helmsman with tiller installed by default in kube-system. There are a couple of namespaces which should have their own tiller, so I'm trying to use installTiller=true for those, but I see this:
[code]
It seems to me that I need to setup RBAC for myns, as described in https://github.com/kubernetes/helm/blob/master/docs/rbac.md? If that is correct, there probably should be

[2018-06-19 11:21] krogon commented on #43
https://github.com/Praqma/helmsman/blob/a6a2c9fe24587872e01ac7c56dc7e1787f904f79/docs/desired_state_specification.md#settings

[2018-06-19 17:52] schollii commented on #43
This reference is in a completely different section of the documentation. For people relatively new to helm/tiller/helmsman, this stuff is not obvious.

[2018-06-20 06:48] KamranAzeem opened #44 "Setting up ~/.kube/config should be separated from helmsman"
had great trouble (last night) getting a simple/example mysql deploy to work because  `~/.kube/config` was setup on my local machine using `gcloud --jason` method, and I could not replicate that setup using helmsman and circleci. Currently helmsman uses a combination of certificates and usernames and password passed to it through circleci env variable, which does not allow it to work with my use-c

[2018-06-20 17:04] krogon commented on #44
If your config contains `settings.kubeContext` pointing to existing context it uses it without reconfiguration and you've got what you want: separation of setting up .kube/config out of helmsman.

Regarding your issue, seems like your .kube/config invokes gcloud as external binary, which is not present in standard helmsman docker image. If the binary is not a big overhead in overall docker size fe

[2018-06-20 19:30] KamranAzeem commented on #44
Thanks for the tip.

I tried to run a container with alpine image , and installed gcloud in it. Good. I then tried to bring in my gcloud auth json file (as base64) to the container using env variable. I noticed that in Alpine, it is only able to store about 1011 bytes /characters in the env variable. So when I decode this file and try to create it as json file on the disk in the container, the fil

[2018-06-25 09:57] sami-alajrami commented on #44
thanks @KamranAzeem  .. this is an intended behaviour and not a bug. Helmsman needs to be generic to support all clusters regardless of their provider. The generic way is to use credentials and certificates to setup the connection to the cluster. Once you provide these details to Helmsman, you don't need to do anything with the `~/.kube/config`. [Google Cloud API](https://cloud.google.com/kubernet

[2018-06-25 09:57] #44 closed

[2018-06-25 10:00] sami-alajrami commented on #40
Good point @krogon .. I will look into it

[2018-07-12 11:52] flypenguin opened #45 "Sensible default values for settings"
**Use this config:**

[code]

**Expected result:**

* That `stable/nginx-ingress` is deployed as `nginx-ingress-ext` in the namespace `kube-system`.

**Actual result:**

* an error is issued that the name is required (proposal: fallback to `nginx-ingress-ext` as parent key name, which is what I think most people would expect)
* if you add the name, it is not deployed (proposal: default to `enabled

[2018-07-12 11:55] flypenguin opened #46 "Use --purge when deleting charts"
**Steps to reproduce**

1. install a chart (using helm from the command line)
1. add the chart's config into a helmsman file, set `enabled: false` (or omit it, currently)
1. run `helmsman -apply` (the chart should be deleted, see appendix I below)
1. add `enabled: true` to the chart
1. run run `helmsman -apply` again

**Expected result::**

The chart should be re-deployed

**Actual result:**

An e

[2018-07-12 12:44] sami-alajrami commented on #46
@flypenguin I guess your helmsman config  didn't have the `purge` option set to true.  See [here](https://github.com/Praqma/helmsman/blob/master/docs/desired_state_specification.md#apps) for details. As a result, helmsman just deleted your release without "purging" it.

When you enable the chart and deploy again, it's trying to rollback the deleted release :
[code]
Ideally, this should rollback yo

[2018-07-12 13:01] sami-alajrami commented on #43
since you don't specify a service account for namespace `myns` , it is falling back to use the one you specify in the settings section (in that case it appears to be called `tiller`). Currently, this should exist before in `myns`and that's why Tiller never becomes ready in that namespace.

In addition to the documentation, I see two issues :
1) Helmsman checks if the service account exists or not

[2018-07-12 13:14] sami-alajrami opened #47 "Check that Tiller service accounts exist in namespaces where Tiller is going to be installed."
this is related to #43

helmsman checks if the default Tiller service account exists in the namespace before it initializes helm in  kube-system. But for other namespaces, it attempts to initialize helm without validating first that the specified service account exists.  This leads to a timeout while waiting for Tiller to become ready in those namespaces.

[2018-07-12 13:16] sami-alajrami opened #48 "Create the necessary RBAC service accounts for deploying Tiller if they don't already exist."
this is related to #43

It makes sense that helmsman creates the necessary service account for deploying Tiller if they don't exist.

[2018-07-12 13:20] #43 closed

[2018-07-12 13:26] sami-alajrami opened #49 "Add slack notifications from Helmsman"
Allow helmsman to send slack notifications using an incoming webhook.
Notifications should include error messages -in cases of failures- and a summary of the generated plan of action -in case of success-.

When applying actions, each action in the plan (install/delete/upgrade/rollback) should have a  notification sent to indicate it's finished successfully.

[2018-07-12 13:46] flypenguin commented on #45
actually ;) it's not about any wrong documentation / examples. It's about changing the defaults.
To me the "normal" use case is to install the chart, and the name could be taken from the parent key, which has otherwise absolutely no use and could also be an array (cause the value of the parent key is never used). that way you could remove boilerplate code - the above definition in my example is tw

[2018-07-12 13:49] flypenguin commented on #46
okay, it could be the helm but - I'm using v2.9.1. let me try your approach to get more clarity.

[2018-07-12 13:54] sami-alajrami commented on #46
v2.9.1 has the bug I mentioned above .. if you fall back to v2.8.1, rollback will work. If you are not interested in rollback, then just set the purge option to true :)

[2018-07-12 13:56] sami-alajrami commented on #45
@flypenguin I see your point. Will have a look to make this change with backward compatibility. Description is already optional ;)

[2018-07-12 13:59] flypenguin commented on #46
oh cool, so this can be closed :)

Am Do., 12. Juli 2018 um 15:54 Uhr schrieb Sami Alajrami <
notifications@github.com>:

[2018-07-12 13:59] #46 closed

[2018-07-12 15:50] krogon commented on #45
@flypenguin the upper key is the unique identifier of the chart release. You can have multiple chart releases with the same name, as you can manage multiple tillers (`tillerNamespace` parameter).

I agree that identifier can be used as chart name by default, but `name` still have to exist.

[2018-07-14 21:15] flypenguin commented on #45
I don't quite get it. do you say you still need the /possibility/ of the `name` field, or the /actual/ name field every time? with the 1st one I'd of course agree. But to deploy 2 ingresses I would like to do this:

[code]

and to me that should be enough ... right?

[2018-07-16 08:06] flypenguin commented on #48
I'd even classify this as "bug". If I use helmsman to deploy tiller on a vanilla kops cluster, the installed tiller won't work because of missing rights.

If I re-deploy using "my" RBAC setup (see below), it's working just fine.

[2018-07-16 12:20] sami-alajrami commented on #48
yes, the bug is actually that it doesn't check if the service account exists before using it. It is tracked in a separate issue though #47

[2018-07-16 12:29] sami-alajrami commented on #45
@flypenguin what @krogon means is that if you use multiple Tillers in the same cluster, you can have releases with the same name as long as they are managed by different Tillers (in different namespaces).

TOML (and possibly YAML also) does not allow having duplicate keys as in the following:
[code]
In this case, you need to use the name option:
[code]
The example above of course assumes you have

[2018-07-16 12:36] sami-alajrami commented on #42
both long and short arg names currently work with either a single or double dashes:

both `helmsman -v` and `helmsman --v` work. Also, `helmsman -apply` and `helmsman --apply` work.
We need to update the help output and documentation to emphasize the unix convention.

[2018-07-16 12:36] krogon commented on #45
... and yaml example ...
[code]

[2018-07-16 12:42] krogon commented on #42
@sami-alajrami I think it is sufficient to replace standard `pflag` with
[code]
This is compliant with POSIX/GNU. I prefer this standard, but I am curious about backward-compatibility, as `-apply` would now mean `-a -p -p -l -y`. Any thoughts?

[2018-07-16 15:00] flypenguin commented on #45
@sami-alajrami yup, we are fully on the same page here :) .

[2018-07-16 19:16] schollii commented on #42
how about a few lines of code to check for backward compat args (like -apply, etc) to print deprecation warning and continue as though the double-dash had been used? This would still allow user to use **valid** aggregations of one-letter args.

[2018-07-17 13:55] sami-alajrami opened #50 "allow releases with same name to be deployed through multiple Tillers."
This only applies to clusters with multiple Tillers (in different namespaces). It is legal (by helm) to use the same release name with different Tillers.

Currently, helmsman rejects duplicate release names when validating a desired state file. The validation need to be changed to check release name uniqueness within individual Tillers only.

[2018-07-17 13:57] sami-alajrami commented on #45
I was looking at this and realized that while using same release names with multiple Tillers (as in the examples above) is legal by helm, helmsman validation currently does not accept it as it checks for uniqueness across all Tillers/namespaces. I created a new issue #50 to fix this.

[2018-07-17 16:10] krogon commented on #45
Saw that before, forgot to report :/

[2018-07-18 11:41] sami-alajrami commented on #32
Thanks @krogon .. the same issue about how to track releases came up again while fixing #50 .. so far, helmsman has been using release names an unique keys when building the current helm state and this has to change since multiple releases can have the same name (across multiple Tillers).

The new unique keys would be something like: releaseName-TillerNamespace. Then the decision maker can search

[2018-07-25 16:58] flypenguin opened #51 "Support local charts on file system"
According to the desired state docs (for the `chart` field) it must contain `repo` and `chart`.
I would like to be able to deploy a chart from the local file system as well.

Example:

[code]

[2018-07-25 22:15] luisdavim opened #52 "More detailed docs"
Hi, I would like to know more about what are the internal flows of helmsman. Do you have some design docs ?

[2018-08-01 12:57] sami-alajrami commented on #52
No docs is available for this right now, the decision making though happens in this file https://github.com/Praqma/helmsman/blob/master/decision_maker.go

A new version will be coming soon and will have some changes to how the internals work. I will add a document on the internals after these changes.

Hope this helps.

[2018-08-01 20:25] luisdavim commented on #52
thanks for your reply, I'll be looking forward to that new version.

[2018-08-06 13:17] Yanson opened #53 "BUG/How-To: Use helmsman with only RBAC for a given namespace"
I want a desired state file for each namespace, allowing each team to own a namespace and run `helmsman` for it.

Given a service account `dev` which is a `ClusterAdmin` for a given namespace, helmsman returns the following error:

[code]

If I add the `kube-system` details to my desired state file, I get the following error instead:

[code]

Pre-installing the `tiller` service account in the cust

[2018-08-07 12:10] #32 closed

[2018-08-07 12:10] #50 closed

[2018-08-07 12:18] sami-alajrami commented on #49
this is now supported in v1.4.0-rc. Still need to add docs for it.

[2018-08-07 12:18] sami-alajrami commented on #48
this is now supported in v1.4.0-rc. Documentation is still needed.

[2018-08-07 12:24] sami-alajrami commented on #45
names are now optional in v1.4.0-rc, but the `enabled` option still defaults to false.
This is the minimal config for an app:

TOML:
[code]

or YAML:
[code]

[2018-08-07 13:48] Yanson commented on #53
I have created the tiller service account in the namespace before all these tests. It works fine with an account with full cluster admin, but does not work with a service account that only has cluster admin on a specific namespace.

I don't want other tenants to interact with `kube-system` - are you saying this is not possible right now?

Adding the service account to `settings` has the same effec

[2018-08-08 18:09] gorzek opened #54 "Add support for helm-secrets"
Currently, helmsman supports passing secrets via environment variables. It would be helpful to allow secrets in a helmsman configuration through the use of the helm-secrets plugin: https://github.com/futuresimple/helm-secrets

Helmfile (a similar project) offers this capability already: https://github.com/roboll/helmfile

[2018-08-08 18:13] gorzek opened #55 "More helm default overrides"
Currently, helmsman allows overriding of a few helm defaults, such as adding the "wait" flag on a given app.

It would be useful to have most or all of the command-line options of helm represented in helmsman, so it is possible to do things like extend the timeout (--timeout flag).

[2018-08-14 20:53] gorzek opened #57 "Upgrades fail when using kube-system Tiller"
Found what seems to be an easily reproducible bug:

1. Install a release with helmsman using only the kube-system Tiller (no per-namespace Tillers)
2. Update the version number for an app in the helmsman configuration
3. Apply helmsman configuration again

Two things happen: the release is found to not exist, because helmReleaseExists checks for [release]-[tiller-namespace], when it should actuall

[2018-08-15 10:37] Yanson commented on #53
@sami-alajrami Any further updates on this?

[2018-08-15 10:57] sami-alajrami commented on #53
@Yanson sorry, I have missed this .. v1.4.0-rc fixes the creation of service accounts (if they don't already exist), however, it still deploys Tiller in `kube-system` and tries to create a service account and binds it to the clusteradmin role for that Tiller.

So in your case, each team's desired state will try to deploy/upgrade Tiller in kube-system and if they don't have sufficient permissions o

[2018-08-15 11:01] sami-alajrami commented on #57
@gorzek  I am assuming this is on helmsman v1.4.0-rc?
also could you please share a snippet of your desired state file, or  at least the namespaces sections?

[2018-08-15 11:51] gorzek commented on #57
Yes, this happens in 1.4.0-rc.

[code]

[2018-08-15 17:09] sami-alajrami commented on #57
@gorzek I could not reproduce this with your desired state.
I have tested with Helm v2.8.1 , k8s v1.10.5-gke.4 (on GKE) and helmsman v1.4.0-rc

Here is the plan part of the logs I get after the first run:

[code]

and here is the second time (with changing anything in the desired state and without `--apply`):
[code]

And here is the plan when I change the chart version to 1.4.0 instead of 1.5.0:

[2018-08-15 17:10] sami-alajrami opened #58 "release validation does not validate app details correctly in v1.4.0-rc"

[2018-08-15 17:26] sami-alajrami commented on #53
this is pushed into master. Still need documentation. Will be shipped in v1.4.0

[2018-08-15 17:34] gorzek commented on #57
I'll get a new copy of the 1.4.0-rc binary and try this again, and share the logs if it fails again. Thank you!

[2018-08-15 19:06] gorzek commented on #57
I just realized, you're using a lower helm version than I am. I'm on v2.10.0-rc.3. Could you please attempt the same operations against the latest helm? Or would you say helmsman doesn't support v2.10.0-rc.3 at this point? I could potentially downgrade helm until a future time if that's the case.

[2018-08-19 10:31] ilyasotkov opened #59 "Local paths should be relative to manifest file"
Having this directory structure
[code]
if I run this command from `.` directory
[code]
I need to put this to `helmsman.yaml`:
[code]
but it should be
[code]

so that relative paths are consistent regardless of what directory `helmsman` is called from.

[2018-08-20 08:47] txomon opened #60 "Add option to show chart render"
During development, it would be really usefull to see how all the templates have been rendered for debugging purposes. Something similar to `helm template` subcommand would be really helpful.

[2018-08-23 14:17] epierotto opened #61 "Release is always marked to be purged and installed again."
Helmsman version: v1.3.0-rc
Helmsman version: v1.4.0-rc
OS: OSX 10.13.6
[code]
[code]

This is the content of  my Helmsman desired state file `myfile.yaml`:
[code]

Hi, I'm testing Helmsman and I spotted that after the first run when the app is deployed and running every time I run `helmsman -f myfile.yaml` it shows the following message:

[code]

[code]

I can see that the app is running:
[code]

[2018-08-23 19:20] norwoodj opened #62 "Allow multiple DSF files to be supplied with -f"
We would like to use helmsman to stand up two different, but very similar environments. These environments are identical in a number of respects except that a few of the charts that we intend to install will use different combinations of values files in different environments e.g.:
[code]

We would like to be able to store all of our metadata, helmRepos, and much of our app configs in a `common.to

[2018-08-26 16:12] luisdavim commented on #61
Looking at the code, looks like helmsman parses the output of `helm list --all --tiller-namespace <ns>` to get the release state information, could it be that the output of the version of helm that @epierotto Is different than the expected by helmsman? I wold suggest to use the yaml output instead of the default table output.
So, `helm list --all --tiller-namespace <ns> --output yaml` that way you

[2018-08-27 00:14] akshayks commented on #55
On a related note, it would be nice to be able to specify overrides for `helm init` to customize where `tiller` is installed. For example, I would like to restrict `tiller` to a specific set of nodes allocated for Kubernetes controllers and the like. When manually installing `tiller` into our cluster I employ a command similar to:
[code]
It is currently not possible to configure this via `helmsman

[2018-08-27 08:46] luisdavim commented on #61
I've tested my changes on #64 and they seem to solve this issue.

[2018-08-27 09:49] epierotto commented on #61
I've tested #64 and the issue seems to be solved.
[code]

[code]

[2018-08-27 12:30] epierotto opened #65 "Helmsman create namespaces and deploys Tiller without `--apply`"
Helmsman is creating namespaces and deploying Tiller without `--apply`.
My expectation is that Helmsman should only apply changes if its run with `--apply`

[code]
[code]

**This is only happening if you have at least one app defined**
Output without apps defined:
[code]

Example DSF file:
[code]

Output without `--apply` where namespaces are created and Tillers are deployed:
[code]

[code]

[code

[2018-08-29 08:53] luisdavim commented on #18
you might find this useful @eicnix https://github.com/roboll/helmfile/issues/240

[2018-08-29 17:29] #61 closed

[2018-08-29 17:37] sami-alajrami commented on #55
@akshayks feel free to create a pull request with your changes :)

[2018-08-29 17:47] sami-alajrami commented on #55
@gorzek I am adding `timeout` & `no-hooks` for install/upgrade. Let me know if you have other options in mind.

[2018-08-29 18:41] sami-alajrami commented on #60
we could add `dry-run` option to use helm's dry-run option when installing/upgrading releases. That will render your templates and output it. Would that be good?

[2018-08-29 21:56] txomon commented on #60
@sami-alajrami anything with the functionality of giving such output is good

[2018-08-31 08:24] ovi-hutu opened #68 "Helmsman does not work with more than 256 deployments"
Helmsman version: v1.3.0-rc
Helm version: v2.7.2

The problem is helmsman gives error when trying to deploy a new release when helm list already has 256 deployments.

[code]

The Solution will be to add the helm flag "--max 0" to the following file:
[code]

Thanks in advance.

[2018-08-31 08:26] ovi-hutu commented on #68
https://github.com/Praqma/helmsman/blob/d7d3aa86d2286bb861db7eeb511743c62768fdab/helm_helpers.go#L40

[2018-08-31 10:12] kiddo3 commented on #65
Also it installs in the namespace kube-system, I don't want tiller to be deployed in kube-system.

[2018-09-02 09:51] sami-alajrami commented on #68
thanks @ovi-hutu , setting it to `--max 0` will use the server's default which is hopefully larger than 256.

https://docs.helm.sh/helm/#helm-list
[code]

[2018-09-02 09:57] #68 closed

[2018-09-02 11:52] sami-alajrami commented on #55
@akshayks yes :)

[2018-09-02 12:06] sami-alajrami commented on #62
this is shipped in v1.5.0.

[2018-09-02 12:06] #62 closed

[2018-09-02 12:14] sami-alajrami commented on #59
this is shipped in v1.5.0. The values file path now should be relative from the (first) desired state file in your Helmsman command.

If you pass multiple desired state files (new feature in v1.5.0) as follows:

[code]
the values files relative path is expected to be relative from the first desired state file. I.e. from `k8s/`

so in your helmsman1.yaml:
[code]

I will close this. But feel free to

[2018-09-02 12:14] #59 closed

[2018-09-02 12:15] sami-alajrami commented on #55
this is now shipped in v1.5.0. I will close this, but feel free to reopen or create new issue if you need more helm options.

[2018-09-02 12:15] #55 closed

[2018-09-02 12:17] sami-alajrami commented on #53
this is shipped in v1.5.0 and documentation is updated in https://github.com/Praqma/helmsman/blob/master/docs/how_to/define_namespaces.md#preventing-tiller-deployment-in-kube-system
Closing this, but feel free to reopen if this still does not meet your needs.

[2018-09-02 12:17] #53 closed

[2018-09-02 12:18] #49 closed, assigned to nobody

[2018-09-02 15:57] kiddo3 commented on #65
@sami-alajrami thanks a lot, i will try the new version :)

[2018-09-03 14:14] luisdavim commented on #51
Looks like @matfax has a solution for this, maybe he could open a PR....

[2018-09-04 07:55] matfax commented on #51
@luisdavim, Yes I might have a solution. I've created a separate branch just for the PR that I want to open once I've properly tested this feature on my main branch. I might also open a PR for the new (blackbox) testing method once its complete. Unfortunately, I'm currently on vacation so it will take one to two weeks.

[2018-09-04 08:13] luisdavim commented on #51
That's great, thanks @matfax

[2018-09-05 07:44] kiddo3 opened #71 "App tillerNamespace ignored"
I'm trying to deploy the app nginx using a tiller in namespace 'test', but helmsman is using tiller in namespace kube-system.
**My configuration**
namespaces section:
[code]

Apps section:
[code]
Output without apply:
[code]

[2018-09-05 10:04] sami-alajrami commented on #71
@kiddo3 your desired state does not want Tiller in `test` namespace.  Since you define its `installTiller: false`

Changing it to true will let helmsman deploy with Tiller from `test`. If you already deployed Tiller in the test namespace manually, helmsman does not see that. Enabling it to install Tiller there will simply upgrade Tiller to whichever helm client version you are running.

[code]

[2018-09-05 10:36] kiddo3 commented on #71
Thanks @sami-alajrami
In my opinion I think it would be great that the installation of tiller become optional and not mandatorily be managed by helmsman.

[2018-09-06 02:40] rsanders commented on #71
We manually install Tiller due to local preferences in configuration. `installTiller` appears to also mean `useTiller`, but they would be must useful to us if separate concepts.

[2018-09-06 13:48] grrywlsn commented on #71
+1 for clarifying. We're specifying `installTiller = true` even though we know tiller is already installed in the namespace, just so that we can enable `tillerNamespace` in the app definition.

[2018-09-07 00:24] johnmarcou opened #72 "Typo in debug"
Hi,

Just to inform about a typo on `lables` : https://github.com/Praqma/helmsman/blob/aa2a5ce6d31825394669e3dff8c3f8b02d5b5b89/kube_helpers.go#L272

Thx for this project!

[2018-09-07 13:52] Yanson commented on #53
Hi, @sami-alajrami thanks for the changes. With 1.5 I am seeing this error:
[code]

[2018-09-07 23:18] luisdavim commented on #71
@rsanders what's the difference between the way you install tiller manually and the way helmsman installs it? In other words,  why not just let helmsman manage all tiller installations?

[2018-09-09 08:01] sami-alajrami commented on #71
@rsanders @kiddo3  may I know what options do you use for deploying Tiller ? we might add them as options within helmsman Tiller deployment if relevant :)

For the time being, a `useTiller` flag should be easy to add.

[2018-09-09 08:02] sami-alajrami commented on #72
thanks for spotting this @johnmarcou  .. and you are welcome :)

[2018-09-09 12:39] luisdavim commented on #39
regarding the diff idea, what do you think about #74 ?

[2018-09-09 12:41] sami-alajrami commented on #71
you can now use `useTiller: true` with your namespaces. This tells helmsman not to deploy Tiller there. Helmsman will still run a check to verify that Tiller is ready in that namespace. Then it deploys releases to it.
This option can't be used together with `installTiller` obviously.
I only recommend using it when you have special deployment for your Tiller that helmsman doesn't currently support.

[2018-09-09 13:46] #72 closed

[2018-09-10 05:52] kiddo3 commented on #71
To deploy tiller I create the serviceaccount with permissions in a specific namespace, and then I init helm. I prefer to do that previously of using helmsman when I create the kubernetes cluster namespace resources.
Thanks for adding the new option :)

[2018-09-10 12:07] rsanders commented on #71
We're customizing the tiller Deployment a bit -- e.g setting TILLER_HISTORY_MAX env var to a reasonable number.  I believe `helm init --history-max N` will do the same.  We also install a NetworkPolicy to precent access to Tiller from arbitrary pods within the cluster.  (I know that the TLS config can also provide auth, but we haven't made the switch to that approach yet.)

In some namespaces, we

[2018-09-10 12:09] rsanders commented on #54
This would be a huge win for our simpler deployments with relatively static secrets, which don't really need other options like AWS Paramstore or Vault.  e.g. TLS secrets for Ingress objects.

[2018-09-10 15:23] grrywlsn commented on #71
FWIW, I use a Helm chart to set up each namespace (including Tiller and specific RBAC), which is why I want to have it ready before I run Helmsman with `useTiller`. If Helmsman could set up the namespace the first time the .toml is used, based on a chart I specify, that would be a useful feature.

[2018-09-10 17:26] luisdavim commented on #54
Hi, do you think this would be a simple matter of installing the plugin and running the `helm-wrapper` instead of running `helm` directly?

[2018-09-10 17:35] luisdavim commented on #54
This is the implementation from `helmfile` in their solution you have to provide a list of secret files to be decrypted and only then it uses `helm-secrets`, this way they don't have a strong dependency on `helm-secrets`, it's only needed if the user provides secret files.

Just using `helm-wrapper` would be supper easy to implement but it would create a strong dependency on the plugin.

What do y

[2018-09-10 21:28] rsanders commented on #54
That sounds reasonable to me.

[2018-09-12 11:53] rsanders opened #77 "better validation and review of "plans""
We have a 2 part helmsman CI run -- first stage runs without `--apply` to validate everything. If that succeeds, we run again with `--apply`.

Similarly, CI for branches in the repo will just run the 1st stage. A developer then inspects the output and decides whether to merge.

Unfortunately, running without `--apply` isn't `terraform plan` or `helm --dry-run`, where you can be relatively sure tha

[2018-09-12 16:00] rsanders opened #78 "helmsman does not escape values used in helm command lines"
I tried to use a chart version constraint of `~0` and helm failed to find chart 0.2.5.  Doing a search from my shell worked.  Long story short, it turns out that bash is expanding `~0` because helmsman doesn't escape or quote the '~'.

My DSF fragment that failed:

[code]

This is the offending code (though similar code exists elsewhere in the app): https://github.com/Praqma/helmsman/blob/v1.5.0/h

[2018-09-12 19:57] rsanders commented on #78
Meant to say - I'd be happy to work on this, but wanted to know whether there are features of the `bash -c` approach that are desired. e.g. env var expansion

[2018-09-14 13:45] luisdavim commented on #40
@krogon do you think that #79 addresses your cases? if you need to use those, you can set them in the `.env` file and those will only be used in `helmsman` context.

[2018-09-14 15:43] luisdavim commented on #78
I think that simply adding `'` around `r.Chart` should do it, env variable expansion is already covered whilst reading the state files in `state.go` `func subsituteEnv(name string) string `

[2018-09-14 16:12] luisdavim commented on #54
I'll try to implement this over the weekend.

[2018-09-14 18:02] luisdavim commented on #54
@rsanders can you help me test #80 ?

[2018-09-15 03:51] andrewklau commented on #71
The new `useTiller` doesn't seem to be honouring clientCert etc. It will error out with the following where `infra` is the namespace

[code]

[2018-09-15 11:32] luisdavim commented on #40
I was looking into this and there are two functions to expand environment variables. One in `state.go` `envVarExists` and one in `utils.go` `envVarExists` should we consolidate that?

[2018-09-16 11:33] sami-alajrami commented on #40
@luisdavim yes, these should be consolidated.

[2018-09-16 12:12] sami-alajrami commented on #71
@andrewklau thanks .. the tls files were not downloaded/copied when `useTiller` was used .. can you please test now.

[2018-09-16 14:01] luisdavim commented on #77
We've recently introduced helm-diff to the decision making logic, that should address some of the problems you've pointed out. Have you checked that out?

[2018-09-16 14:03] luisdavim commented on #77
But I still see room for a `--dry-run` option in helmsman to address the rest of the issues you mentioned.

[2018-09-16 18:05] luisdavim commented on #40
I'll try to address this in #79

[2018-09-16 18:12] sami-alajrami commented on #77
I will work on the dry-run option tonight.

[2018-09-16 19:43] luisdavim commented on #40
Done and now it does expand strings like `STRING-$VARIABLENAME-STRING`.

[2018-09-16 20:34] sami-alajrami commented on #77
@rsanders I have added the `--dry-run` which applies the helm `--dry-run --debug` options when executing commands from Helmsman. This catch problems like:

For issues like:

These should be caught by existing validation, if you encounter these issues, then please let us know with an example to fix it :)

Fot this one:

It is a bit tricky to discover it before helm renders your templates and send t

[2018-09-16 20:36] sami-alajrami commented on #77
I have also made some initial effort on color coding Helmsman output to highlight the plan , error messages and Helm's output.

[2018-09-17 09:59] #54 closed

[2018-09-17 18:02] 1fox1 opened #82 "Possible to cut a new release ?"
Hi,

Would it be possible to cut a new release after the recent PR merges from Luis.

Many thanks,

Matt

[2018-09-18 11:57] sami-alajrami commented on #82
Done. v1.6.0 is released. You can use the [binaries](https://github.com/Praqma/helmsman/releases) and the [docker images](https://hub.docker.com/r/praqma/helmsman/tags/)

[2018-09-18 11:57] #82 closed

[2018-09-18 11:59] sami-alajrami commented on #77
The `--dry-run` option is shipped in v1.6.0. I am going to close this issue for now, but feel free to reopen if you are still experiencing issues :)

[2018-09-18 11:59] #77 closed

[2018-09-18 12:01] sami-alajrami commented on #60
The `--dry-run` option is shipped in v1.6.0. I am going to close this issue for now, but feel free to reopen if you are still experiencing issues :)

[2018-09-18 12:01] #60 closed

[2018-09-18 12:03] sami-alajrami commented on #45
This issue has been resolved.  I am going to close it but feel free to reopen if more refinement is required.

[2018-09-18 12:03] #45 closed

[2018-09-18 12:04] #40 closed

[2018-09-18 18:09] 1fox1 commented on #82
thanks, just a note the install section still has 1.5.0 in the readme

[2018-09-19 10:40] sami-alajrami commented on #82
fixed! thanks :)

[2018-09-19 14:12] kiddo3 opened #83 "cannot list secrets at the cluster scope"
With version 1.6.0 I'm trying to deploy using a kubernetes user with permission to specific namespace "test", but a permission error occurs. In the dsf file I only configure the kubeContext.
Maybe I'm missing something or it's required the access at cluster scope?

[code]

[2018-09-19 19:33] sami-alajrami commented on #83
@kiddo3 in the second line of the logs, it shows you are using your own (pre-deployed) Tiller in the test namespace .. so I am assuming you are using `useTiller`. This means that your pre-deployed Tiller is deployed without an appropriate service account. If you try `helm ls --tiller-namespace test` you should get the same forbidden error.

Please check the [helm guide for deploying Tiller with se

[2018-09-20 07:44] kiddo3 commented on #83
Hi @sami-alajrami,
I tried to run the command: ```helm ls --tiller-namespace test``` and is working fine.
Here is de yaml configuration:
[code]
Thank you so much for your help.

[2018-09-20 08:17] sami-alajrami commented on #83
@kiddo3 could you run helmsman with `--verbose` flag and share the logs (after verifying they don't contain any secrets) .. this will log the actual helm command triggering the error

[2018-09-20 08:26] kiddo3 commented on #83
here the log output:
[code]

[2018-09-20 08:38] sami-alajrami commented on #83
@kiddo3 it looks like your context (which is pre-setup, i.e. not created by helmsman) has the user test-user which has limited permissions. The failing command requires clusteradmin access (since helmsman is supposed to work on multiple namespaces )
How did you setup your context? is it a GKE cluster or other hosted-provider or on-prem?

In the meantime, using the `--keep-untracked-releases` optio

[2018-09-20 08:50] kiddo3 commented on #83
It's an Azure AKS, it's a multitenant cluster so I won't be able to have access to the whole cluster only to deploy to some specific namespaces.

[2018-09-20 08:58] sami-alajrami commented on #83
hmm .. as far as I can see, that check (checking untracked releases that should be cleaned) is the only command that will try to access the entire cluster.
Could you please try with `--keep-untracked-releases` and see if you still into any other permission errors? .. this flag will stop helmsman from deleting releases if you remove them from your desired state.
We can change the `--all-namespaces`

[2018-09-20 09:34] kiddo3 commented on #83
I tried setting the parameter ```--keep-untracked-releases``` and now it's working :)

[2018-09-20 09:54] sami-alajrami commented on #83
great .. the only other place where things can fail is if you ask helmsman to deploy Tiller to kube-system (which only makes sense if you have full cluster anyway!).

[2018-09-20 10:46] kiddo3 commented on #83
@sami-alajrami Thanks a lot for the clarification and for your help

[2018-09-20 16:32] ahibbitt opened #84 "Support set-string for setting value overrides"
I'm trying to override a chart's ingress settings, but the set value I have defined (true in this case) gets resolved by helm as an int rather than a string, causing deployment to fail. When forming a helm command directly, I can use set-string in order to ensure it is kept as a string, but I haven't found a way of retaining a set value that reads true/false/null as a string when feeding in overri

[2018-09-21 03:10] rsanders opened #85 "upgrade determination fails with versions containing '-'"
We have some charts which are always flagged as needing an upgrade, even though neither the DSF nor the charts available in our Helm repo have changed.

For example, this happens every time we run Helmsman, no matter what:

    DECISION: release [ elasticsearch ] is desired to be upgraded. Planing this for you! -- priority: 0

Upon examination, we discovered that all of them had versions specified

[2018-09-21 13:06] rsanders opened #87 "helmsman 1.6.0 appears to require helm 2.10.0"
There is some issue with helm-diff and the `--tiller-namespace` argument that seem to require that helm 2.10.0 be used.  Otherwise the `helm diff` run throws errors.

See https://github.com/databus23/helm-diff/pull/44 and https://github.com/helm/helm/pull/3944.

[2018-09-21 17:27] luisdavim commented on #87
I see that you have a branch with a fix https://github.com/Cybraics/helmsman/tree/feature/helmdiff-namespace-fix are you going to open a PR?

[2018-09-21 17:40] rsanders commented on #87
@luisdavim it didn't actually appear to help in my first test. I'll take another look. If not that, then setting TILLER_NAMESPACE env var rather than passing the cmd line arg would probably work.

[2018-09-21 17:41] rsanders commented on #87
I could probably address this and #78 with one PR to change the invocation framework a bit. Might be Monday before I could get to it.

[2018-09-21 20:30] luisdavim commented on #51
Any updates on this @matfax ?

[2018-09-22 10:21] afoninsky opened #88 "helmsman --destroy"
**Feature request**: ability to delete infrastructure described in file.
Use case: possibility to use this command in CI/CD automatic integration tests
[code]

**Additional feature request**: ability to add prefix or postfix to helm names via command line (so we can reuse one infrastructure file in various tests

[2018-09-24 09:57] cornelius-keller commented on #84
We are facing the same issue with Boolean and integer values.

[2018-09-25 14:19] sami-alajrami commented on #88
@afoninsky for the destroy option, I think it makes sense to delete only resources created by helmsman (currently the helm releases). Until better management is implemented for created namespaces/contexts etc. Would that work for you?

For the second feature, could the existing `--ns-override` work for you (overrides all releases namespaces with the one passed from command line) ?

[2018-09-25 14:27] sami-alajrami commented on #85
@luisdavim there are 2 places string is split by `-`
https://github.com/Praqma/helmsman/blob/fdfd09267d02173d1bcd99d5f4733947eff6416d/helm_helpers.go#L177
https://github.com/Praqma/helmsman/blob/fdfd09267d02173d1bcd99d5f4733947eff6416d/helm_helpers.go#L185

[2018-09-25 17:32] #83 closed

[2018-09-25 17:34] sami-alajrami commented on #83
fixed in v1.6.1 now will only check your defined namespaces which use or deploy Tiller.

[2018-09-25 18:47] afoninsky commented on #88
Sure, it would be good. Thank you.
ns overrides sounds good

[2018-09-26 10:02] sami-alajrami commented on #84
@ahibbitt setString is added in #89.

Your annotation escaping will work in `YAML`. However, this escaping does not work with `TOML`.

IMHO, this value in the chartmuseum chart does not look good `ingress.annotations."kubernetes\.io\/tls-acme": "true"`

This format could be better (if you can convince the chart developrs to change it):
`ingress.annotations: "kubernetes.io/tls-acme=true\nMyOtherAnn

[2018-09-26 10:50] sami-alajrami commented on #88
@afoninsky the `--destroy` option is added in #90 .
Please note, that the deletion of releases will respect the `purge` flag in the desired state file. i.e. only if purge is true for release A, then the destruction of A will be a purge delete.

[2018-09-26 13:07] ahibbitt commented on #84
@sami-alajrami,  many thanks for implementing the change!

Agreed on the value format front; it's less than optimal for overriding outside of the values file - I'll propose revised format to the chart developers.

[2018-09-27 08:38] #88 closed

[2018-09-27 09:05] luisdavim opened #91 "make build is failing"
Hi,

I pulled the latest code and got this when running `make build`:
[code]

[2018-09-27 09:14] luisdavim commented on #91
it worked after I removed some of the cached dependencies from `~/go/src/` maybe we should start using something like https://golang.github.io/dep/docs/introduction.html to manage dependencies and their versions.

[2018-09-27 09:15] luisdavim commented on #91
https://github.com/blindpirate/report-of-build-tools-for-java-and-golang#golang

[2018-09-27 10:20] qiuyuzhou opened #92 "helmsman auto upgrade my tiller and override its pod image back to the one on gcr.io"
My tiller pod image is on a docker proxy. My server can't access the `gcr.io`.

[2018-09-27 10:57] sami-alajrami commented on #92
@qiuyuzhou you can deploy Tiller yourself with your custom image and use [useTiller](https://github.com/Praqma/helmsman/blob/master/docs/how_to/define_namespaces.md#using-your-existing-tillers-available-from-v160) instead of `installTiller` in your namespaces section.

This prevents helmsman from upgrading your Tiller.

[2018-09-27 11:09] qiuyuzhou commented on #92
Thank your very much for your response.
But there is an another issue when I use `userTiller`. helmsman don't use my tiller in namespace [kube-system]. Have I miss something?
[code]

[2018-09-27 11:17] sami-alajrami commented on #92
You want to use an existing Tiller from `elk` namespace (which seems to be not having a deployed Tiller).
you will need to explicitly add `useTiller` for`kube-system` in your desired state file. Like this:

[code]
Or in TOML:
[code]

[2018-09-27 15:35] qiuyuzhou opened #93 "Wrong values file path when apply ugprade"
Pass plan stage then failed to apply.
Please look at last two lines.

![image](https://user-images.githubusercontent.com/2310221/46157551-92ee7800-c2ae-11e8-8504-03b7d396a7a6.png)

[code]

[2018-09-27 16:08] sami-alajrami commented on #93
@qiuyuzhou could you please share your desired state file?

[2018-09-27 16:17] qiuyuzhou commented on #93
[code]

[2018-09-27 17:01] sami-alajrami commented on #93
@qiuyuzhou this is a bug when you use `valuesFiles`  note the (s). Since you are only using one values file. The quick fix is to use `valuesFile` instead of `valuesFiles` :

[code]

[2018-09-27 17:50] epierotto opened #94 "Helmsman fails to add Helm repos URLs containing special characters"
Helm repos URL are not quoted when added by Helmsman causing the following error when the URL contains special characters:
[code]

The repo can be added manually quoting the URL `helm repo add foo-repo "URL"`

[2018-09-28 09:31] sami-alajrami commented on #94
If it reaches the stage of checking charts exists or not, then it must have done the repo add without facing errors. It's only possible to debug it if you share more information :)

[2018-09-28 09:46] epierotto commented on #94
If you try to add the following repo with helm you can see the errors :

Without quotes:
[code]

With quotes (Please ignore the error "not a valid chart repository", the URL is just an example and is an invalid repo):
[code]

[2018-09-28 10:46] #93 closed

[2018-09-28 11:02] epierotto commented on #94
Using quotes around the Helm repo URL solves the issue, I've tested it and submitted a PR.

[2018-09-28 11:10] sami-alajrami commented on #94
thanks @epierotto .. your PR fixes the quoting issue. But this problem highlights another one: the helm repo add command failure does not get caught (even with the broken link you posted). But that's another issue to fix.

[2018-09-28 11:18] sami-alajrami commented on #91
@luisdavim I have added the dep files.
As those two packages in the above issue are internal, changes to them will have to be pushed to github first before `dep ensure` can get the updated dependencies.

[2018-09-28 11:52] luisdavim commented on #91
we should update the makefile to use godep instead of fetching all the libs.

[2018-09-28 12:01] luisdavim commented on #91
https://github.com/Clever/dev-handbook/blob/master/golang/dep.md

[2018-09-28 12:04] luisdavim commented on #91
I can open a PR for that if you want.

[2018-09-28 12:05] sami-alajrami commented on #84
setString is shipped in v1.6.2.  I will close this issue, but feel free to reopen if needed.

[2018-09-28 12:05] #84 closed

[2018-09-28 16:14] luisdavim commented on #91
ok, introducing `dep` forces people that want to contribute to this project to clone it into a `GOPATH/src` directory, I can workaround it in the make file and keep things as they where without `dep` and anyone can clone this repo into any path and all `make` commands will just work, that will had some complexity to the `Makefile`.
If you don't think that's important, we can keep the make file sim

[2018-10-03 23:14] patrickmslatteryvt opened #99 "Azure Container Registries now supports Helm repos"
Azure Container Registries (ACR) now supports Helm repos:
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos

However the ACR Helm repos are private and therefore do not work with the current version of Helmsman, example below:

[code]

Are there any plans to support this repo type?

[2018-10-04 21:55] bobhenkel opened #100 "Keep helmsman from creating namespace"
In our current setup we have a helm chart that creates namespaces to our platform teams spec that dev teams can use, it setups some namespace roles, resource quotas, and service account for the namespace to name a few. We put a super tiller/root tiller/god tiller whatever you want to call it in a tools namespace that the platform team creates on cluster creation.  Once that tiller is up we can ins

[2018-10-06 22:12] bobhenkel commented on #100
Just a little more context.

In my setup a dev team owns their namespace, but our platform team approves prs that create namespaces and resource quotas for those name spaces.  Think of it as multi tenant setup our tenants are just different teams.  Once they have a namespace they can deploy what they want in their namespace so it would be nice to recommend they use helmsman except helmsman current

[2018-10-12 09:54] luisdavim commented on #99
There is support for private repos but I think it's specific to S3 and GCS:
https://github.com/Praqma/helmsman/blob/master/docs/how_to/use_private_helm_charts.md

[2018-10-15 08:20] sami-alajrami commented on #99
@patrickmslatteryvt we have been using helm plugins to support private repos in [S3](https://github.com/hypnoglow/helm-s3) and [GCS](https://github.com/nouney/helm-gcs) .. after a quick check, I could not find any existing helm plugins to handle azure private charts. We will support this once such a plugin exists.

[2018-10-17 08:32] #91 closed

[2018-10-17 12:08] bobhenkel commented on #100
@luisdavim Thanks for this! So far so good. It's leaving our namespaces alone.:)

[2018-10-17 23:56] luisdavim commented on #78
wasn't this fixed with #95 ? @rsanders can you confirm?

[2018-10-19 03:45] k0ngsmash opened #104 "helm diff upgrade unknown flag: --tiller-namespace"
helm diff upgrade doesn't accept the --tiller-namespace flag, not sure how this is supposed to have worked with getDesiredTillerNamespaceFlag(r)?

helm diff version 2.11.0+2

https://github.com/Praqma/helmsman/blob/4aeb0515fe1ab3c994e546676a813492e7caef9d/decision_maker.go#L228

2018/10/19 11:40:31 INFO: upgrading release [ dtp-infra-kibana ] using Tiller in [ kube-system ]
2018/10/19 11:40:31 VER

[2018-10-19 06:38] k0ngsmash commented on #104
seems to be a duplicate of [87](https://github.com/Praqma/helmsman/issues/87)

[2018-10-19 07:10] k0ngsmash commented on #104
solved by upgrade helm/tiller to 2.10+

[2018-10-19 07:10] #104 closed

[2018-10-19 08:26] hatemosphere opened #105 ""secretsFile" in documents is "secretFile" in code"
Hey guys. I was desperately trying to use helmsman's new integration with helm-secrets plugin. Apparently, there is a mismatch between documentation here https://github.com/Praqma/helmsman/blob/master/docs/desired_state_specification.md and actual code here https://github.com/Praqma/helmsman/blob/master/release.go#L22-L23
I feel like the code needs to be aligned with doc, not in the opposite way s

[2018-10-22 08:59] sami-alajrami opened #106 "diff output can log sensitive data"
it needs to be optional to log the helm diff output as it can print credentials/passwords which are being changed.

[2018-10-22 09:59] theallseingeye opened #107 "Kube context in cluster"
How can I run this inside the cluster if I want to reuse my existing pods service account

[2018-10-22 12:50] #106 closed

[2018-10-22 12:55] sami-alajrami commented on #107
@theallseingeye not sure I get your question. What do you want to run inside the cluster? and what do you want to reuse the pods service accounts for?

For deploying Tiller with existing service accounts, please check documentation [here](https://github.com/Praqma/helmsman/blob/master/docs/how_to/multitenant_clusters_guide.md#deploying-tiller-with-a-service-account)
For using a context that you ha

[2018-10-22 13:01] sami-alajrami commented on #105
Hi @hatemosphere it is secretsFile(s) in both code and docs :)

Here is the docs part (under [Apps](https://github.com/Praqma/helmsman/blob/master/docs/desired_state_specification.md#apps) section)
[code]

Or, am I missing something?

[2018-10-22 13:45] theallseingeye commented on #107
When you run kubectl from inside a pod, it can pick up the serviceaccount which the pod has access  to and the context without a ~/.kube/config can we do something like that with helmsman (or I think it might be helm)

Ie. /var/run/secrets/kubernetes.io/ serviceaccount

[2018-10-22 14:06] sami-alajrami commented on #107
you can do this in your helm chart.
Helmsman only deals with deploying your charts in your cluster and usually sets outside the cluster (e.g. in a docker container in your CI/CD platform or on your machine).

[2018-10-22 14:17] hatemosphere commented on #105
@sami-alajrami could you please check the link to the codebase I posted above? it's "secretFile" in a code.

[2018-10-22 14:39] sami-alajrami commented on #105
Oh .. now I see the missing (s). I agree, it should be `secretsFile`. Thanks for spotting this!

[2018-10-23 01:32] #85 closed

[2018-10-23 05:34] theallseingeye commented on #107
My ci/cd was running inside kubernetes, turns out I needed to create my kubeconfig first with something like this, would be useful if I can define this in helmsman context generation itself

[code]

I think I can only use username/password with helmsman generation

[2018-10-23 05:34] #107 closed

[2018-10-24 13:51] nikolajbrinch opened #108 "Helmsman fails when rerunning namespace creation YAML"
I have a plan for creating my namespaces in my cluster. Packages are installed into each namespace (the package sets up Tiller amongst other things), and uses Tiller in kube-system (preinstalled by the cluster provisioning - ACS-Engine).
Rerunning helmsman apply fails with the following:
[code]
My YAML file looks like this:

[code]

[2018-10-24 14:45] nikolajbrinch commented on #108
Updating to Helm 2.11.0 fixed this problem

[2018-10-25 11:41] sami-alajrami commented on #108
yes, this is originating from #87

[2018-10-26 15:03] kleetus commented on #78
I think this is resolved now. At least as far as I can tell.

[2018-10-26 18:10] rsanders commented on #78
There's still vulnerability to deliberate and accidental shell command parsing hijinks, but my use case (server version constraints) was addressed with the recent patches.

[2018-10-26 18:10] #78 closed

[2018-10-27 11:45] sami-alajrami opened #113 "helmsman image does not contain ssh"
this causes a problem when checking out code from git tag when the image is running in some CI services (e.g. circleci).

The fix is to add openssh to the image.

[2018-10-27 11:47] #113 closed

[2018-10-27 12:12] sami-alajrami commented on #108
I am closing this to track the root issue in #87.

[2018-10-27 12:12] #108 closed

[2018-10-27 12:12] sami-alajrami commented on #105
this is shipped in v1.7.0

[2018-10-27 12:12] #105 closed

[2018-10-27 12:14] sami-alajrami commented on #100
as of v1.7.0 namespaces won't be created without `--apply` and you can of course prevent at all times with `--no-ns`

[2018-10-27 12:14] #100 closed

[2018-10-27 12:16] sami-alajrami commented on #71
from v1.7.0 namespaces won't be created without `--apply` and you can prevent it at all times with `--no-ns` then you can rely on your custom charts to define the namespaces.

more details can be found in #100

[2018-10-27 12:16] #71 closed

[2018-10-27 12:18] sami-alajrami commented on #65
from v1.7.0 namespaces and Tillers won't be created without `--apply` and you can prevent it  namespace creation at all times with `--no-ns`. This allows you to define your namespaces with your own custom charts.

[2018-10-27 12:18] #65 closed

[2018-10-29 10:53] theallseingeye opened #114 "helmsman not getting an exit code"
I'm using gitlab ci but don't seem exit when it fails,

It gives me the error message: `Command returned with exit code: . And error message: Error: UPGRADE FAILED: failed to create resource: `

Weird that the exit code is not returned properly. The CI hangs because I'm running helm serve & and doesn't take the "exit 1"

gitlab-ci.yaml snippet:

[code]

[2018-11-01 09:13] epierotto opened #115 "Helmsman v1.7.0 valuesFiles is resolving the full path instead of the relative (from dsf file)"
Helmsman v1.7.0 valuesFiles is resolving the full path instead of the relative (from dsf file):

[code]

This does not happens if I use Helmsman v1.6.3

[2018-11-01 11:17] luisdavim commented on #115
it looks like it's trying to generate the full path from where the command was executed instead of where the first DSL file is.

[2018-11-01 11:18] cogfor opened #116 "Create a Tiller service account when used with -ns-override"
We are using namespaces to distinguish between customers. The idea is to use `-ns-override` to specify the customer which would then install Tiller with serviceaccount in that new namespace. Unfortunately, it doesn't seem to work that way.

Example config:

[code]

Executing `helmsman -f dsf.toml   --ns-override mycustomer` results in Tiller and service account being created in `dev`, but not in `

[2018-11-01 11:19] luisdavim commented on #115
example:
[code]

[code]

[code]

[2018-11-01 11:35] luisdavim commented on #115
ok, after some investigation I don't think this is a bug, it's a breaking change in the behavior that is not well documented in the changelog, before the values file paths had to be relative to the first DSF passed to the command, now they have to be relative to the DSF that refers to the values file.

[2018-11-01 14:43] sami-alajrami commented on #116
@cogfor `--ns-override` does not deploy Tiller in that namespace. All it does is 1) creates the ns 2) overrides the `app.namespace` for all apps in the DSF with what you pass from the command line.

At runtime, helmsman attempts to find which Tiller to use to deploy your apps. Since your `nginx` app namespace is now overridden to `mycustomer` and `mycustomer` is not defined in the DSF to have a Ti

[2018-11-01 15:24] despairblue opened #117 "does not delete untracked releases in namespaces that don't have a tiller installed"
When only using on tiller instance (e.g. in kube-system) it's possible to deploy applications to other namespaces than `kube-system` but they're not removed when they are removed from the DSF. That is because helmsman only check for untracked releases in the namespace where tiller is deployed:

[code]

Also, awesome work on this, and let me know if I can help with getting this fixed :)

[2018-11-01 15:32] despairblue commented on #117
Nevermind, `useTiller` means it's using a tiller in that namespace, but I only want one instance in kube-system.

So that [here](https://github.com/Praqma/helmsman/blob/374b56d81506cbe0cfb8cd3952f50bea11e0bb15/kube_helpers.go#L324) should not check if `useTiller` or `installTiller` is true.

[2018-11-01 15:40] sami-alajrami commented on #117
thanks @despairblue :)
The reason why it looks only in namespaces with `installTiller` or `useTiller` is because in a multi-tenant cluster, you don't want to delete other people's releases from their namespaces. So the cleanup looks only for namespaces in your desired state file with a Tiller deployed or used.

In your logs snippet, I see that it is searching in kube-system but not finding anythin

[2018-11-01 15:47] sami-alajrami commented on #117
Also, to clarify, the tracking is done by labelling the helm release state (in secrets or configmaps) in the namespace where Tiller is deployed. So if you are using Tiller from `kube-system` , these labeled secrets/configmaps will be in `kube-system`.

[2018-11-01 16:43] despairblue commented on #117
the command is `kubectl get configmap -n kube-system -l MANAGED-BY=HELMSMAN`

and the result of that command is:

[code]

[2018-11-01 17:06] sami-alajrami commented on #117
is the release you deleted from your desired state file still showing in that list?

[2018-11-01 17:34] despairblue commented on #117
Yes. It's everything starting with `staging-template`. And the DSF is:

[code]

[2018-11-02 14:18] despairblue commented on #117
I added some logging and `getHelmsmanReleases` actually only returns the release on the last line of the output of `kubectl get configmap -n kube-system -l MANAGED-BY=HELMSMAN`

Thus the other releases are not checked.

[2018-11-03 03:01] #114 closed

[2018-11-03 10:31] sami-alajrami commented on #114
@theallseingeye how about using `trap` like this (assuming you don't want to use a helm repo):
[code]

Relying on exit code 1 as you had in your script, may not always work. As helm, helmsman, kubectl could return different codes.

[2018-11-05 09:30] qiuyuzhou opened #120 "Use multiple desired state files (DSF) with the same cluster"
I have a DSF for ELK like this:
[code]

Then I have an another DSF for my servers:

[code]
I have deployed the ELK DSF first. Then when I try my own servers DSF, Helmsman plan to delete my release in first DSF.
[code]
Complete plan output:
[code]
How to use multiple desired state files (DSF) without the conflict?

[2018-11-05 09:53] qiuyuzhou commented on #120
Maybe could add a `project name` like the `docker-compose` for every DSF, and prefix all release name with the `project name`. Then it would be easy to deploy multiple severs env with one DSF.

[2018-11-05 11:15] luisdavim commented on #120
Hi @qiuyuzhou you can workaround this in two ways:

1. use `--keep-untracked-releases` when applying the second DSF
2. apply both DSFs at once by passing them with multiple `-f` options:
[code]

[2018-11-05 12:13] #117 closed

[2018-11-05 12:18] sami-alajrami commented on #120
I would add to @luisdavim comment that for option 1, it is better to have the `--keep-untracked-releases` flag to both helmsman commands:

[code]
This will prevent a second run on `elk.yaml` from deleting the apps from `servers.yaml` and vice versa.

[2018-11-05 12:38] despairblue commented on #117
@sami-alajrami thanks for merging. Do you have an idea when you cut a release again?

[2018-11-05 15:21] luisdavim commented on #120
yes, you're right @sami-alajrami. Better safe than sorry :)

[2018-11-07 17:53] ctrom opened #123 "Documentation is missing default values"
The [apps documentation](https://github.com/Praqma/helmsman/blob/master/docs/desired_state_specification.md#apps) does not list what the default values are for the `purge`, `test`, and `protected` parameters.

[2018-11-07 18:38] ironhalo opened #124 "Helm + TLS not respecting cert pathing"
I'm using helmsman to install tiller + tls into the kube-system namespace and have hit a couple issues.
dsf file:
[code]

[code]

I tracked down a couple issues here:
- Helmsman wants to prepend the namespace to the name of the cert and doesn't seem look to use the cert pathing from the `namespace` block
- I tried moving the certs into s3, that resulted in a validation error

I ended up getting ti

[2018-11-07 18:51] ironhalo opened #125 "Tiller service accounts are not created as expected"
Helmsman doesn't create tiller service accounts:
[code]

[code]

[2018-11-08 10:59] qiuyuzhou commented on #120
Thanks! The option 1 is work.

[2018-11-08 10:59] #120 closed

[2018-11-08 12:43] hatemosphere opened #126 "Configuration fields validation"
I wonder if it's possible to add validation for unknown fields in Helmsman configs. The reasoning behind this is simple - for example, we've spent a lot of time to debug this issue - https://github.com/Praqma/helmsman/issues/105, and now with 1.7.0 our config is broken again, since field was renamed and Helmsman is not complaining about this.

[2018-11-08 13:56] luisdavim commented on #126
maybe we can use `UnmarshalStrict` instead of `Unmarshal`, at least for the `yaml` files, I don't know if there's an equivalent method on the `Toml` library used by Helmsman.

[2018-11-08 13:57] luisdavim commented on #126
for `Toml` files we can use this https://godoc.org/github.com/BurntSushi/toml#example-package--StrictDecoding

[2018-11-08 22:38] wilrnh commented on #51
Also would love this + very willing to lend a hand with anything to get this merged in.

[2018-11-09 11:05] despairblue commented on #117
@sami-alajrami @luisdavim Sorry for being to impertinent about this, but environments are piling up on our staging cluster because of this :smile:

If the next release if further away I'll just compile a static version for our custom docker image for helmsman. I just wanted to make sure if the next release is just around the corner so I can safe myself the trouble :)

[2018-11-12 06:23] qiuyuzhou opened #127 "Can't auto recover from PENDING_UPGRADE status"
Can't auto recover from PENDING_UPGRADE status after upgrade release failing.

[code]

[2018-11-12 13:56] luisdavim commented on #127
Was the release in that state before you ever ran helmsman?

[2018-11-13 12:33] sami-alajrami commented on #125
@ironhalo you need to add `tillerServiceAccount: "serviceaccountname"` into your namespaces definitions. Helmsman will use that service account if it exists, otherwise, it will create it for you.
More details: https://github.com/Praqma/helmsman/blob/master/docs/how_to/define_namespaces.md#deploying-tiller-into-namespaces
https://github.com/Praqma/helmsman/blob/master/docs/desired_state_specificati

[2018-11-13 12:53] sami-alajrami commented on #124
Thanks @ironhalo. This is a bug caused by a recent change about file path resolution.
The namespace prefix is added by helmsman for its own use. All files are downloaded from the cloud or copied from local file system and given a namespace prefix. Helmsman deletes those at the end of execution.
The validation error you get originates from this [function](https://github.com/Praqma/helmsman/blob/1a5

[2018-11-13 16:15] ironhalo commented on #125
@sami-alajrami thanks, I'll take a look!

[2018-11-13 16:16] ironhalo commented on #124
@sami-alajrami thanks!

[2018-11-15 00:00] ironhalo commented on #125
Next question, it looks like a service account in `kube-system` isn't being bound to the `cluster-admin` clusterrole.  Is there another flag that should be set?

[code]

[code]

[code]
[code]

[2018-11-16 00:45] schollii opened #129 "Should not have to edit DSF to delete an installation"
It makes sense to use the `enabled` flag to remove individual apps from an installation, but it very awkward to have to do that when you just want to uninstall the whole thing. In that case, there should be something like `helmsman delete RELEASE_NAME` which should do the same as though every item in the DSF had `enabled: false` AND ask user if namespace should also be deleted (this would could al

[2018-11-16 08:45] luisdavim commented on #129
Well, the idea of helmsman is to enable you to keep track of your helm releases as code so you track changes like adding or deleting components. If you want to delete a release without keeping track of that change why not just use `helm delete --purge RELEASE_NAME`?

[2018-11-17 13:04] matfax commented on #51
@wilrnh @luisdavim Sorry for letting you wait. I haven't forgotten it; it's on my to-do list for next weekend.

[2018-11-26 00:37] lachlancooper opened #133 "Upgrade determinations fails with versions prefixed with 'v'"
This issue is similar to #85.

We have a chart that is always flagged as needing an upgrade, even when the chart version and values have not changed. For example:

[code]

Upon examination, this chart prefixes its version with `v`, which is not supported by this regex:

https://github.com/Praqma/helmsman/blob/5ca4121f3054d72e1d415cc1df41816b19f73c31/helm_helpers.go#L192

This is one of only two `s

[2018-11-26 12:02] #123 closed

[2018-11-26 12:02] #124 closed

[2018-11-26 15:32] luisdavim commented on #126
so this was fixed by #132 right?

[2018-11-26 17:24] hatemosphere commented on #126
yup, closing this issue

[2018-11-26 17:24] #126 closed

[2018-11-27 16:06] luisdavim commented on #133
Hi,

can you test a build from #134 and let me know if that's enough to fix your issue?

[2018-11-27 23:13] lachlancooper commented on #133
That change does indeed fix the issue:
[code]
Thanks very much!

[2018-11-27 23:43] shaunmansell opened #135 "utils.toFile function calls incorrect parsing method to yaml extensions"
The `utils.toFile` function will end up calling `fromYAML` instead of `toYAML` should it ever be used to parse a yaml file.

https://github.com/Praqma/helmsman/blob/f7d34b42fdc9d163d78cab780d02b504fb4908f2/utils.go#L134-L142

I couldn't find any calls to `toFile`, so this shouldn't impact any functionality at the time of creating this.

[2018-11-28 09:13] #133 closed

[2018-12-05 20:30] knutjda opened #137 "true values will always win when merging DSFs"
When passing multiple DSFs with the -f option, the DSF with a field containing a true value will always override other values. No matter the order of DSFs.

Given the following DSFs
*common.yaml:*
[code]

*override.yaml:*
[code]

When I run the following commands
[code]

Both commands will output:
[code]

Probably related to this issue in mergo: https://github.com/imdario/mergo/issues/89

Tested w

[2018-12-06 10:20] luisdavim commented on #137
I would say this is a mergo bug and there's not much we can do on our side.
But I'll take a look anyway to be sure.

[2018-12-06 10:44] luisdavim commented on #135
Well spotted @shaunmansell, I've opened a PR to address this.

[2018-12-06 15:14] #135 closed

[2018-12-10 07:09] regner opened #139 "Error: missing required TLS key file when creating tiller in namespace"
Here is the namespace part of my config:
[code]

Here is the output of the apply:
[code]

My Helm version:
[code]

I assume it isn't a path issue since if my path is wrong I get a different error:
[code]

Am I doing something wrong? I am confident in the certs as I tested creating a tiller install with the following command and it worked:
[code]

[2018-12-10 07:58] regner commented on #139
With debug and verbose on I can see the actual helm init command being run:

[code]

[2018-12-10 08:04] regner commented on #139
I am NOT seeing this log line anywhere in the output: https://github.com/Praqma/helmsman/blob/abf0dc8cee5598adcf903445b0404039ec308520/utils.go#L251

Based on that it felt like the certs were not being copied to where helmsman wanted them to be. So I copied the required certs and named them what helmsman was expecting and it worked (well hit another problem, but thats a permissions problem so unre

[2018-12-10 08:15] regner commented on #125
I am running into the original issue in this. I do how `tillerServiceAccount` set.

[code]

[code]

[2018-12-10 14:54] #139 closed

[2018-12-10 16:32] regner commented on #139
Thanks for being so quick to fix guys!

[2018-12-10 17:51] gregsidelinger opened #141 "Don't force valuesFile to have a .yaml extension"
Don't force ValuesFile(s) to end in yaml. yml also seems to be a common extension for YAML files.

[2018-12-12 04:50] wilrnh opened #143 "Helmsman attempts to add repos that already exists"
Running `helmsman --verbose` reveals that its attempting to run `helm repo add...` even if the repo defined in the DSF exists in `helm repo list`. This fails when `helm repo add` requires authentication, eg, `helm repo add ... --username.. --password`, so thats the bigger issue. However, changing this behavior to skip adding the repo if it exists seems like a reasonable fix.

[2018-12-12 04:51] wilrnh commented on #51
Just a quick reminder that I'm still looking forward to this :)

[2018-12-17 09:46] arthurk commented on #139
Any chance to make a new release with this fix included? I want to try out helmsman but can't because of this bug

[2018-12-17 10:13] #51 closed

[2018-12-17 10:49] sami-alajrami commented on #143
I think we should support specifying these credentials to be passed from the DSF (through env vars for example) so that if you run Helmsman on a new env (where these repos don't exist), it will add them.

[2018-12-17 10:50] #141 closed

[2018-12-17 10:55] sami-alajrami commented on #129
@schollii you may also use the existing `helmsman --destroy` flag
[code]

I will close this issue. But feel free to reopen if this still does not answer your question.

[2018-12-17 11:20] sami-alajrami commented on #139
@arthurk This fix is now shipped in v1.7.2 :)

[2018-12-17 12:40] schollii commented on #129
To answer your previous question, `helm delete --purge RELEASE_NAME` is for one chart, so in the case where I want to delete all install charts, I would have to do this manually for each one, laborious and not scalable.

Your latest comment indicates that this is actually already possible in helmsman, just not documented: --destroy. This option solves the issue. However it should not be closed bec

[2018-12-19 11:11] #129 closed

[2018-12-20 16:37] TomaszUrugOlszewski opened #148 "Support json as valueFile (valueFiles)"
Hello,

helm additionally to yaml, supports also json files. I use them together with ejson to encrypt secrets.

[code]
Could you make it possible, to pass json files to valueFile / valueFiles option?

[2018-12-21 13:52] TomaszUrugOlszewski opened #149 "Application should exit when env vars are not set"
Hello,

It would be nice to have additional cli switch, or configuration option - to prohibit running helmsman without all environment variables set.

For example:

[code]

Even without setting essential environment variables (tag / repository), helm chart is still applied, with empty "tag" and "repository".

[2018-12-21 14:07] ashleyjkell opened #150 "Recreate Pods"
In our current setup our docker images are tagged with the environment name they are deployed to. These don't change and when using Helm directly we pass "--recreate-pods" to ensure the pods have the latest version of the image. Unless I'm completely missing something there doesn't seem to be a flag to handle this in Helmsman apart from renaming the Chart every time. Could it be added?

[2018-12-22 21:09] luisdavim commented on #150
Maybe we could add a `helmFlags` list to the DSF spec...

[2018-12-22 21:10] luisdavim opened #151 "Support a tillerless setup"
I think it would be cool to support the setup described here: https://rimusz.net/tillerless-helm/

[2018-12-23 06:51] robbert229 commented on #151
Hey, so perfect timing. I meant to open up an issue on supporting tillerless helm, but that didn't happen because you did it first. Collab?

[2018-12-23 10:43] luisdavim commented on #151
Sure, I haven't started working on it, if you have, please goo ahead.

[2018-12-26 01:52] bergerx opened #153 "make settings.kubeContext optional and respect current context in active kubeconfig file"
As a kubernetes as a service provider, I want helmsman to respect the `current context` in the active kubeconfig, so that I can use same helmsman DSF on several clusters without an explicit action other than switching between kubeconfigs.

**History**:
We have been using helmsman in an architecture with quite many Kubernetes clusters. In fact we have been providing Kubernetes clusters as a service

[2018-12-28 23:46] RothAndrew opened #154 "Typo in logging statements: "planing""
Some log statements say "Planing this for you!". It should be "Planning".

[2018-12-29 00:15] RothAndrew opened #156 "Helmsman Docker image deploys the wrong version of Tiller"
When using the docker image `praqma/helmsman:v1.7.2-helm-v2.11.0`, the version of Tiller that gets installed is `gcr.io/kubernetes-helm/tiller:v2.10.0`. This is ok for the first run, but re-applications of the DSF result in this error:

[code]

If I upgrade the version of Tiller manually using:

[code]

Now the versions of Helm and Tiller match, but this error occurs, because Helmsman is trying to

[2018-12-29 00:41] RothAndrew opened #157 "Docker image praqma/helmsman:v1.7.2-helm-v2.11.0 uses wrong version of Helm"
Docker image `praqma/helmsman:v1.7.2-helm-v2.11.0` has Helm v2.10.0 installed.

[code]

Possibly related to #156

[2018-12-29 01:00] RothAndrew commented on #156
When I run `helm version` inside the docker container, I get `v2.10.0`. How can that be, when the error says the client is using version 2.11.0?

[code]

[2018-12-29 01:19] RothAndrew commented on #156
Workaround:

[code]
Then use `helmsman:latest` as your image.

[2019-01-02 13:12] acesyde opened #160 "RBAC Role should contain "batch" in apiGroups"
Hi,

Can you add "batch" in apiGroups like this

`- apiGroups: ["", "batch", "extensions", "apps"]`

https://github.com/Praqma/helmsman/blob/d7d3aa86d2286bb861db7eeb511743c62768fdab/data/role.yaml#L7

Thanks a lot

[2019-01-02 13:37] luisdavim commented on #150
hi @ashleyjkell can you check if the solution provided in #161 solves your problem? I would appreciate it if you could test a build from by branch in your use case.

[2019-01-03 09:06] acesyde commented on #160
@luisdavim thks :)

[2019-01-09 15:39] RothAndrew opened #166 "Unable to use --destroy with docker container"
When I run helmsman in a docker container with the `--destroy` flag, it complains that `helm init` has not been run. The processing of `--destroy` should include hooking up to the cluster just like `--apply` does.

[code]

[2019-01-10 13:46] #148 closed

[2019-01-10 13:53] #160 closed

[2019-01-10 13:55] #150 closed

[2019-01-10 13:58] #153 closed

[2019-01-10 14:00] #156 closed

[2019-01-10 14:00] #157 closed

[2019-01-10 14:00] #154 closed

[2019-01-10 14:02] #115 closed

[2019-01-11 09:38] erihanse commented on #107
@sami-alajrami
We have Jenkins running within the cluster (using the kubernetes plugin). By using the service account, no context is needed. Are there any plans to support running helmsman within the cluster?

[2019-01-11 10:16] sami-alajrami commented on #107
@erihanse running helmsman from within the cluster (using a service account to access the API) will require changing the way helmsman currently interacts with the cluster (using kubectl and helm commands over a kube context) to use API calls from client libraries instead.

Alternatively, we can try to allow defining a context using the bearer token from the service account as described in the comm

[2019-01-11 10:26] sami-alajrami opened #167 "support creating kube context using a bearer token to allow helmsman to run inside clusters."
This originates from #107

As some users use CI/CD services inside the cluster, it is useful to allow the kube context created by helmsman to be defined using bearer tokens which can be extracted from a pod's service account. This will allow users to define the context with the kubernetes API service name as the server URI and (optionally) set a path for a bearer token inside the pod where helmsma

[2019-01-11 18:52] regner opened #168 "Certs not removed after helmsman runs"
We keep the certs for our tiller install in a separate location. Helmsman supports this for us by allowing us to specify the cert locations in the config for the namespace. Helmsman copies the required certs to the working directory where we are running Helmsman from.

My question is what is the desired state when Helmsman is finished running? We would prefer that those files it copied and/or crea

[2019-01-11 18:54] ironhalo opened #169 "Helmsman only downloads certs with --apply"
Helmsman only downloads helm certs when the `--apply` flag is called, this makes dry runs and plan without execution problematic when in a CI pipeline.

Would it be possible to both download the certs and clean them up when the execution finishes?

[2019-01-12 11:14] flypenguin opened #170 "Contradicting docs for `installTiller` effects"
In [this example](https://github.com/Praqma/helmsman/blob/master/docs/how_to/multitenant_clusters_guide.md#deploying-tiller-with-tls-enabled) it says:

[code]
... whereas [here](https://github.com/Praqma/helmsman/blob/master/docs/how_to/define_namespaces.md#preventing-tiller-deployment-in-kube-system) it says:

combined with this code example, directly below:

[code]
If both are correct then pleas

[2019-01-14 08:35] sami-alajrami commented on #170
thanks @flypenguin , this is the correct behaviour:
[code]

[2019-01-14 08:36] #170 closed

[2019-01-14 08:36] sami-alajrami commented on #168
It is supposed to clean all certs after execution. This might be a bug, I will look into it.

[2019-01-14 08:51] sami-alajrami commented on #168
@regner can you share the tail of the execution logs and what are the copied cert file names in the working directory? they are supposed to look like `<namespace>-tiller.cert <namespace>-tiller.key <namespace>-ca.cert `

[2019-01-14 09:18] sami-alajrami commented on #169
@ironhalo this happened in #101 (responding to #65) where I overlooked the `dry-run` operation. While `--dry-run` and `--apply` can't be run together. We can allow creating initializing helm when `--dry-run` is used.

[2019-01-14 18:00] pwhitehead-cb commented on #169
thanks for the quick response!

[2019-01-14 18:01] ironhalo commented on #169
thanks for the quick response!

[2019-01-14 19:00] regner commented on #168
How much of the log did you want and did you want debug enabled?

The last two lines from our most recent run are:

[code]

Here are the files that are created:
[code]

[2019-01-15 08:35] sami-alajrami commented on #168
it is supposed to log some certs cleaning lines before it says `completed successfully` .. does the logs indicate that it is creating a new kube context? with something like:
[code]
It will only delete certs if it creates the kube context (because this is when it will download/copy them to local directory).
Also which helmsman version are you using ?

[2019-01-16 00:50] mam8270 opened #171 "helm-secrets look for wrong decrypt extension on chart upgrade"
On chart upgrade,  performs diff then upgrade. This code path appears to be erroneously appending secret suffix twice. This results in the file not opening.

Command returned with exit code: . And error message: Error: open [file].secrets.yaml.dec.dec: no such file or directory

[2019-01-16 09:39] sami-alajrami commented on #168
if the kubeContext `staging-context-name` already exists, helmsman just uses it without copying any certs (and thus does not perform cleaning at the end). If the context does not exist, it will be created and this involves copying/downloading certs to the working directory and then deleting them upon successful completion.
It is possible that these certs were left after a failed execution of helms

[2019-01-16 10:05] sami-alajrami commented on #171
could you please share the snippet from your desired state file where you define the secret file(s) and the couple of logs before the error. Also, which helmsman version are you using?

[2019-01-16 14:52] regner commented on #168
I have done that a few times. It still leaves the certs.

I am confused as to what these have to do with a context when they are certs for connecting to Tiller and where it would be downloading them from. It copies them from the defined location.

[code]

[2019-01-16 20:32] mam8270 commented on #171
secretsFile Definition

`[apps]
  [apps.contentstore]
    name = "contentstore-integ"
    valuesFiles = [
          "./common/qa_all.values.yaml",
          "./helm_vars/qa_all.values.yaml",
          "./common/integ.values.yaml",
          "./helm_vars/integ.values.yaml",
    ]
    secretsFiles = [
          "./common/qa_all.secrets.yaml",
          "./helm_vars/qa_all.secrets.yaml",
          #"

[2019-01-16 20:34] mam8270 commented on #171
2019/01/16 20:23:06 VERBOSE: kubectl client version: v1.10.3
2019/01/16 20:23:06 VERBOSE: Helm client version: v2.11.0+g2e55dbe
2019/01/16 20:23:06 INFO: Parsed TOML [[ /helm/integ.toml ]] successfully and found [ 1 ] apps.
2019/01/16 20:23:06 INFO: Parsed TOML [[ /helm/qa_all.toml ]] successfully and found [ 1 ] apps.
2019/01/16 20:23:06 INFO: namespace validation -- Tiller is desired to be deplo

[2019-01-16 20:40] mam8270 commented on #171
initial diff succeeds using secretsFiles, but subsequent upgrade command fails (appears to be using duplicated file extension)

[2019-01-17 09:13] erihanse opened #172 "Feature request: secrets/values-files relative to the chart"
Currently the secrets and value files must reside relative to where the dsf file is. A chart may have other values files, e.g. values-prod, values-staging, values-test, etc. The way it is now, we need to fetch the chart manually before calling helmsman. I want the ability to be able to reference other values files within a chart, without having to pre-fetch the chart to the file system.

[2019-01-18 15:41] flypenguin opened #173 "question/feature: how to use multiple state files and one tiller?"
I use two DSFs, and if I execute helmsman it will delete the releases of the other DSF.
how can I prevent that while using the same tiller?

I have found the `--keep-untracked-releases` flag, but I would like to define a "scope" if you like about what helmsman should manage. so I can still just remove something from the DSF and it gets deleted, which is simple and convenient, while being able to u

[2019-01-18 17:10] nickstares opened #174 "Helmsman -destroy is not idempotent"
If you run `helmsman -destroy` when all of your releases exist, it deletes them all. However, if you run it a second time, it will create all releases that did not already exist. In the case where only one of your releases does not exist, it will delete all existing ones but create the missing one.

I believe this is caused by  https://github.com/Praqma/helmsman/blob/master/decision_maker.go#L86

[2019-01-22 12:17] sami-alajrami commented on #168
you are right, sorry I confused those certs with the ones in the `settings` section which are used for creating kubecontext.

There is a flag which indicates if cleanup is needed and this was only activated if the kubecontext is created (i.e. certs have been downloaded/copied for it). The flag is not activated when Tiller is deployed with TLS and that's why the cleanup of the certs in your case do

[2019-01-22 12:32] sami-alajrami commented on #171
@mam8270 you are right. Can you please test #177. Thanks!

[2019-01-22 12:42] sami-alajrami commented on #172
@erihanse I am not sure I understand your situation. Why do you need to fetch the chart files manually? and from where? Is it from another location in the same machine?

The reason why values/secret file paths need to be relative to the DSF is to allow users to run the helmsman CLI from any place and use the DSF file location (which you input in the CLI) the base for reaching secret/values files.

[2019-01-22 12:51] sami-alajrami commented on #173
@flypenguin True. if you use the same Tiller from multiple DSFs, they will overlap and mess each other's work.
One way around this, is to manage each DSF apps with a unique Tiller.

An ultimate fix is to add a customizable label to each DSF which is then used by Helmsman to identify the source of each deployed app. Currently, the label is always the same (not customizable) and is set to 'MANAGED_B

[2019-01-22 13:19] #149 closed

[2019-01-22 13:21] sami-alajrami commented on #149
the validation of those env vars is now default. It can be skipped (along with other valdiations) using `--skip-validation`

[2019-01-22 13:21] #168 closed

[2019-01-22 13:24] #171 closed

[2019-01-22 13:25] #166 closed

[2019-01-22 19:01] regner opened #179 "helmsman always adds tests"
I don't know if this is a Helmsman issue or an issue with Helm or an issue with the chart.

Helmsman version 1.7.2.

When I run `helmsman -f helmsman.yaml` it always wants to deploy the test pods for the [mattermost-team-edition](https://github.com/helm/charts/tree/master/stable/mattermost-team-edition) chart.

Here is the diff:

[code]

It isn't the end of the world as it just recreates the test

[2019-01-23 09:12] erihanse commented on #172
Appreciate you getting back to me. I need to fetch the chart files manually, because we use values-files which are named different from the default `values.yaml`.
Also, the values files reside not on the local filesystem, but in whatever chart repository we have released the charts to.

[code]
Imagine the example above. This is a chart that is released on whatever chart repository we use. We want

[2019-01-23 14:11] luisdavim commented on #173
The way I do it, is to have a common DSF and separate partial DSF for different contexts (ex. NameSpaces) and then call helmsman like this:
[code]

[2019-01-23 21:12] flypenguin commented on #173
@sami-alajrami  This ultimate fix? That is something I would really like to see :)

@luisdavim hm. I guess this works, but I don't like it. I basically manage cert-manager and ingress-controller with helmsman, and having to include this in every helmsman call is just annoying to me. Thanks for sharing though! I might actually have to do it this way 🤷‍♂️

[2019-01-24 09:53] sami-alajrami commented on #179
great! 🎉 we will add the flag once it's released in diff

[2019-01-24 17:34] gregsidelinger opened #180 "Support cluster-admin tiller roles outside of kube-system"
It would be nice if helmsman created tiller service accounts could be bound to cluster-admin when not in the kube-system namespace.  Having to create the namespace, service account and role binding before calling helmsman is kind of annoying.  The current behavior makes sense but I have use cases where I would rather not do a bunch of extra steps before calling helmsman.

[2019-01-28 17:33] fbuchmeier opened #181 "helmFlags not found in type main.release"
Hi everyone,

I just tried to use the new `helmFlags` feature to provide additional flags to Helm when deploying an application with Helmsman. Unfortunately this does not work for me.

The error is:
[code]

My DSF looks like this:
[code]

The option to pass Helm flags has been added in 1.7.3 with this pull request as far as I can tell: https://github.com/Praqma/helmsman/pull/161

I'm using Helm an

[2019-01-31 21:44] regner commented on #179
After discussing it some more in https://github.com/databus23/helm-diff/issues/114 the point was made that disabling all hooks is maybe a bad idea. I don't know what the preference for Helmsman is, disable diffing for all hooks or just test hooks.

I opened another PR into helm-diff to add the option to disable just test hooks if that is what Helmsman would prefer: https://github.com/databus23/hel

[2019-02-03 19:03] jburandt opened #183 "Helmsman does not support any order of YAML state configuration"
**Edit: Not a helmsman issue. Closing.**

We generate or modify YAML deployment files automatically that get read and used by helmsman, and by default a tool like viper will write YAML in alphabetical order.

However, even if all of the desired spec options are there, helmsman will not read them correctly. I'm wondering if that's because it's not built to unmarshal YAML out of order?

Error:
[code

[2019-02-03 20:36] #183 closed, assigned to nobody

[2019-02-04 11:08] medzin opened #185 "Using preinstalled Tiller with TLS still requires to specify tillerCert and tillerCert"
Using preinstalled Tiller with TLS still requires to specify `tillerCert` and `tillerCert` even though these values have no meaning in this context.

[code]

Without providing these values, I get the "transport is closing" error.

[2019-02-06 16:14] flyhard commented on #125
I had the same problem. Found out that if I modify the role that is created for tiller I can continue:

Before:

[code]

after:

[code]

[2019-02-07 08:57] flyhard commented on #180
Seems like this is related to #125

[2019-02-07 09:27] flyhard opened #186 "Tiller cannot create Roles or RoleBindings if not running in kube-system namespace"
I have a RoleBinding in my application, and Tiller cannot create it if it runs in the same namespace. I needed to fix the privileges:

Before:

[code]

after:

[code]

It feels like we could benefit from allowing a custom yaml file to be applied between the tiller creation and and the rest of the run.

_Originally posted by @flyhard in https://github.com/Praqma/helmsman/issues/125#issuecomment-461

[2019-02-07 17:13] jpke opened #188 "mapping the current helm state succeeds in osx and fails in jenkins"
In osx 10.14, I run:
[code]
It returns
[code]

But, when I run the same block in Jenkins 2.150.1, I get:
[code]

Helm version on both:
[code]
Helm plugin list on both:
[code]

Any ideas?

[2019-02-09 09:55] luisdavim commented on #181
You actually don'y need to use `helmFlags` to add `--wait`, there's a dedicated parameter for that but thanks for finding the issue #189 should fix it.

[2019-02-09 21:45] luisdavim commented on #172
I don't understand why making the paths relative to the chart instead of the DSF makes a difference. If they are on some other repo you still have to fetch them, if the problem is that you have to include the chart name in the path, you can use environment variables and set them in the same process that fetches the charts.

In my opinion, the values files are part of the state definition and they

[2019-02-10 10:10] erihanse commented on #172
I think what I really want is what they discuss here: https://github.com/helm/helm/issues/4275 and here: https://github.com/helm/helm/issues/2642.

Ideally it should be supported by helm itself in the first place, but since it doesn't, it would be nice if helmsman let you fetch these things for you and clean up afterwards. We could have a field like: "remoteValuesFiles" and "remoteValuesFile", cor

[2019-02-10 12:29] luisdavim commented on #172
Oh, that's a completely different thing than what I understood what this was about. I'll take a better look once I'm on a computer. But as I've said. I really think that the values files are part of the desired state and should be together with the helmsman DSFs.

[2019-02-10 13:26] erihanse commented on #172
Well. Helm is independent of helmsman. If we then switched from helmsman to something else (or just use helm) we would need to re-organise all values files accordingly. The values are specific to the charts where they are placed, and only makes sense in that context.

It's just a bit of a hazzle that helm only supports the default filename when installing it (with the <remote>/<chartname> notation

[2019-02-10 13:43] luisdavim commented on #172
I understand that but I don't completely agree. I think that configuration data and configuration logic should be managed separately. Like for example in chef, you don't keep your data bags, roles and environment files together with your cookbooks. With helmsman or not I don't think that values files belong with the charts. But if you are using helmsman, both the values files and the helmsman DSFs

[2019-02-11 17:23] aaktaev commented on #115
Getting next error:

[code]

[2019-02-11 17:42] aaktaev commented on #115
helmsman apply -f ./deployment.yaml
values files located :
ls -l ./
deployment.yaml
hadoop/values.yaml
kong/values.yaml

in app section they are specified as valuesFile: "hadoop/values.yaml"

[2019-02-11 17:43] aaktaev commented on #115
helmsman version 1.6.0

[2019-02-11 17:49] aaktaev opened #190 "Helmsman 1.6.0 path to valuesFile"
Here is structure:
[code]

When launching helmsman apply -f deployment.yaml getting error

```ERROR: apps validation failed -- for app [keycloak ]. valuesFile must be a valid relative (from your first dsf file) file path for a yaml file, Or can be left empty.```

in apps section deployment.yaml they are specified as (for example keycloak)

```valuesFile: "keycloak/values.yaml"```

[2019-02-11 18:10] aaktaev commented on #190
Getting the same error even if I'me specifying full path to file.

[2019-02-11 18:10] luisdavim commented on #115
Can you use a more recent version of helmsman?

[2019-02-11 18:13] luisdavim commented on #115
Also try `helmsman apply -f deployment.yaml` instead of `helmsman apply -f ./deployment.yaml`

[2019-02-11 18:14] aaktaev commented on #115
Actually it runs from the python script, and it launches ```helmsman apply -f /config/rendered/deployment.yaml```

[2019-02-11 18:14] aaktaev commented on #115
Will try now 1.7.4 version

[2019-02-11 18:19] luisdavim commented on #115
I think that in older versions the values paths had to be relative to where the command was initiated and that would explain your case which is actually different from what you initially reported.

[2019-02-11 18:24] aaktaev commented on #115
but it also didn't worked if you will set full path to values file.

[2019-02-11 18:27] aaktaev commented on #115
Now getting next with helmsman 1.7.3:
[code]

[2019-02-11 18:50] luisdavim commented on #115
Can you compare your helmsman file with the example in this repo and check if you are missing anything?  Or share the file so we can take a look.

[2019-02-11 20:04] aaktaev opened #191 "Helmsman 1.7.2 timeout for waiting tiller in namespaces"
I have installed tiller in kube-system namespace, and for other namespaces added line `useTiller: true`

And then launching `helmsman apply -f deployment.yaml` and after 10 tries it exits with error:
[code]

[2019-02-11 20:22] aaktaev commented on #191
And after re-launching - it fails on another namespace.

[2019-02-11 20:25] aaktaev commented on #115
Thanks for a help. Solved it.

[2019-02-11 20:26] aaktaev commented on #115
But now getting new error. Created issue:
https://github.com/Praqma/helmsman/issues/191

[2019-02-12 09:21] luisdavim commented on #191
can you try with `v1.7.3`?

[2019-02-12 09:25] #190 closed

[2019-02-12 09:32] KrustyHack opened #192 "Helmsman said "release not installed" even if it is"
Ay,

Helmsman still want to install a release even if the release already exists and nothing changed in chart values (I've checked with `helm diff`).

Here the release `sqlproxy` was already installed with Helmsman 5min before and when replanning it says that it isn't installed.

Other apps work fine.

[code]

[code]

[2019-02-12 09:33] aaktaev commented on #191
It is the same error:
[code]

[2019-02-12 09:34] aaktaev commented on #191
Here is part of deployment.yaml:
[code]

[2019-02-12 09:35] aaktaev commented on #191
Cluster version GKE 1.11.5-gke.5

[2019-02-12 09:47] KrustyHack commented on #192
Ay,

Nevermind, I'm stupid af.

For other with same problem : always `helmsman -f plan.yaml` before applying it... Or it isn't generated by Helsman.

Sorry for issue.

[2019-02-12 09:51] KrustyHack commented on #192
/

[2019-02-13 08:44] #186 closed

[2019-02-13 08:44] #181 closed

[2019-02-13 09:15] erihanse commented on #172
What you're saying makes sense. Thanks a lot for taking your time.

[2019-02-13 09:15] #172 closed

[2019-02-13 10:07] #169 closed

[2019-02-13 10:24] sami-alajrami commented on #179
thanks @regner I can see why it can sound problematic (e.g. for hooks at post-upgrade, post-install ... ) .. but these hooks should not be the cause for triggering an upgrade (or any other operation) in helmsman.

From helmsman point of view, having all hooks disabled in the diff command (with some optional flag) will allow helmsman to make a correct decision about the needed operation if any.
I d

[2019-02-13 10:49] sami-alajrami commented on #191
@aaktaev the logs above mean that when helmsman is doing `helm list --tiller-namespace <namespace_name>` it is getting `could not find tiller` (or some similar error message) response from helm. Can you try this command yourself and see if your getting the same result?

A couple of `rough` possibilities on top of my head are:
1) Tiller is configured with TLS (although the error message should be d

[2019-02-13 11:51] sami-alajrami commented on #192
no problem @KrustyHack .. can you run this command and see if `sqlproxy` is there in the output
[code]
also try this command and see if `sqlproxy` shows up (replace secrets with configmap if that's the storage backend you use):
[code]

[2019-02-13 11:58] sami-alajrami commented on #188
Hi @jpke how are you running helmsman in Jenkins? from a docker image (is yes, which tag) or as a binary ?
Also, can you run helmsman with `--verbose` to see which helm diff command is causing the error?

[2019-02-13 12:12] sami-alajrami commented on #185
Thanks @medzin , you are right about not needing `tillerCert` and `tillerKey` in this case.
The reason why it only works when you have them set to anything is because of this [function](https://github.com/Praqma/helmsman/blob/f7af735c07119cf39357ad4c7bc125d126ea1f31/state.go#L185) which only assumes TLS is enabled if it sees the five items. When you remove these two , helmsman was trying to talk t

[2019-02-13 16:47] regner commented on #179
If thats the case, then I guess it is just waiting for helm-diff to cut a new release.

[2019-02-13 17:48] justinholmes opened #194 "Rollback question"
Scenario is that a developer has make a bad breaking change in the Helm template, at the moment Helmsman seems to delete the existing deployment instead of rolling back to a previous Helm successful release.

Is this expected?

Thanks in advance.

[2019-02-14 11:31] justinholmes commented on #194
Doesn't matter I added a check to the deployment script. Just for future reference Landscaper doesn't destroy the old deployment if the new one is broken.

[2019-02-14 11:31] #194 closed

[2019-02-14 12:10] #185 closed

[2019-02-14 13:20] #174 closed

[2019-02-14 14:13] sami-alajrami commented on #180
this is shipped in v1.7.4

[2019-02-14 14:13] #180 closed

[2019-02-14 14:16] sami-alajrami commented on #125
@ironhalo `tillerRole` is now available in v1.7.4
@regner if you are using GKE and getting this error `Error: configmaps is forbidden: User "system:serviceaccount:kube-system:tiller" cannot list configmaps in the namespace "kube-system"`

You will need to give your GCloud user cluster-admin access before running helmsman
[code]

[2019-02-14 14:16] #125 closed

[2019-02-15 20:38] schollii opened #197 ".kube/config.lock causes misleading error message"
If there is a leftover ~/.kube/config.lock (by a process that used kubectl and crashed), then `helsmman --debug -f helmsman.yaml` gives this error:
[code]
Remove the lock file, and all works fine. Re-add the file (via say `touch ~/.kube/config.lock`) and the same error occurs.

So the error message is very misleading and will cause (as it did in my case) to waste much time troubleshooting in place

[2019-02-17 19:48] musabmasood commented on #172
+1 we would like this too as we package multiple environment files directly inside the chart

[2019-02-18 08:21] sami-alajrami commented on #197
@schollii how do you define the context in your DSF and which helmsman version are you using?
The error message above is only supposed to happen when you want the context to be created and you didn't provide one of the following in the settings section in the DSF: `username`, `password`, `clusterUri`

[2019-02-18 08:26] sami-alajrami commented on #172
@musabmasood as you can see in the comments above, it is better to keep the specific environment values files separate from the chart files. It is better to keep those environment files in a git repo where you can version control them and make use of a gitops approach to manage your deployments.

[2019-02-18 09:08] KrustyHack commented on #192
Ay,

Thanks for the answer ! I will give a try asap as I migrated from Helmsman to Terraform.

[2019-02-18 12:28] sami-alajrami commented on #192
thanks @KrustyHack .. since you moved to terraform, it is hard to tell if the second command would have returned no resources at the time when you faced the problem with helmsman.

Generally speaking, when helmsman is making decisions, it looks for helm releases that are managed by itself (using the kubectl command above). If sql-proxy is deployed with helmsman, the helm release info will be label

[2019-02-18 20:51] musabmasood commented on #172
Our use case is an airgapped customer environment so we usually put a **images.yaml** file inside our chart's root. When we ship the images and chart to the environment, we untar the chart and install it with --values images.yaml. This file is same for all environments on customer's end, so we rather package it inside the chart than store it else where.

Would be great if --values could support fi

[2019-02-18 22:15] luisdavim commented on #172
Is that supported by helm? How do you package the helmsman DSFs? Why not put them together in a DSF package? Anyway, it's hard to have support for both use cases, relative to DSF and relative to chart and I think the first one makes more sense for the reasons presented above. Have you tried using absolute paths? That should work, if it doesn't you can open a new issue for that.

[2019-02-18 22:49] musabmasood commented on #172
we're not using helmsman at the moment.

[2019-02-19 15:12] hasueki opened #198 "question/feature: Helmsman way to rollback failed releases"
What is the recommended way to rollback `FAILED` chart releases?

I was hoping that Helmsman would have a rollback feature that will automatically rollback the chart to the previous release for a failed upgrade.

Or, will it be better to handle it in our pipeline to either revert the breaking commit to the DSF or make a new commit to upgrade the failed chart to the previous version?

[2019-02-19 15:59] MichalPloski opened #199 "question/feature: Templating configmap in value.yml"
Hi everyone,
We plan to migrate from plain helm to helmsman - mostly because in our production workflow we rely heavily on ordering.
For non production workflow we are looking for a option to template our configmap in vaules.yml file with a variables provided by previous CI steps ( namespace name, database url i.e) Is it possible to achieve this?
In documentation we can see option to template valu

[2019-02-19 16:43] HamzaK8s commented on #172
@sami-alajrami I'm trying to implement the same approche I package my helm chart without values and I pushed it onto a nexus repository after that I create a repo git where I put the specific values.yaml and the requirement.yaml with chart name and repository URL's also I create a template directory where I put the common manifest
the command line  Helm dep update successfully got an update from t

[2019-02-19 18:40] luisdavim commented on #172
You're running helm directly not helmsman and the path to the values file must be absolute or relative to where you ran the command from.

[2019-02-20 14:37] rellu opened #200 "helmsman should show diff when upgrading a chart"
When you upgrade a chart to newer version and use `-show-diff` option plan will only tell you that chart will be upgraded. I believe it should also show the diff of what it will actually change like it shows if I only change some value.

It's also not uncommon for us that we change some value and upgrade a chart in the same PR. In some scenarios it's even needed e.g. if a change in chart requires

[2019-02-20 18:00] sami-alajrami commented on #200
Hi @rellu `--show-diff` should print the diff result in the logs. This works both while doing plan or apply.
`helmsman --show-diff -f example.yaml `
I have just tried this with helmsman v1.7.4

The reason why it's not shown by default is that it might log some sensitive info and it can clutter the logs when there are many apps being upgraded.

[2019-02-20 18:10] sami-alajrami commented on #198
helmsman's behaviour is to upgrade a failed release when it finds one. This means you can either revert the breaking commit to the previous desired state (rollback) or push a new commit with a fix (upgrade). Either way, helmsman will do an upgrade to the failed release (with previous config or new fixed config).

The reason why helmsman doesn't rollback a failed release automatically is that some

[2019-02-20 20:47] hasueki commented on #198
@sami-alajrami
Thanks for the reply, so an issue with helm was blocking this auto rollback feature.
I was thinking of having a flag in the DSF to either enable/disable auto-rollback for a certain chart.
Do you think such functionality will be useful now that helm rollback has matured since then?

[2019-02-20 20:50] hasueki commented on #198
The only thing that may be an issue here is that if auto rollback is performed, there will a discrepancy between the DSF and what is installed on the cluster.

[2019-02-21 08:10] KrustyHack commented on #192
Ay,

Thanks for your answer.

The test I made with `sqlproxy-test` was totally independant from Terraform.

[2019-02-21 10:27] sami-alajrami commented on #197
on another note, if you are using multiple kubeconfig files, you may specify which kubeconfig to use with `--kubeconfig <path to your kubeconfig>` .. alternatively, you can use your current defined context by not specify `kubeContext` in your DSF and helmsman would respect the current context. See PR #159  for details on this.

If helmsman does not see a current context or the context you point to

[2019-02-21 10:44] sami-alajrami commented on #199
Hi @MichalPloski your [apps.noname-app.set] looks fine. Helmsman should interpolate all your environment variables (if they exist). This is done using go's ExpandEnv()
[code]

You can verify what's being passed to your helm chart from helmsman by running:
[code]

On a side note, you have to make sure you are referring to the right variables in your `set` stanza. For example, if the value file for

[2019-02-21 10:55] sami-alajrami commented on #198
True about the discrepancy. IMHO I prefer that the use either:
1. revert the commit to trigger a rollback (through upgrade to older config). This of course requires smaller changes/commits which is a good practice.
2. make a new commit fixing the breaking change and triggering a normal upgrade.

This way the DSF will always reflect what's in the cluster and users will be following a [GitOps](https

[2019-02-21 14:48] MichalPloski commented on #199
Hi @sami-alajrami Thank you for your support. Adding prefix to variable as mentioned by you in last part of a comment solved my problem

[2019-02-21 14:48] #199 closed

[2019-02-21 15:40] sami-alajrami commented on #199
you are welcome :)

[2019-02-21 19:29] hasueki commented on #198
Yeah I agree with you there. Ok thanks for the info!

[2019-02-21 19:29] #198 closed

[2019-02-22 11:32] MichalPloski opened #202 "Feature Deploying apps in parallel"
As far as I understand if we have a bunch of apps in toml file we are able to manipulate order of deployment and all  of releases will be run sequentially which for some cases is a big waste ( most of our apps are separated from each other and can be deployed in pararell). Maybe we could provide behaviour that setting same priority for multiple apps leads to pararell deployment of those apps.

[2019-02-22 11:50] #202 closed

[2019-02-25 14:44] erihanse opened #203 "Make settings optional"
I'm trying to let helmsman determine the kube context from current-context. I cannot run this without atleast one setting specified in the dsf. This works to me:
[code]
while this doesn't work:
[code]

[2019-02-25 14:47] erihanse commented on #203
Error message:
`ERROR: settings validation failed -- no settings table provided in state file.`

[2019-02-28 18:03] ironhalo opened #207 "AWS IAM machine credentials are not used"
I'm running helmsman in CD as a container on an ec2 instance while storing helm TLS certs in S3.  Helmsman requires the AWS credentials to be exposed as environmental variables and does not seem to respect the credentials presented by the IAM role attached to the instance.  My workaround have been to extract the credentials from the metadata endpoint, is it possible to use the already available cr

[2019-03-01 17:02] ironhalo commented on #207
Looks like the source of the error is from this function?

https://github.com/Praqma/helmsman/blob/master/aws/aws.go#L38

[2019-03-05 17:42] skeenan947 commented on #202
why was this closed?  It's a very valid feature request, unless I'm missing something and it's already supported.

[2019-03-06 17:37] nvtkaszpir opened #209 "Helmsman should show version when using -no-banner parameter"
Use case:
As an end user I'd like to be able quickly get helmsman version without any complex output parsing.

Example command
[code]
Expected output:

[code]

Actual output
[code]

As you can see the helmsman version is in banner.

current output without `-no-banner`
[code]
This means that we need to parse ASCII art to extract helmsman version.

[2019-03-06 17:41] kpucynski commented on #209
`2019/03/06 09:32:09 INFO: No desired state files provided.`
Why it is expecting state file when it is explicitly asked for version?

[2019-03-07 14:19] fmotrifork opened #210 "Docker image with Helm 2.13"
I would love to have the following tag available: v1.7.4-helm-v2.13.0

[2019-03-07 19:22] hasueki opened #211 "helmRepos does not support username/password for adding repos with auth enabled"
Currently, Helmsman does not support adding of Helm repos that has authentication enabled. I don't see an option to do something like..

[code]

Ideally, the helmRepos block should support `username` and `password` parameters.
[code]
Are there any plans to support something like this?

[2019-03-08 10:09] #209 closed

[2019-03-08 10:29] sami-alajrami commented on #211
this has been added addressed by #201 in a different way, where you configure the help repos before hand and add them as `preconfiguredHelmRepos = [...]```
This is good for those who don't want to have repo secrets stored in their CI/machine .. But it is also good to allow adding credentials as you proposed.

[2019-03-08 15:22] #167 closed

[2019-03-08 15:53] sami-alajrami commented on #210
@fmotrifork there you go: praqma/helmsman:v1.7.4-helm-v2.13.0  :)

[2019-03-08 15:53] #210 closed

[2019-03-09 19:13] cdbyrd commented on #139
@sami-alajrami I'm still seeing this problem in v1.7.4.  Is there something I'm missing?  The cert files are not getting copied.  I tried both relative and absolute file paths for the cert files.

[code]

[2019-03-10 21:37] cdbyrd commented on #139
To clarify, the certs and keys are getting created in the working directory, but they do not seem to be referenced.  It seems like the copy happens after the search for the files, but it still fails if they are created before execution.  Here are the files in the working directory.

[code]

[2019-03-12 11:57] sami-alajrami commented on #139
@cdbyrd this looks like a problem with the certs you are using. Can you check if there is a problem with the certs you have. Try to manually use those certs with a helm command. If it does not work, then you have a problem with those certs.

As for the logs you shared, the files are actually copied into local directory and the helm command use them
[code]
So everything looks fine from helmsman's p

[2019-03-12 12:08] cdbyrd commented on #139
The certs are good. I can stand up an instance of tiller with the same certs and connect.  However, using those certs in helmsman causes an error during provisioning of tiller.  The error states that it cannot find the cert files to create tiller.  It seems similar to the bug in this thread.

--
Chris Byrd | 678.232.9875

[2019-03-12 12:43] sami-alajrami commented on #139
@cdbyrd  can you share the logs with the error saying it can't find the certs so that we could check where/how it happens?
The logs you shared above give a different error that's coming from helm about TLS handshake.

[2019-03-12 13:18] cdbyrd commented on #139
I think it may relate to a helm limitation when you are trying to upgrade the tiller instance and install certs after the initial helm init.  Looks like this is just a helm limitation at the moment.  If you want to use TLS you better do it at the start or there are some manual workarounds.

[Question: helm init --update tiller to enable TLS #4691](https://github.com/helm/helm/issues/4691)

[2019-03-12 13:36] sami-alajrami commented on #143
#214 will allow to set basic auth for repos that require it in the format
 `customeRepo = "https:user@pass:mycstuomrepo.org'`

#201 allows to use preconfigured helm repos which are not configured by helmsman using the `preconfiguredHelmRepos` stanza. Example:
[code]

[2019-03-12 13:45] #211 closed

[2019-03-12 13:45] #143 closed

[2019-03-12 20:56] cdbyrd opened #215 "Tiller not deployed in kube-system namespace with clusterrolebinding to cluster-admin role"
Using helmsman v1.7.4 I noticed something on a new cluster.  This was my config.

[code]

After applying this config, the tiller-deploy in the kube-system namespace was not bound to a service account.

[code]

However, the tiller-deploy in the ops namespace was bound to a service account and the cluster-admin role.

[code]

In my first cluster, I didn't define the kube-system namespace, and the ti

[2019-03-12 21:34] sami-alajrami commented on #203
shipped in v1.8.0

[2019-03-12 21:34] #203 closed

[2019-03-13 12:50] cdbyrd commented on #215
An additional point.  Tiller is deployed in the kube-system namespace by default.  This deployment should create a Service Account and apply the cluster-admin role to the SA by default, based on my interpretation of the helmsman docs.  However, it seems to just create the tiller deployment and service without an SA.

If you do not include the kube-system namespace in the helmsman DSF, helmsman wil

[2019-03-13 13:09] cdbyrd commented on #139
I can confirm the issue is related to the fact that the tiller deploy is not really declarative, it is more imperative.  Once tiller is installed, the DSF will not uninstall it (perform a helm reset).  The expectation is that if you changed the installTiller config from 'true' to 'false' that a `helm reset` would be performed.  This doesn't happen, therefore it impacts the following executions and

[2019-03-13 13:22] cdbyrd opened #216 "Tiller deployment should be declarative like applications"
Tiller is deployed via configuration in the DSF.  The tiller deployment should follow the same declarative model used by applications.
- If the "installTiller" property is set to true, and tiller is not installed, tiller should be installed with the defined configuration using the `helm init` command.
- If the "installTiller" property is set to false, and tiller is installed, tiller should be unin

[2019-03-14 02:00] bigbellyburger commented on #216
If this happens there needs to be another way to get helmsman to ignore the `kube-system` namespace. I'm currently doing this by setting `installTiller: false` for `kube-system`, which makes it ignore anything deployed to that namespace.

My use-case is that I have several helmsman instances connecting to the same kubernetes cluster, and each should only manage a subset of the namespaces.

[2019-03-14 02:05] bigbellyburger opened #217 "Better support for multiple helsman instances managing the same cluster"
Currently multiple helmsman instances, each with their own desired state files, can be used with the same cluster, give that they all disable the `kube-system` namespace by setting `installTiller: false`.

This feels a bit fragile, and if for some reason two helmsman instances would use the same namespace things wouldn't go as expected.

It would be nice if it was possible to tell helmsman what it

[2019-03-20 14:12] sami-alajrami commented on #207
should be fixed in v1.8.1 @ironhalo please reopen if the issue persists.

[2019-03-20 14:12] #207 closed

[2019-03-22 08:20] colachg opened #219 "panic: runtime error: slice bounds out of range"
[code]
Here is the output of `helm ls`:
[code]

[2019-03-22 08:32] colachg commented on #219
helmsman version: v1.8.1

[2019-03-22 15:53] hatemosphere commented on #219
@colachg could you please at least share your helmsman manifest?

[2019-03-22 18:46] sami-alajrami commented on #217
thanks @bigbellyburger .. you are right and we plan to fix this in the near future.
This was discussed in #173  .. So I would close this issue in favour of the older one.

[2019-03-22 18:46] #217 closed

[2019-03-25 03:28] colachg commented on #219
[code]
@hatemosphere

[2019-03-26 14:50] sami-alajrami commented on #219
@colachg this is because the code is expecting semversion for the chart (with dots) while in your case , the version uses dashes.

Semver is used widely, for example:
[code]
For a quick fix, change the version to `38512-72e6585e` if you can till we find a way around this.

[2019-03-26 14:56] sami-alajrami commented on #219
after a second though, I am not even sure we can support this since in `wx-server-38139-f17ebec3` we can't tell which is the chart and which is the version and as it stands, helm does not show these two items separately.

[2019-03-26 16:16] eperdeme opened #222 "labels not working"
Hello,

Unsure where I am going wrong here, any ideas?

[code]

[code]

[2019-03-26 16:17] eperdeme commented on #222
Ah there is a typo in the docs;

https://github.com/Praqma/helmsman/blob/master/docs/how_to/namespaces/labels_and_annotations.md

[2019-03-26 16:20] eperdeme commented on #222
Pull sent - https://github.com/Praqma/helmsman/pull/223

[2019-03-27 01:28] colachg commented on #219
@sami-alajrami Yes, you are right semver is used widely. Thanks for your time and I am changing the versions.

[2019-03-27 01:28] #219 closed

[2019-03-28 22:26] InfinityGone commented on #200
@sami-alajrami, I'm seeing the same behavior. The key is when you update a chart version, say from 2.0.0 to 2.0.1, `--show-diff` doesn't show anything. `helm diff` does. I see the same behavior on v1.7.4 and v1.8.1.

I can likely put together a small demo if it would be helpful. Let me know.

[2019-03-29 05:00] gordonbondon commented on #200
Looks like this was fixed here https://github.com/Praqma/helmsman/pull/221

[2019-04-01 07:53] #222 closed

[2019-04-01 10:22] eperdeme opened #224 "Not picking up changes to valuesfile"
Hello,

If I modify a key/value in valuesFiles, is the expected behaviour on a -apply to make the changes ?

Currently I've modified some values in my valuesfile and helmsman just seems to ignore these changes and say nothing is different.

[2019-04-01 10:29] #224 closed

[2019-04-02 15:30] RickS-C137 opened #225 "Pass Helm values file to docker container"
Hello guys,

I just discovered Helmsman and it sounds pretty interresting, but I have to admit that the docs have room for improvement. So there's a question I have but I can't find anything about it. So when using the Docker container in a CI pipeline, you pass the DSF to it. But what is with the Helm values files you specify in the DSF? How are they passed/copied into the docker container and wh

[2019-04-03 13:49] eperdeme opened #226 "Env substitution in values files"
Hello,

Is it possible to use the ${} environment variables inside the values Files?

I've checked the issues list and it looks like https://github.com/Praqma/helmsman/pull/121 was not merged, which looked to run the env parser against all the values files.

I'd prefer to keep all the config in the values Files rather than in the DSF

So rather than having to do some stuff via set and others via v

[2019-04-08 09:12] medzin opened #227 "Random behaviour for cluster with large number of releases"
I have staging cluster with very large number of releases (1000+) managed by one Tiller in kube-system namespace. When I am destroying one desired state file, Helmsman is unable to find (and delete) some releases that are defined in it.

It looks like the following code is causing all problems:
https://github.com/Praqma/helmsman/blob/7884ceb87558842a7d9d694796c6b631e9e4bb2f/helm_helpers.go#L85-L89

[2019-04-09 09:14] sami-alajrami commented on #225
hi @RickS-C137 .. we would love to have PRs improving/complementing the existing docs ..
for your question, you can start your CI job by cloning your git repo inside the container and that should ideally include your DSF as well as any other values files.
Some CI providers have a special command you add in your CI config file and it clones the repo for you automatically. E.g., CircleCI for has the

[2019-04-09 09:18] RickS-C137 commented on #225
Hi @sami-alajrami , atm I'm working on another thing, but will come back to this in the next weeks. This sound definitely helpful. So thank you very much! We're using Atlassian Bamboo. When I got it running I can document the steps to get it running here, if you like.

[2019-04-09 09:20] sami-alajrami commented on #225
Sure, that would be great!

[2019-04-09 12:05] lhotrifork opened #228 "Docker image with Helm 2.13.1"
I would love to have the following tag available: v1.7.4-helm-v2.13.1
Alternatively v1.8.1-helm-v2.13.1 would also solve my problem :)

[2019-04-09 13:06] sami-alajrami commented on #226
@eperdeme that's right .. would you be able to create a PR replicating what #121 initially had?

[2019-04-09 13:17] kevingimbel opened #229 "Unable to use after initial deploy. Go error: "panic: runtime error: slice bounds out of range""
I'm currently evaluating helmsman as a tool for my company and I am running into some issue; I cannot do anything after initially deploying two charts with helmsman.

---

I have a simple config file, see below.

[code]

This file was deployed with the following command:

[code]
This worked and the services were deployed. I then tried to add a third service by adding another block to the `apps` se

[2019-04-10 09:44] kevingimbel commented on #229
I'm not sure if this is a duplicate of #219 or if it is related to dots in chart names.

I created a reduced case that can be seen here on the Go playground:  https://play.golang.org/p/BLaDDfYj76Y

---

Correct me if my assumptions are wrong, but this is what I did:

- I manually installed the chart named "cerebro.manage" with helm
- Running `helm ls` returns the following
[code]

- Running `helm

[2019-04-11 14:35] fmotrifork opened #230 "Feature: Deploy only specific namespace.app"
I would love to be able to set a target (or a list of targets) for the `helmsman -apply` so i can iterate faster.
This will allow us to

- Only check the state in the cluster for the specified app for faster state check
- Be multiple people working on different apps in the same shared helmsman repo

[2019-04-14 22:22] tmc commented on #151
Any movement here?

[2019-04-16 11:23] eperdeme opened #231 "Feature - Helm Dependency Update"
Hello,

I'm trying to extend a chart by having a local chart to add a few extra Kubernetes settings (istio config).

The local chart has a requirements.yaml file which specifies the upstream chart dependency.
During a chart run I can do;
helm dep update
helm install/upgrade ./mychart

However in helmsman I can not find a way to make it do a dep update prior to attempting to install the chart.

hel

[2019-04-16 12:10] eperdeme commented on #231
I'll just copy the entire chart and make the modifications direct to a fork of the chart.

[2019-04-18 08:39] mkubaczyk opened #233 "No way to disable helm --debug for -dry-run helmsman flag"
I'd like to have an option to disable helm's `--debug` flag when helmsman's `-dry-run` is invoked, when currently it's helm's `--dry-run --debug`.

[2019-04-24 15:40] jc36 opened #236 "Import existing releases"
It would be nice to be able to import existing infrastructure (or part of it)

[2019-04-24 16:22] mkubaczyk commented on #230
Hi @fmotrifork, I've just proposed a new PR #237 that would introduce such feature. :-)

[2019-04-24 17:34] #233 closed

[2019-04-24 17:36] mkubaczyk opened #238 "-dry-run exposes secrets on yaml syntax fails (with or without verbose)"
Right now, when I run `-dry-run` and some yaml syntax error occurs, along with error message it exposes potentially confidential data, like:
[code]
I'd like to have an option to disable printing templated yamls when such error occurs.
Ideally with no verbose, I'd like to have just a simple error message and print yamls only when `-verbose` is set.

[2019-04-26 09:15] #238 closed

[2019-04-26 09:39] sami-alajrami commented on #228
@lhotrifork praqma/helmsman:v1.8.1-helm-v2.13.1 is now available .. sorry it took sometime to get around to this!

[2019-04-26 09:39] #228 closed

[2019-04-30 10:06] mkubaczyk commented on #230
Since #237 was merged recently, will you @sami-alajrami be preparing a new release containing that soon? I can't wait to get my hands on a release with this feature. :-)

[2019-05-02 10:51] jc36 commented on #231
Faced a similar situation.
Temporarily solved the problem by manually running the command `helm dependency update` in the chart folder

[2019-05-03 11:39] #226 closed

[2019-05-03 18:40] sami-alajrami commented on #230
this is shipped in v1.9.0 :)

[2019-05-03 18:40] #230 closed

[2019-05-07 05:26] lachlancooper opened #243 "Add support for helm-diff context flag"
We use helmsman to manage configuration for a number of infrastructure services, including grafana dashboards. These result in some very large ConfigMaps (often 10k+ lines), and thus large helmsman diffs even when making small changes.

The helm-diff plugin supports a context flag:
[code]

It would be great to add a similar flag to helmsman to pass through to helm-diff. This could reduce some diff

[2019-05-07 14:13] sharkymcdongles opened #244 "Is it possible to disable the initial search?"
That step takes like 30 minutes for our deployment. All of our version tags are put into our deployment file via pipelines, so the search step is very very pointless for us. Is there some way to bypass it with a flag or something? I couldn't find anything in the documentation.

If not are there plans to add it?

Basically 30 min for the search step then 5 min for the update meant it takes 35 min t

[2019-05-07 14:13] sharkymcdongles commented on #244
Other option would be to have it search for multiple things at once instead of going slowly line by line.

[2019-05-07 14:43] krogon commented on #244
Does `--target` flag helps you?
https://github.com/Praqma/helmsman/blob/master/docs/how_to/misc/limit-deployment-to-specific-apps.md#limit-execution-to-explicitly-defined-apps

[2019-05-07 15:34] sharkymcdongles commented on #244
@krogon Not really because we run it from a pipeline and have like 90 microservices deploying with it. Target would only work if we only wanted to run it against single services. We want to be able to update all faster.

[2019-05-07 19:28] ironhalo opened #245 "Feature Request: Support custom stable URLs"
By default Helm is initialized with https://kubernetes-charts.storage.googleapis.com as the default stable URL.  Please add support for initializing helm with a custom stable URL.

`helm init --stable-repo-url ...`

[2019-05-08 13:38] messiahUA opened #246 "error converting YAML to JSON"
I've been successfully using helmsman v1.8.1, but after upgrade to 1.9.0 it stops working because of:

prometheus has a lot of different values starting with $ and now they all get substituted thus breaking yaml

https://github.com/Praqma/helmsman/pull/240

[2019-05-08 16:34] eperdeme commented on #246
The quick fix is to use the escape method in Helmsman which would be $$ looking at the original MR - https://github.com/Praqma/helmsman/pull/122.

[2019-05-09 14:24] sami-alajrami commented on #246
@messiahUA as @eperdeme said, you can escape those values with `$$`
we could add a flag to disable substitution in values files

[2019-05-09 18:29] messiahUA commented on #246
ok, thanks

[2019-05-10 05:24] mvineza opened #247 "Deployment fails when local chart path contains white space"
I started using helmsman this week and I notice that if the local chart path contains a white space, deployment will fail.

Renaming the directory to remove white space fixes the issue.

I'm using helmsman v1.9.1.

My DSF is:

And here is the directory tree.

Can this be fix on upcoming versions?

Thanks.

[2019-05-15 03:29] regner commented on #179
helm-diff just cut a new release with my fix in it: https://github.com/databus23/helm-diff/releases

[2019-05-28 12:12] viroos commented on #191
i have the same issue with helmsman 1.8.1

[2019-05-28 18:01] xaka opened #250 ""helm diff upgrade ..." is missing helmFlags"
`upgradeRelease` function uses `helmFlags` while `diffRelease` doesn't (https://github.com/Praqma/helmsman/blob/master/decision_maker.go#L245)

[2019-05-31 14:42] JustinPlute opened #253 "Request for creating an Official Homebrew Package for OS X"

[2019-06-03 12:23] mkubaczyk opened #254 "Helmsman is removing untracked releases even with -target flag"
Even though -target flag is set to chart X, helmsman removes untracked Y release.
I would suppose targeting would scope it to specific chart only no matter what step of helmsman invoking it is.

And since I'm aware of -keep-untracked-releases flag, I still think this should not be required when target is set, because setting proper scope should have a precedence over such flag.

[2019-06-03 15:13] schollii opened #256 "encrypted secrets files not being decrypted by helmsman even if secrets plugin present"
helmsman version: 1.6.3

We have found that our helmsman setup does not decrypt secrets files before using them. Here is our folder containing files:

    helmsman.dsf
    values.yaml
    secrets.sops.yaml

and the helmsman.dsf has this:

    valuesFiles:
    - values.yaml
    secretsFiles:
    - secrets.sops.yaml

and we have the helm secrets plugin installed AND if I run "helm secrets install -f

[2019-06-03 16:35] schollii commented on #256
I'm trying 1.9.1 and getting this:

[code]
Any idea what's going on? There was no port forwarding attempt in 1.6.3 that I'm aware of. The 192.168.7.1 is my work LAN gateway address.

[2019-06-03 23:53] schollii commented on #256
I was able to upgrade helmsman to 1.7.4. The 1.9.1 will have to be re-visited once we have time to figure out the above error about port forwarding.

[2019-06-04 09:53] gdubicki commented on #254
I think this is a dangerous bug and should be resolved quickly. +1 to PR.

[2019-06-08 14:11] mkubaczyk commented on #151
Hi,
I've proposed #259 PR which is an answer for this (and expands the code from #152)

[2019-06-09 13:55] nvtkaszpir opened #261 "Option to output rendered helm .yaml files to other pipe"
Feature request:
Right now helmsman shows diff or rendered templates from hel in output if requested, but the problem is that everything is sent to stdout.

Would be nice to have rendered helm output to another pipe or file, which later on can be for example passed to other tools for additional inspection before pushing it to kubernetes.

[2019-06-20 11:46] #250 closed

[2019-06-20 11:56] #243 closed

[2019-06-21 10:12] #254 closed

[2019-06-21 10:51] #151 closed

[2019-06-21 11:20] #179 closed

[2019-06-21 11:26] sami-alajrami commented on #246
a new flag `--no-env-subst` is now available after merging #249

[2019-06-21 11:26] #246 closed

[2019-06-24 15:13] MarcinGinszt commented on #202
Where it is already supported? Documentation is silent about it

[2019-06-24 15:48] MarcinGinszt commented on #202
Oh, I've got it.  `wait` parameter must be set to `false`, as in default

[2019-06-26 12:31] sami-alajrami commented on #245
@ironhalo you can already override the default with your own by defining it in the helm repos stanza:

[code]

[2019-06-26 12:43] sami-alajrami commented on #244
@sharkymcdongles by search, are you referring to the validation if charts exist? If so, you could use `--skip-validation` to skip those checks.

[2019-06-26 12:46] sharkymcdongles commented on #244
Yes the initial chart search. If the chart isn't there I don't care if it
fails then. The search adds so much time for no reason from my perspective.

On Wed, 26 Jun 2019, 3:43 PM Sami Alajrami <notifications@github.com> wrote:

[2019-06-26 12:56] #247 closed

[2019-06-27 03:18] lachlancooper opened #264 "Problems with helmFlags in v1.10.0"
As of v1.10.0 user-supplied `helmFlags` are no longer passed to `installRelease()`, `upgradeRelease()`, or `reInstallRelease()`. This comes from changes in #259, perhaps as a result of adapting an older PR.

Additionally, #252 effectively added a number of extra flags including `--timeout` to `helm diff upgrade`. This is not supported by helm-diff and results in the following error if `timeout` is

[2019-06-27 14:17] mkubaczyk commented on #264
Hi,

I've caught same thing trying out 1.10.0 during envs deployment. I'll be trying to fix it and come with PR for this.

[2019-06-27 14:39] mkubaczyk commented on #264
#265

[2019-06-30 12:20] #264 closed

[2019-07-01 15:24] bv-sampling commented on #253
A homebrew package already exists:

[code]

[2019-07-01 15:25] jcardoso-bv commented on #253
A homebrew package already exists:

[code]

[2019-07-12 10:32] NandoTheessen opened #267 "helmsman --dry-run && --apply recreate the resource on every run"
Hi!
I've got an issue that I know should be fixed already but isn't.
I'm working with the anchore-engine which I've deployed into our K8s cluster and where whenever it is already deployed helmsman wants to re-create the release because the chart has changed (which is has not).
This is the output of `--show-diff` right after I deployed the application:
[code]

[2019-07-15 11:31] sami-alajrami commented on #267
Hi @NandoTheessen this is caused by this if statement https://github.com/Praqma/helmsman/blob/ebbb84280d45c3296238711a41006a813d7bcc08/decision_maker.go#L220

The first check `extractChartName(r.Chart)` results in `anchor` as you can verify [here](https://play.golang.org/p/6qFrP9LI0p9). The second part extracts the chart name from the helm state which you can check by running `helm ls`. If you see

[2019-07-17 07:39] lukipro commented on #231
It would be nice if helmsman could optionally call the ```helm dep up`` step before running the plan. Is there any plan to implement such a feature?

[2019-07-19 21:54] BenjaminSchiborr opened #270 "Helmsman recreates resources leading to loss of data"
I have a question regarding how Helmsman is handling the deployment of resources. When updating existing resources (deployments, but especially StatefulSets) Helmsman somtimes seems to be deleting and recreating the resources. This can lead to data loss, because it prevents RollingUpdates, or OnDelete updates.

I have not yet spent time on figuring out the exact circumstances when the deletion and

[2019-07-20 13:04] sharkymcdongles commented on #244
Any update on this? I could submit a pull request, but if there is disagreement over this topic it won't get merged and will be useless work on my end. Could add a new flag like --skip-initial-search or something along those lines.

[2019-07-22 09:55] sami-alajrami commented on #244
@sharkymcdongles didn't `--skip-validation` solve the issue for you?

[2019-07-22 10:33] sami-alajrami commented on #270
@BenjaminSchiborr could you provide more details about what happens? There are a couple of cases in which Helmsman decides to delete and reinstall the helm release because: a) it sees a change in the chart used (e.g. changing the chart name or the name in Chart.yaml not matching the chart directory name) or b) the desired namespace has been changed in the DSF .. this results in two operations: del

[2019-07-22 17:23] BenjaminSchiborr commented on #270
@sami-alajrami, thank you for the quick response and sorry for not providing any specifics in the initial message.

A) and B) are definitely not the case here. I haven't switched namespaces or chart names in a quite a while.

Below is one example of a STS that was effectively fully stopped and redeployed. The difference in the DSF was just the version of the chart. The delta in between versions we

[2019-07-22 17:45] BenjaminSchiborr commented on #270
This might be related to a missing field in the StatefulSet. I'll update this topic in a little bit.

[2019-07-22 19:41] BenjaminSchiborr commented on #270
The issue is caused by the selector missing in both Deployments and StatefulSets. This leads to an error message of the following kind:

[code]

This error message is only visible if *not* forcing the upgrade via helm. If one forces the upgrade the error message is swallowed and the resources are redeployed - which can lead to data loss.

This brings me back to my original question:

Shouldn't `--

[2019-07-23 08:59] sami-alajrami commented on #270
thanks @BenjaminSchiborr for digging more into this .. yes, it makes sense to make forcing upgrades optional!

[2019-07-24 23:38] ironhalo commented on #245
Thanks for the reply and sorry for the slow response.  I was able to test this today without success

My redacted DSF
[code]

This is the output from my CI pipeline (gitlab) where I'm unable to reach googleapis.com.
[code]

I'm able to successfully run things locally since I'm not behind the same firewall.

[2019-07-26 10:13] sami-alajrami commented on #267
@NandoTheessen should we close this issue? assuming that my answer above fixed your problem?

[2019-07-26 10:47] sami-alajrami commented on #245
thanks @ironhalo for clarifying this. It did not work because helmsman initializes helm before adding the repos (including overriding stable) .. I have changed the order in PR #271 .. you can test this with this image `praqma/helmsman:pr-271`

[2019-07-26 11:30] #245 closed

[2019-07-26 11:58] sami-alajrami commented on #231
This is implemented in PR #272  ..  @jc36 & @lukipro could you please test using the `--update-deps` with the docker image: `praqma/helmsman:pr-272`

[2019-07-26 12:23] sami-alajrami commented on #270
@BenjaminSchiborr the helm force option is made optional (and not used by default) in PR #273 .. could you please test it with the docker image `praqma/helmsman:pr-273`

[2019-07-29 15:57] luisdavim opened #274 "Helm v3"
Has anyone tested Helm v3? What kind of changes would be needed in Helmsman to support it?

[2019-07-29 18:34] BenjaminSchiborr commented on #270
@sami-alajrami : It looks like the pr-273 image does not contain your changes. "--force" is still added per default. "helmsman --help" also does not show the "force-upgrades" option.

[2019-07-30 10:25] #270 closed

[2019-07-30 10:52] sami-alajrami commented on #274
I haven't tried it yet .. but from the description of the changes (and from the top of my head):
- the part of Helmsman dealing with Tiller will no longer be needed.
- Helm 3 will allow releases of the same chart to use the same name in different namespaces which might require some code change in how Helmsman makes decisions.
- There might be some changes to how repositories are used.
- Additional

[2019-07-30 12:41] mkubaczyk commented on #274
Hi,

first of all, do we want to extend current code to optionally support v3 or to introduce a breaking change and drive the helm 3 specific version of helmsman?

[2019-07-30 13:50] sami-alajrami commented on #274
I think the support for v3 will be a breaking change and thus shouldn't be limited by trying keep backward compatibility in Helmsman. We should aim for a new version targeting helm v3 IMHO.

[2019-07-31 07:36] mkubaczyk commented on #274
+1
this would be a great opportunity to clean up the code significantly. Should be start a separate branch for this?

[2019-07-31 07:46] sami-alajrami commented on #274
@mkubaczyk yes

[2019-07-31 11:07] sami-alajrami commented on #270
@BenjaminSchiborr sorry about that, I must have built the wrong branch locally then. Now that the PR is merged, you can test with `praqma/helmsman:latest` instead.

[2019-08-02 18:11] sc250024 opened #276 "Helmsman diff incorrectly parses `$` variables from ConfigMap"
**UPDATE**: Tested on latest version `v1.11.0`, same result.

* **I'm submitting a ...**
  - [X] bug report
  - [X] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**

I'm not sure if this is a feature, or a bug, but it's related to the `--show-diff` flag.

* **What

[2019-08-03 06:23] AmirAliSobhGol commented on #276
This problem only occurs within values files.
i have the same issue with prometheus rules that i define in values.yaml.

[2019-08-05 09:35] sami-alajrami commented on #276
Hi @sc250024 & @AmirAliSobhGol yes, by default Helmsman tries to substitute any string starting with $ from environment variables .. to avoid this, there are two options:
1) if you don't wish to substitute environment variables anywhere, you can use the `--no-env-subst` flag to turn off environment substitution globally.
2) If you would like to use some environment variables but also want to keep

[2019-08-05 10:53] sc250024 commented on #276
@sami-alajrami Ah yes, that should do the trick.

[2019-08-05 10:53] #276 closed

[2019-08-05 19:18] BenjaminSchiborr commented on #270
@sami-alajrami : Looks good to me. One of my recent deploys warned me that there was an immutable service. I had to use `--force-upgrades` to resolve it.

[2019-08-06 01:53] RothAndrew opened #277 "Support Tiller's --history-max parameter"
Helm let's you set `--history-max` when you are running `helm init` in order to set the maximum number of configmaps/secrets that are saved. Helmsman does not support setting this variable when it deploys tiller.

[2019-08-09 09:50] MarcinGinszt opened #278 "Unclear errorr on wrong path in repository"
If Helmsman tries to install a Chart, that has a wrong path in the index.yaml, it spits out following error:

`Command returned with exit code: . And error message: Error: open /root/.helm/cache/archive: is a directory
Error: plugin "diff" exited with error`

which is pretty confusing

[2019-08-09 11:13] sami-alajrami commented on #278
@MarcinGinszt this error comes from the helm diff plugin .. if you run helmsman with the `--verbose` you will get the actual helm command causing this error and that might give an idea about the underlying cause.

[2019-08-12 10:19] wrdls opened #279 "App is always updated when using wildcard `*` chart version"
I have a bunch of apps that use an internal private chart. I want them to always use the latest chart version. When using helm directly I would just omit the chart version flag.

This can also be achieved by using `*` as the version:
[code]

However, helmsman always marks those apps as `desired to be upgraded` even though the chart hasn't changed between upgrades.
When I set the version to the lat

[2019-08-12 13:31] medzin opened #280 "Ability to disable env substitution only in value files"
Env variable substitution in desired state files is a very useful feature and I use it for dynamically generated test environments, but now when the substitution has been extended to the values files it causes problems with accidental value substitution (e.g. a lot of randomly generated passwords and command definitions contain `$` sign). I would be cool to disable substitution in value files so t

[2019-08-13 07:45] eperdeme commented on #280
Would this be an optional flag to disable substitution in values files? We make heavy use of the values files to inject variables in to our helm charts.

[2019-08-13 07:48] medzin commented on #280
To be backwards compatible this flag should be optional and by default set to false.

[2019-08-13 13:48] #280 closed

[2019-08-13 13:49] #277 closed

[2019-08-16 10:52] jcardoso-bv opened #286 "Helmsman 1.12.0 issue with local chart versions"
We use Helmsman to deploy local charts as follows:

[code]

Prior to v1.12.0 we never had any issues with this approach. With v1.12.0 we get the following error for every single locally deployed Helm chart:

[code]

Any suggestions would be welcome.

[2019-08-19 21:31] nvanheuverzwijn commented on #286
This PR #283 seems to be the problem

[2019-08-20 16:20] mkubaczyk commented on #274
FYI, in my spare time I'm working on it here https://github.com/mkubaczyk/helmsman/tree/helm-v3

[2019-08-20 16:56] #279 closed

[2019-08-21 20:03] nvanheuverzwijn opened #290 "Should substituteEnvInValuesFiles always be disabled ?"
substituteEnvInValuesFiles in values feels weird. This kind of break the relation between helm and helmsman. When using helm, there is no subsitution of environment variable in values.yaml however, by default, helmsman does it.

Would you prefer to keep substituteEnvInValuesFiles OFF by default and only do the subsitution it with a flag ?

[2019-08-23 19:15] sethatron opened #292 "Add support for totango/helm-ssm"
This Helm plugin allows SSM Parameters in S3 to be defined as expression in Helm that evaluate to the value of the SSM Parameter, like:

` htpasswd: "{{ssm /mgmt/docker-registry/htpasswd us-east-1}}"`

I'm not sure which aspect of Helm vs. Helmsman is preventing these plugins from being read in, but when I view the output of the Chart, the "{{ssm ...}}" value is returned instead of the parameter.

[2019-08-28 18:43] TechDawg270 opened #294 "Issue overriding default helm repos"
I edited my desired state specification to include the following:

[code]
Which resulted in an unexpected failure due to a default also needing to be specified for "incubator". Without setting a value for "incubator" it defaults to a URI not accessible due to the company firewall. In order to use our internal artifactory as a proxy I ended up with the following desired state specification

[code]

[2019-08-30 15:53] emilhdiaz commented on #292
@sethatron I have a WIP PR (https://github.com/Praqma/helmsman/pull/295) open for adding SSM Param support directly to Helmsman, would that still meet the requirement here?

[2019-08-30 15:56] sethatron commented on #292
Yes, your PR will also extend environment variable support which is currently unsupported in totango/helm-ssm. I can close this request if that PR will be merged soon.

Sent from ProtonMail Mobile

On Fri, Aug 30, 2019 at 11:53 AM, Emil Diaz <notifications@github.com> wrote:

[2019-09-01 22:23] sc250024 opened #296 "Helmsman runs `helm diff` with even with `-show-diff` off"
Greetings,

I'm running Helmsman in a CI/CD pipeline using two stages: **validate** and **apply**. In the **validate** stage, I run the following command against my cluster:

[code]

This results in a full validation, and a full diff of the changes that I want to see for verification. Next, in my **apply** stage, I run the following command:

[code]

Which is fine, but strangely, `helmsman` goes t

[2019-09-02 09:11] #227 closed

[2019-09-02 09:13] #286 closed

[2019-09-08 00:51] bergerx opened #297 "Allow tiller deployment only listen localhost"
We are having hard time integrating TLS support for tiller in our env. Also creating NetworkPolicy's to prevent access to tiller pods is not so easy since network policies are ALLOW-only, and we can't selectively DENY some pods.

Preventing tiller to listen the ports is another mitigation option to reduce the attack surface.

Here is an example from https://github.com/kabachook/k8s-security/blob/4

[2019-09-14 18:33] sethatron opened #299 "recreate-pods returning Invalid"
I'm using:

`...

    set:
      clusterAgent.enabled: true
      datadog.apiKeyExistingSecret: datadog-monitoring-api-key
      image.tag: latest-jmx
    helmFlags: [
      "--recreate-pods",
    ]
...
`

And it is returning: `Command returned with exit code: . And error message: Error: unknown flag: --recreate-pods`

Version: 1.11.0

[2019-09-23 12:15] marcelloromani commented on #42
The BOFH in me is suggesting to silently switch to the *proper* convention and let those who foolishly didn't follow it screw themselves as they deserve it.

_big winky face_

I think @schollii 's proposal is sensible.

[2019-09-23 17:36] nvanheuverzwijn commented on #299
I would recommend you to not rely on --recreate-pods but on a hash value in your annotations of your deployment based on some configuration files or on a generated datetime in your labels.

See this : https://github.com/helm/helm/issues/5218

Also, the problem may be that the --recreate-pods is only available in the upgrade command of helm and not the install. Not sure how helmsman handle this.

[2019-09-24 15:03] mkjmdski opened #300 "Feature Request: special ignored keys in yaml for using anchors in configuration"
Hey!
I think this would be pretty simple to implement, so basically I would like to have a key in my yaml configuration which would look like that

[code]
so any key starting in yaml with . would be ignored, so later on I could write something like this

[code]

currently this configuration is producing error that `.service` is not  known. This would be very helpful in writing DRY configs in yaml

[2019-09-26 08:37] chrisduong commented on #256
I have no issue with v1.12.0

[2019-09-26 19:44] jmontroy90 opened #301 "Feature Request: flag for disabling automatic add of default Helm repos"
We work in an extremely constrained networking environment both locally and in dev/qa/prod. As such, we are permanently unable to resolve these default Helm repos (from `main.go`):
[code]
I would like to add a flag to disable the automatic add of these default Helm repos. I'm more than happy to implement what I anticipate to be a minor change, but wanted to open it up for discussion first.

The PR

[2019-09-27 16:41] luisdavim commented on #301
Adding a flag to toggle off the default repos seems reasonable.

[2019-10-01 20:31] musabmasood opened #303 "Ability to add hooks and scripts?"
Is there a plan (or way) to add hooks/scripts during the lifecycle? For instance, after all charts have been upgraded, I want to run a script that runs some curls against the deployed services or initialize some databases etc.

[2019-10-09 21:06] jmontroy90 commented on #301
@sami-alajrami are you able to assist on potentially cutting a release?

[2019-10-09 21:29] luisdavim commented on #297
Why not use the tillerless option and avoid having tiller deployed at all?

[2019-10-09 23:42] bergerx commented on #297
We are already implementing it.

[2019-10-11 07:37] anandp-ib commented on #274
hi

[2019-10-11 10:41] luisdavim commented on #294
@TechDawg270 does #304 solve your problem?

[2019-10-17 11:08] mkubaczyk commented on #300
It's merged, you can wait for release or built yourself the newest version of the master branch

[2019-10-17 11:08] #300 closed

[2019-10-21 12:04] lhotrifork opened #308 "Regression: cannot upgrade Job.Batch"
Hey,

I have an issue using version v1.12.0 of helmsman where I get a validation error with an invalid template. It used to work in v.1.10.1.

[code]
I'm not actually updating the job itself, but rather a configmap used by the job.

[code]

[2019-10-21 16:53] kpucynski opened #310 "Local charts not working"
Local charts were working fine on helmsman up to `1.11.0`, defined by specifying local path:
[code]
The same config is not working on `1.12.0`:
[code]
No files were moved in the repository. Files on host are existing.
Reverting to version `1.11.0` fixes the issue.

[2019-10-21 18:44] luisdavim commented on #296
The `--show-diff` flag is not for enabling the diff plugin it's just to display it's output. I think that what you want is na new feature flag to disable the diff plugin.

[2019-10-21 19:23] luisdavim opened #312 "Docker build is failing"
The docker build is failing with:
[code]

[2019-10-21 19:33] luisdavim commented on #312
@mkubaczyk Any ideas? I can build it on my laptop but the build fails in docker.

[2019-10-21 19:54] mkubaczyk commented on #312
I know what's wrong, I'm preparing PR

[2019-10-21 19:56] luisdavim commented on #312
Ok, cool. But it's strange because it builds just fine outside of Docker.

[2019-10-21 19:57] mkubaczyk commented on #312
It's just a matter of how we pull dependencies

[2019-10-21 20:50] luisdavim commented on #312
Looks like that didn't work....

[2019-10-21 20:54] luisdavim commented on #312
oh, wait. it did. but I was expecting to see a new latest build on dockerhub. do you know how that works?

[2019-10-21 20:54] #312 closed

[2019-10-22 06:09] mkubaczyk commented on #308
I'd say Job kind doesn't allow to update itself if some certain parts were changed. And since you're trying to edit spec.template field, it tells you it is immutable. I'm surprised at this point that it was working previously. Are you sure you were changing the configmap checksum before and it's proven to work as expected?
Usually one had to remove the job (or leave it succeeded) and create anothe

[2019-10-22 06:17] mkubaczyk commented on #312
unfortunately I'm not aware of the dockerhub build's configuration, which would be helpful here :-)

[2019-10-22 06:59] lhotrifork commented on #308
Hi @mkubaczyk

This is a working patch of a batch job i helmsman v.1.10.1.
[code]

[2019-10-22 09:07] #310 closed

[2019-10-22 09:12] luisdavim commented on #308
I think the issue here is the version of helm, not helmsman, some validations where added in helm v2.13 I believe.

[2019-10-23 06:55] lhotrifork commented on #308
That still seems strange to me. I have not upgraded helm, and have been running v2.13.1 for a long time. The only changed part is helmsman.

[2019-10-23 07:19] luisdavim commented on #308
Helmsman doesn't apply the resources, it just calls Helm, so that error is either coming from Helm or the Kubernetes API. Did you upgrade the cluster?

[2019-10-23 07:26] lhotrifork commented on #308
No, the cluster has not been upgraded since the helm chart was last installed.

[2019-10-23 07:54] luisdavim commented on #308
Maybe tiller then?

[2019-10-23 08:00] lhotrifork commented on #308
Could be. I'm closing the issue for now, and fixing my chart so it won't be a problem. Thanks anyways.

[2019-10-23 08:00] #308 closed

[2019-10-24 09:30] estei opened #319 "Passing list to helm --set"
I might be using a feature in an unintended way, but here goes.

I am currently trying to pass a dynamically generated list of ip addresses to a helm chart in a setup.toml file.
This is [valid helm syntax](https://github.com/helm/helm/blob/7cbed3f77bd771dfb46c63733c497e8c05225422/docs/using_helm.md#the-format-and-limitations-of---set) with `{item1, item2}` as the value

Example of the config (IP a

[2019-10-25 09:19] sami-alajrami opened #321 "Helmsman roadmap"
@luisdavim @mkubaczyk (and others), I have drafted a document outlining a potential roadmap for improvements and new features in Helmsman as it moves to support helm v3.
https://docs.google.com/document/d/1tpOnR_DvVUczJQFnnY9FCAYaFn55PqWURmNFdzh-pHk/edit?usp=sharing

I would love your feedback and input on this and we might schedule a hangout to finalize it and break it down into backlog tasks and

[2019-10-25 11:36] luisdavim commented on #301
this is available in tag `v1.12.1`

[2019-10-25 11:36] #301 closed

[2019-10-25 11:38] luisdavim commented on #319
Hi, try using `setString` instead of `set`.

[2019-10-25 13:20] mkubaczyk commented on #321
I really like the idea of drawing a map for the product. While Helm v3 will change drastically the way helm works, since we have helm-tiller on the board, the changes will mainly focus on removing redundant tiller-aware part of code. I've started working on it, but some more important things came up and had to stop my work.
I'm up to prioritze the features you've marked and also reorder them in fo

[2019-10-25 14:03] mkubaczyk commented on #321
I'd also go through all the issues still open and close most of the ones being inactive or not confirmed to get broader view of current state

[2019-10-25 18:51] luisdavim commented on #321
Looks good to me, only one concern about enforcing  the GitOps model, my current use case for Helmsman is no GitOps. I have a controller that manages a desired state CRD and generates k8s jobs that run Helmsman to apply the state, one desired state per namespace.

[2019-10-25 18:57] luisdavim commented on #321
I was going to work on some cleaning and refactoring but if you're already working on helmv3 it might conflict. My plan was to convert some of the functions into object methods of the release and desired state objects and maybe group some of the code into packages.

[2019-10-29 18:25] luisdavim opened #327 "use `--output json` when possible"
The new version of helm added the `--output json` option to most commands. We should take advantage of that since it's much cleaner and robust to parse json than parsing tabular outputs.
https://helm.sh/blog/2019-10-22-helm-2150-released/

[2019-10-30 20:57] musabmasood commented on #286
I am still seeing this issue in 1.12.0. After installing the local chart, the subsequent `-apply` gives this error.

[2019-10-30 21:04] nvanheuverzwijn commented on #286
Try the latest version on master. 1.12.0 buggy. Either try 1.12.1 or 1.13.0 that just got release today.

[2019-10-31 11:17] leemorrisdev opened #328 "Stack trace when dry running a local chart"
Applying a local chart and then dry-running the same chart results in a stack trace if a version is not specified in the Chart.yaml file.

Version: v1.13.0

[code]

Note the `CHART` column does not contain a version suffix.

Subsequent dry run on the same chart results in this:

[code]

With a version field in Chart.yaml the same flow works as expected.

Not sure what the behaviour should be in th

[2019-11-01 17:36] mkubaczyk commented on #274
It's been humongous work so far, but we're close to the end I'd say.
Tiller-related parts were removed, logging has been reconfigured to follow some standard, changed lots of messages and aligned the logic of helmsman to helm 3 (since some things have changed).
Tests were also updated.
I've been testing it with rc1 of helm 3. Seems to work for both helm-secrets and hiera-eyaml secrets.
At this poi

[2019-11-13 21:21] mkubaczyk commented on #274
Since v3 was just released https://helm.sh/blog/helm-3-released/ let’s focus on releasing at least beta helmsman 3 to support it. My PR still waits for some reviews :-)

[2019-11-14 05:12] luisdavim commented on #274
Thanks for working on this. I'm currently travelling so it might take me a while to get to review the changes.

[2019-11-19 23:11] TechDawg270 commented on #294
That fix should suffice. I would say this can be closed as a result of that work

[2019-11-19 23:11] #294 closed

[2019-11-22 15:02] ivelichkovich opened #330 "Helmsman evaluating $"
I have a values file with $ in it. When I deploy with regular helm it works fine, when I deploy with helmsman anything with a $ is missing. Here are examples from the configmap that is deployed.

helmsman
replacement: /api/v1/nodes//proxy/metrics
...
replacement: ':'
...
      - alert: NodeDiskPressure
        annotations:
          description: Node `{{ .node }}` showing Disk Pressure
          s

[2019-11-22 15:27] eperdeme commented on #330
Unsure on the yaml->json element, but the $'s character is used for variable substitution.

https://github.com/Praqma/helmsman/blob/master/docs/desired_state_specification.md

You can use environment variables in the desired state files. The environment variable name should start with "$", or encapsulated in "${", "}". "$" characters can be escaped like "$$".

Starting from v1.9.0, you can also us

[2019-11-22 15:53] ivelichkovich commented on #330
Ahh yeah, thank you, just realized that was the issue and recently upgraded past 1.9 to get that feature and then forgot about it... thanks again

[2019-11-22 15:53] #330 closed

[2019-11-25 06:53] paksu commented on #274
Any progress on this? Would be awesome to try it out!

[2019-11-25 13:37] brorbw opened #331 "`brew install helmsman` installs helm 3 as dependency"
The title says it all

[2019-11-29 11:13] sc250024 opened #332 "Support `--set-file` flag"
# Description

Helmsman has support for the flag `--set` and `--set-string` as `set` and `setString` respectively. It should support the `--set-file` flag as `setFile` as well.

[2019-12-06 09:11] ekhaydarov commented on #191
have the same issue

helm was never any good with error messages. so then not sure what helmsman would do on top of that

[2019-12-06 16:30] mmccord-mdbuyline commented on #296
If I do a dry-run I'm getting the diff regardless of whether `-show-diff` is present or not. Additionally, when I do a dry-run, secrets are displaying regardless of whether `-suppress-diff-secrets` is on or off.

[2019-12-07 02:52] anthony-coder commented on #331
Currently ran into this error. Burned some cycles figuring this one out

[2019-12-09 00:28] chenrui333 commented on #331
I will fix this.

[2019-12-09 21:43] iamaverrick commented on #274
Any progress on this? currently waiting for helmsman support of helm 3 thanks

[2019-12-10 10:24] luisdavim opened #334 "Helmsman should default to use secrets as storage backend when running in tillerless mode"
Since helmsman will be migrating to Helm v3 soon this is not a big deal but right now if you want to use helmsman in tillerless mode you also have to specify the storagebackend as secrets, this should be done automatically by default.

[2019-12-10 16:00] mkubaczyk commented on #321
@sami-alajrami I'll need some help with preparing CI for helm 3. Maybe even an access for me to circleci and other places that would help do that?

[2019-12-10 18:59] sami-alajrami commented on #321
@sami-alajrami great to see the momentum going on that .. I am not sure I can sort the circleci access since it's tied to Github organization.
I won't be available much until Friday next week .. but if you need my help for specific tasks, I will try to help as quickly as I can. I think my help would be needed to push a new `helmsman-test` image if needed and for setting env vars and other settings

[2019-12-10 19:13] mkubaczyk commented on #321
@sami-alajrami yes, the bare minimum would be unblocking the CI parts for helm v3 with proper test image to run tests against helm 3.
And then we’d need a way to start releasing betas and rc for helmsman with helm 3 support.
I’d skip helmsman 2.x version and go directly for 3.0.0 to be planned. I’d also move current master branch to some helm2 legacy one (to keep it and provide fixes for) and make

[2019-12-10 20:22] sami-alajrami commented on #321
Sounds good to me .. I think you can do the branch changing whenever you feel the helm 3 is taking shape (perhaps do it right away - create a helmsman 1.x branch from master and push it, then merge your PR when it's ready) and we carry on development from there on master.
We will need to update the circleci config for maintaining the two branches, but I guess configuring the helm2 branch pipeline

[2019-12-10 21:13] mkubaczyk commented on #321
Thank you for engagement. I think we can try out the image from test files from branch holding the v3, it has just updated helm to 3 and one plugin, no additional changes were needed

[2019-12-11 13:02] marcelloromani opened #335 "Does helmsman support creating secrets via env vars?"
i read in #54 "Currently, helmsman supports passing secrets via environment variables."

What does that mean? I haven't found an example in the documentation.
Maybe I missed something obvious?

The functionality I'm thinking about is creating a secret in a specific namespace taking e.g. username and password values from respecitve environment variables.

Happy to contribute a doc PR if needed.

[2019-12-11 14:07] luisdavim opened #336 "Helmsman is not deleting untracked releases"
Looks like when listing the existing releasees, helmsman only looks at the ones that are also present in the desired state so it never finds any untracked releases.

[2019-12-12 04:03] chenrui333 commented on #331
@brorbw @anthony-coder I have just merged a fix, can you give a try? Thanks!!

[2019-12-12 06:12] orefalo commented on #335
Same question here, I am puzzled around helmsman support around secrets

[2019-12-12 16:56] #336 closed

[2019-12-13 09:04] sami-alajrami commented on #321
`praqma/helmsman-test:helm3` is now pushed based on the dockerfile in your PR.

[2019-12-13 14:14] mkubaczyk commented on #321
great, finally got tests passing for the first time :-)

[2019-12-15 13:30] luisdavim commented on #335
No, Helmsman will not generate k8s secrets for you, what that means is that you can use env variables in the DSF instead of having them in plain text.

[2019-12-15 14:40] orefalo commented on #335
Sorry guy, I am a beginner.

Simple question, how would you translate the bellow?

[code]

[2019-12-16 09:46] luisdavim commented on #335
That command is not used in Helmsman afaik.
I think that would create a secret that would look something like this:
[code]

but for this type of questions you're better off asking them in the Kubernetes Slack https://kubernetes.slack.com/archives/C09NXKJKA

[2019-12-17 15:47] marcelloromani commented on #335
@luisdavim thans for the reply, but what is DSF in "what that means is that you can use env variables in the DSF instead of having them in plain text" ?

[2019-12-17 22:52] luisdavim commented on #335
You should read the docs. DSF stands for desired state file.

[2019-12-18 20:12] pradovic opened #341 "panic: runtime error on every command in helmsman"
Hi,

Seems like helmsman is panicking with helm 3.x:
[code]

I believe the reason is because the helm version short format is changed to:
[code]

[2019-12-19 02:53] mayppong commented on #341
helmsman doesn't support helm 3 yet. There's a ticket and a PR open for it. I'm also waiting. It seems pretty close.
https://github.com/Praqma/helmsman/issues/274
https://github.com/Praqma/helmsman/pull/329

[2019-12-20 08:36] mkubaczyk commented on #321
@sami-alajrami build on dockerhub for newest commit (which is merge of helm-v3 branch) has failed and I can't even see what was wrong. Will you help please sort it out? :-)

[2019-12-20 11:03] sami-alajrami commented on #321
it was a temporary glitch in CircleCI , a reRun without changes has worked fine.

[2019-12-20 16:35] marcelloromani commented on #335
Thanks

[2019-12-23 19:30] mayppong opened #348 "helmsman 3.0.0-beta1 not able to find helm charts without v1 release"
I recently migrated charts over to helm 3, and now I'm trying out helmsman 3.0.0-beta1. When I try to run `helmsman -f helmsman.yaml` however, I get this message.
[code]

It seems like helmsman couldn't detect that I already have newer revisions of helm chart installed, and that the revision v1 of the chart has been deleted from the historical record keeping.
[code]

[2019-12-24 09:42] luisdavim commented on #348
have you converted your releases from `ConfigMaps` to `Secrets`?

[2019-12-24 09:44] #335 closed

[2019-12-25 11:19] sami-alajrami commented on #348
this caused by this line https://github.com/Praqma/helmsman/blob/9ce249b97c6a3a4fd53058b6b1b78ac72da94cee/internal/app/kube_helpers.go#L329

I wasn't aware that v1 could disappear from history  .. we may need to use the latest revision in the line above instead of hardcoded v1.

[2019-12-25 11:41] sami-alajrami commented on #303
@musabmasood sorry for the late response .. for the use cases you mentioned, you could use [helm hooks](https://helm.sh/docs/topics/charts_hooks/) in your chart to run a post-install/post-upgrade jobs which basically run your scripts. Alternatively, if you want to perform some tests on the apps you could use [helm tests](https://helm.sh/docs/topics/chart_tests/) and configure `test = true` for you

[2019-12-25 11:44] sami-alajrami commented on #274
@paksu @iamaverrick helmsman 3.0.0-beta1 was releases a few days ago.

[2019-12-25 11:46] sami-alajrami commented on #341
@pradovic for helm v3, please use Helmsman v3.0.0-beta1.
I will close this issue but feel free to open new ones if you face other problems.

[2019-12-25 11:46] #341 closed

[2019-12-25 11:47] #274 closed

[2019-12-25 11:53] sami-alajrami commented on #292
this was shipped in v1.13.0.
I will go ahead and close this issue.

[2019-12-25 11:53] #292 closed

[2019-12-27 17:46] Azulinho opened #351 "multiline text block within the `set` block"
Having trouble passing a multiline block of text to my `set` dictionary,
I've noticed that the YAML implementation within the `set` block is a bit funky and doesn't really follow the YAML spec

[code]

[code]

It looks that it doesn't support the multiline YAML indicator `|-`, I tried a few of the different variations but it doesn't seem to be soaking the YAML as yaml.

is there a way to pass a mu

[2019-12-27 21:12] mayppong commented on #348
I did not see any of the releases in ConfigMaps, I think the helm migration plugin did that job for me already.

Thank you both of you for the prompt response, and taking time out of the holiday season to fix this for me :)

[2019-12-29 13:24] #348 closed

[2019-12-30 00:20] luisdavim commented on #274
Is there anything missing before we move out of beta a do an official v3 release? Any known issues?

[2019-12-30 00:22] luisdavim opened #352 "Dockerhub builds are failing"
I don't know if it's just for the beta tags but the dockerhub builds have been failing on recent pushes to master.

[2019-12-30 09:17] sami-alajrami commented on #351
since you have several values being set, why not have your custom values file instead?
Also, which version of Helmsman are you using?

[2019-12-30 09:44] sami-alajrami commented on #352
this has been caused by changing the path of the Dockerfile in recent changes. I have updated the dockerhub autobuild config with the right path and now the build works. This didn't auto-build the tags , so if there is any tag missing, I can build and push them manually.  Just let me know.

[2019-12-30 09:50] sami-alajrami commented on #274
No issues on my end. I haven't tested the latest beta but if no issues are reported by users in the next week or so, we can cut the official release.
It would be great to have all the breaking changes released with the v3.0.0 , so if we still need to do any improvements which might introduce breaking changes, it should happen before v3.0.0 GA release.

[2019-12-30 17:09] sami-alajrami opened #354 "plan results and executed actions are not deterministic in v3.0.0-beta3"
When testing v3.0.0-beta3, one of the releases get skipped. In the output below, `consul` never get installed:

[code]

Here is the DSF apps stanza:
[code]
 On the next run, I get the following (2 releases [cassandra and postgres] disappear from the plan):

[code]

[2019-12-30 17:29] Azulinho commented on #351
Hi @sami-alajrami
I am work-around-it by using a values.yaml, however I would prefer to keep everything in one file.
I currently have one state.yaml file per namespace, and dedicated tillers on each namespace.

Had a look into the go library used and it looks to support the pipe operator, not sure why this wasn't eating it

[2019-12-30 17:30] Azulinho commented on #351
v1.13.0 btw

[2019-12-30 20:11] mayppong opened #355 "Error message when using helmsman 3.0.0-beta3 on existing charts without context"
I tried to run helmsman 3.0.0-beta3 on charts that were once managed by helmsman 2 but were migrated by helm 3 using helm 2to3 plugin. This is the message I got

[code]

I assume this is because the existing charts don't have any context information.

[2019-12-30 20:20] mayppong commented on #173
Hmm since helmsman 3 will support "context" for the DSF, can this issue be resolved by the context?

[2019-12-30 21:54] luisdavim commented on #354
I'll take a look.

[2019-12-30 22:44] luisdavim commented on #173
Yes, the context does solve this issue.

[2019-12-30 23:44] luisdavim commented on #355
I believe this is fixed in #353

[2019-12-31 00:52] luisdavim commented on #354
@sami-alajrami can you try a build from #353 ? I think the lack of mutexes was the issue.

[2019-12-31 07:53] sami-alajrami commented on #354
I haven't tried beta2 but I guess it has the same problem. I will try #353 and get back to you.

[2019-12-31 08:30] sami-alajrami commented on #354
thanks @luisdavim  .. I can confirm this is fixed in #353. This issue can be closed once its merged.

[2019-12-31 09:22] luisdavim commented on #274
Yes, that makes sense. One thing that I've noticed is that in v3 the flags for expanding variables in the DSF and values files have been reversed, I think we should change their names to reflect this change, flags with no in their names indicate their control something that is on by default.

[2019-12-31 09:27] sami-alajrami commented on #274
Makes sense. Let's change their names and review all the available flags!

[2019-12-31 12:21] #354 closed

[2019-12-31 12:22] luisdavim commented on #355
@mayppong can you test if `3.0.0-beta4` solves this issue for you?

[2019-12-31 12:24] luisdavim commented on #352
this seems to be fixed now, thanks.

[2019-12-31 12:24] #352 closed

[2020-01-01 19:24] sami-alajrami opened #357 "Helmsman labels get deleted upon helm failures leading to releases not being recoginzed by Helmsman"
Helmsman v3.0.0-beta4
Helm v3.0.1
Helm Driver (storage backend): secret

To reproduce:
1. Deploy any release with correct values (leads to successful deploy and helmsman adds it's labels)
2. Perform an upgrade with invalid values (lead to helm failure  `this creates a new secret for the new version but appears to overwrite the Helmsman labels on the older secret too`)
3. Rerun Helmsman with correc

[2020-01-01 22:21] mayppong commented on #355
@luisdavim  beta4 seems to work!
[code]

Haven't actually attempted to execute the changes yet. I don't want to do it on a holiday here in Canada. I'll run the full thing again tomorrow during work day. Thank you so much.

[2020-01-02 09:49] sami-alajrami opened #359 "should we disable adding stable/incubator helm repos by default?"
Helm 3 [no longer sets repos by default](https://helm.sh/docs/topics/v2_v3_migration/#overview-of-helm-3-changes):

[code]
Helmsman v3.0.0-betaX still adds those repos by default and we have  a flag to disable that behaviour. Should we reverse this (not add repos by default and provide a flag to add them) to be aligned with the helm 3 behaviour? Or the current behaviour is good enough?

Any though

[2020-01-02 09:58] eperdeme commented on #359
My thoughts is we should not add any repos by default and not have the feature flag. Instead maybe put in the example helmsman file adding the stable/incubator repos.

[2020-01-02 10:04] sami-alajrami opened #360 "Feature suggestion: have the ability to add pre and post deploy actions"
The idea I have is to allow referencing k8s yaml manifests to be applied before or after operating on a release in the DSF.

This is useful in scenarios where you need to deploy something that's not part of a 3rd party helm chart. For example, install CRDs (if they are not packaged in the chart), create a secret or a configmap needed by the chart, or perform some post-installation processing.

Som

[2020-01-02 10:30] mkubaczyk commented on #359
Let’s do what @eperdeme says. No flag at all, no default repos added, let’s make it explicitly required in order to add any repo. :-)

[2020-01-02 12:23] #357 closed

[2020-01-02 12:30] luisdavim opened #361 "Parallelise releases with the same priority"
In Helmsman v3 we already parallelised some actions to make the execution faster, should we also add some parallelisation to the plan execution? We can group the commands in the plan by their priority and execute all the commands with the same priority in parallel.

[2020-01-02 12:31] luisdavim commented on #359
I agree with @mkubaczyk and @eperdeme

[2020-01-02 12:50] eperdeme opened #362 "Local charts version fails validation (helm3 / helmsman beta4)"
Hello,

I get the following error when trying to use beta4 and helm3.

I have a chart called 'thanos' which is local. The version of the chart is 0.4.0. This chart has a depdency which is prometheus-operator which is 8.5.0.

Helmsman seems to be findng the 8.5.0 version of the Charts depdency and failing, instead of the 0.4.0 version of the chart.

Am I doing something wrong here?

[code]

[code]

[2020-01-02 12:59] eperdeme commented on #362
I'm not really any good with go, but a wild guess it could be;

[code]

https://github.com/Praqma/helmsman/blob/d33ce903e2bec4e97f5cd7eeea82641d60970c85/internal/app/release.go#L179

Does it match the first instance of version: it finds which is the dependency, or is there some logic that checks "version:" is at the begging of the line and not indented ? ?

[2020-01-02 17:58] luisdavim commented on #362
fixed via #363

[2020-01-02 17:58] #362 closed

[2020-01-02 22:33] mayppong commented on #355
I ran into some problem with some charts not recognizing resources that have been created. I think this might be helm itself though?

[code]
[code]

[2020-01-03 11:07] #359 closed

[2020-01-03 11:14] sami-alajrami commented on #355
@mayppong the error comes from helm indeed where it tries to create resources that already exist. What was the status before you ran the last helmsman commands and got those errors. Were the `kiam` and nginx-ingress` releases in deployed or failed state? Have you had the resources mentioned by the error messages created by any other means before (e.g. by running helm commands )?

[2020-01-03 11:29] sami-alajrami commented on #332
@sc250024 have you tried to add setFile with the existing `helmFlags` option?
should look like this (haven't tested it though):
[code]
The `helmFlags` option allows to pass any additional helm flags for a specific release.

[2020-01-03 12:02] PascalGomolka opened #366 "Modify or skip helm init"
Hi,

we are using Kubernetes v1.16 and helm in version 1.12.0.

For my understanding the api support changed in this kubernetes version:
apiVersion: extensions/v1beta1 is not supported anymore.

Now if I try to deploy an update of my code with the follwing helm command I get the following issue:

helmsman --verbose -f $MIP_FILE --skip-validation --ns-override $NAMESPACE --apply

2020/01/03 11:42:2

[2020-01-03 13:46] paksu opened #367 "Getting release context fails with kubectl 1.13.x"
This line https://github.com/Praqma/helmsman/blame/master/internal/app/kube_helpers.go#L266 seems to be failing at least with `kubectl` versions 1.13:
[code]

Running the `kubectl` command that gets executed also throws the same error:

[code]

I tested it with `kubectl` 1.14 and 1.17 and they both seemed to work but unfortunately we can't upgrade to those yet.

Looks like fetching the latest item